.subaccount_main {
  .sub_heading {
    color: #ddb363;
    font-size: 24px;
    letter-spacing: 0.9px;
  }
  .input_sections {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    .input_sections1 {
      width: 50%;
    }
    .MuiInputLabel-root {
      color: red;
    }
    p {
      color: #272727;
      font-size: 16px;
      letter-spacing: 0.54px;
    }
    p::after {
      content: "*";
      color: red;
    }
    .MuiOutlinedInput-root {
      width: 100%;
    }
    .MuiOutlinedInput-input {
      font-size: 20px;
      color: #4e4e4e;
      letter-spacing: 0.54px;
      opacity: 1;
    }
  }
  .user_input {
    .MuiInputLabel-root {
      color: red;
    }
    p {
      color: #272727;
      font-size: 16px;
      letter-spacing: 0.54px;
    }
    p::after {
      content: "*";
      color: red;
    }
    //     .MuiOutlinedInput-root{
    //         // width: 62rem;
    //         border-radius: 33px;
    //   }
    .MuiOutlinedInput-input {
      font-size: 20px;
      color: #4e4e4e;
      letter-spacing: 0.54px;
      opacity: 1;
    }
  }
  .user_permision {
    .MuiInputLabel-root {
      color: red;
    }

    p {
      color: #272727;
      font-size: 18px;
      letter-spacing: 0.54px;
    }
    p::after {
      content: "*";
      color: red;
    }
  }
  .users_active_section {
    //   margin-right: 50px;
    .MuiInputLabel-root {
      color: red;
    }
    p {
      color: #272727;
      font-size: 16px;
      letter-spacing: 0.54px;
    }
    p::after {
      content: "*";
      color: red;
    }
    .MuiOutlinedInput-input {
      font-size: 20px;
      color: #4e4e4e;
      letter-spacing: 0.54px;
      opacity: 1;
    }
    //  .MuiOutlinedInput-root{
    //      border-radius: 33px;
    //  }
  }
  .my_profile_btns {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    .user_btn_section {
      display: flex;
      justify-content: flex-end;
      button {
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        border-radius: 25px;
        opacity: 1;
        padding: 10px 25px;
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff;
        font-size: 16px;
        border: none;
        font-weight: 600;
        text-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        letter-spacing: 0.54px;
        cursor: pointer;
      }
    }
  }
  .MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot input {
    padding: 3px 4px 3px 6px;
  }
  .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-16awh2u-MuiAutocomplete-root
    .MuiAutocomplete-inputRoot
    input {
    padding: 3px 4px 3px 6px;
  }
}

@media only screen and (max-width: 1600px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root{
  //     width: 30rem;
  // }
}

@media only screen and (max-width: 1550px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 28rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 61rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 61rem;
  // }
}

@media only screen and (max-width: 1440px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 28rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 58rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 58rem;
  // }
  .subaccount_main {
    margin: 10px;
  }
}
@media only screen and (max-width: 1360px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 24rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 54rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 54rem;
  // }
  .subaccount_main {
    margin: 10px;
  }
}
@media only screen and (max-width: 1240px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 24rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 50rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 50rem;
  // }
  .subaccount_main {
    margin: 10px;
  }
}

@media only screen and (max-width: 960px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 20rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
  .subaccount_main {
    margin: 10px;
    padding: 0;
  }
  .subaccount_main .input_sections {
    flex-direction: column;
    gap: 0;
  }
  .subaccount_main .input_sections .input_sections1 {
    width: 100%;
  }
  // .subaccount_main .input_sections .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
}
@media only screen and (max-width: 768px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 20rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
  .subaccount_main {
    margin: 10px;
    padding: 0;
  }
  .subaccount_main .input_sections {
    flex-direction: column;
    gap: 0;
  }
  // .subaccount_main .input_sections .MuiOutlinedInput-root{
  //     width: 43rem;
  // }
}

@media only screen and (max-width: 580px) {
  .subaccount_main .my_profile_btns .user_btn_section {
    justify-content: center;
  }
  .subaccount_main .my_profile_btns {
    flex-direction: column;
  }
  // .subaccount_main .input_sections .MuiOutlinedInput-root{
  //     width: 31rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root{
  //     width: 31rem;
  // }

  // .subaccount_main .MuiOutlinedInput-root{
  //     width: 31rem;
  // }

  .subaccount_main .user_btn_section {
    justify-content: center;
  }
  // .subaccount_main textarea{
  //     width: 33rem;
  // }
  .subaccount_main {
    padding-right: 0px;
  }
  .subaccount_main .user_btn_section button {
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 480px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 25rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root {
  //     width: 25rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root {
  //     width: 25rem;
  // }
  .users_main .user_sub-account button {
    width: 100%;
  }
  .subaccount_main .sub_heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 425px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 22rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root {
  //     width: 22rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root {
  //     width: 22rem;
  // }
  .users_main .user_sub-account button {
    width: 100%;
  }
  .subaccount_main .sub_heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 375px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 19rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root {
  //     width: 19rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root {
  //     width: 19rem;
  // }
  .users_main .user_sub-account button {
    width: 100%;
  }
  .subaccount_main .sub_heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 320px) {
  // .subaccount_main .input_sections .MuiOutlinedInput-root {
  //     width: 16rem;
  // }
  // .subaccount_main .user_input .MuiOutlinedInput-root {
  //     width: 16rem;
  // }
  // .subaccount_main .MuiOutlinedInput-root {
  //     width: 16rem;
  // }
  .users_main .user_sub-account button {
    width: 100%;
  }
  .subaccount_main .sub_heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
