.subaccount_main{
    padding-right: 50px;
    .sub_heading{
        color: #DDB363;
        font-size: 30px;
        letter-spacing: 0.9px;
    }
    .input_sections{
        display: flex;
        gap: 30px;
        p{
            color: #272727;
            font-size: 18px;
            letter-spacing: 0.54px;
        }
        p::after{
            content: "*";
            color: red;
        }
         .MuiOutlinedInput-root{
            //    width: 30rem;
               border-radius: 33px;
         }
         .MuiOutlinedInput-input{
            font-size: 20px;
            color: #4E4E4E;
            letter-spacing: 0.54px;
            opacity: 1;
         }
    }
    .user_input{
    p{
        color: #272727;
        font-size: 18px;
        letter-spacing: 0.54px;
    }
    p::after{
        content: "*";
        color: red;
    }
    .MuiOutlinedInput-root{
        // width: 62rem;
        border-radius: 33px;
  }
  .MuiOutlinedInput-input{
    font-size: 20px;
    color: #4E4E4E;
    letter-spacing: 0.54px;
    opacity: 1;

 }
  }
  .user_permision{
    p{
        color: #272727;
        font-size: 18px;
        letter-spacing: 0.54px;
    }
    p::after{
        content: "*";
        color: red;
    }
  }
  .users_active_section{
      p{
        color: #272727;
        font-size: 18px;
        letter-spacing: 0.54px;
      }
      p::after{
        content: "*";
        color: red;
    }
    .MuiOutlinedInput-input{
        font-size: 20px;
        color: #4E4E4E;
        letter-spacing: 0.54px;
        opacity: 1;
    
     }
     .MuiOutlinedInput-root{
         border-radius: 33px;
     }
  }
  .user_btn_section{
      display: flex;
      justify-content: flex-end;
      padding: 30px;
      button{
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;
        opacity: 1;
        padding: 10px 50px;
        background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
        color: #FFFFFF;
        font-size: 18px;
        border: none;
        font-weight: 600;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 0.54px;
        cursor: pointer;
      }
  }
}