@media only screen and (min-width:1910px) and  (max-width: 1925px){
    .Favorites_Deals{
        position: absolute;
    color: #FFFFFF;
    margin-top: 138px;
    font-size: 40px;
    font-family: unset;
    }
}


@media only screen and (min-width:1020px) and  (max-width: 1026px){
    .Favorites_Deals{
        position: absolute;
    color: #FFFFFF;
    margin-top: 80px;
    font-size: 20px;
    font-family: unset;
    }
}
@media only screen and (min-width:1430px) and  (max-width: 1445px){
    .Favorites{
        gap: 15px;
    }
    
    .Favorites_Deals{
        position: absolute;
    color: #FFFFFF;
    margin-top: 108px;
    font-size: 22px;
    font-family: unset;
    }
}
@media only screen and (min-width:760px) and  (max-width: 770px){
   .Favorites{
       gap: 10px;
   }
    .Favorites_Deals{
    position: absolute;
    color: #FFFFFF;
    margin-top: 69px;
    font-size: 17px;
    font-family: unset;
   }
}
@media only screen and  (max-width: 480px){
    .Favorites{
        flex-direction: column;
        gap: 5px;  
    }
    .Favorites_Sections{
        width: 100%;
    }
    .Favorites_Images{
        width: 75%;
    }
    .Favorites_Images2{
        width: 75%;
    }
    .Favorites_Deals{
        margin-top: 174px;
       font-size: 33px;
       font-family: 'Source Sans Pro';
    }
}
@media only screen and  (max-width: 320px){
        .Favorites{
            flex-direction: column;
            gap: 0px;  
        }
        .Favorites_Sections{
            width: 100%;
        }
        .Favorites_Images{
            width: 90%;
        }
        .Favorites_Images2{
            width: 90%;
        }
        .Favorites_Deals{
            margin-top: 97px;
           font-size: 22px;
        }
}