.Departments {
  .Departments_Body_Search {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    gap: 30px;
    .Departments_Body_Down_Pannel {
      display: flex;
      width: 512px;
      position: relative;
      flex-direction: column;
      user-select: none;
      // height: 34em;
      .Departments_Body_Down_Pannel_btn {
        background-color: #333c42;
        color: #ffffff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        margin: 0px;
        padding-left: 10px;
        opacity: 1;
        font-size: 22px;
        font-weight: bold;
        height: 60px;
        .Department_heading {
          margin: 0;
          letter-spacing: 1px;
          font-size: 22px;
          opacity: 0.9;
          display: flex;
          align-items: center;
          gap: 10px;
          .button_Icon {
            margin-right: 5px;
            width: 1.5em !important;
            height: 1.5em !important;
          }
        }
        z-index: 2;
      }
      .Departments_Dropdown_list {
        position: relative;
        .Body_Down_Pannel_btn_content1 {
          position: absolute;
          top: -5em;
          transition: top 1s ease-in-out, opacity 2s ease-in;
          .Body_Down_Pannel_btn_items {
            display: none;
          }
        }
        .Body_Down_Pannel_btn_content {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          transition: top 1s ease-in-out, opacity 2s ease-in;
          background-color: white;
          border: 1px solid #00000012;
          padding: 0;
          margin: 0;
          // min-height: 528px;
          .Body_Down_Pannel_btn_items {
            cursor: pointer;
            border-bottom: 1px solid #efefef;
            font-weight: 500;
            letter-spacing: 0.5px;
            font-size: 20px;
            color: #5c6369;
            display: flex;
            align-items: center;
            height: 52.8px;
            padding-left: 20px;
            font-weight: 600;
          }
          .Body_Down_Pannel_btn_items:hover {
            background-color: rgb(223, 217, 217);
          }
        }
      }
    }
    .search_bar {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 1em;
      .body__search_bar {
        line-height: normal;
        max-height: 5em;
        width: 100%;
        height: 60px;
        position: relative;
        font-size: 20px;
        color: #858a8e;
        .MuiPaper-root {
          height: 100%;
        }
        .search_bar_paper {
          border: 1px solid #d6d8d9;
          box-shadow: none;
          ::placeholder {
            color: #858a8e;
            opacity: 0.8;
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
          }
        }
      }
    }
    .Body_Searchbar_Down_images {
      display: flex;
      gap: 20px;
      align-items: flex-start;
      // min-height: 512px;
      .Body_Searchbar_Down_img1_div {
        display: flex;
        position: relative;
        .Body_Searchbar_Down_img1 {
          display: flex;
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        .Offers {
          position: absolute;
          /* opacity: 0.8; */
          background: url("../../../Assets/Home/rec.png");
          display: flex;
          flex-direction: column;
          padding: 2em;
          left: 8%;
          top: 18.5%;
          border-radius: 4px;
          color: #333333;
          max-width: 512px;
          .Products_offer {
            display: flex;
            line-height: 10px;
            font-size: 18px;
            margin: 0;
            font-weight: 600;
          }
          .Products_offer_per {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
          }
          .Products_offer_per_graph {
            flex-wrap: wrap;
            margin: 0;
            font-size: 18px;
            opacity: 1;
          }
          .Offers_buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-bottom: 10px;
            font-size: 5px;
            margin-top: 20px !important;
            gap: 8em;
            .Learn_more_btn {
              padding: 0.5em 2em;
              border-radius: 25px;
              border: none;
              color: #ffffff;
              font-weight: 700;
              letter-spacing: 1px;
              box-shadow: 0px 3px 6px #00000029;
              background-image: linear-gradient(#ffd788, #cc9b3e);
              font-size: 16px;
              cursor: pointer;
            }
            .Get_started_btn {
              padding: 0.5em 2em;
              border-radius: 25px;
              box-shadow: 0px 3px 6px #00000029;
              border: none;
              color: #ffffff;
              cursor: pointer;
              letter-spacing: 1px;
              font-weight: 700;
              background-image: linear-gradient(#20639b, #002d56);
              font-size: 16px;
            }
          }
        }
        .Offers > * {
          margin-top: 10px !important;
        }
      }
      .Body_Searchbar_Down_img2_div {
        display: flex;
        max-width: 30.75em;
        .Body_Searchbar_Down_img2 {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

@media (max-width: 1800px) {
  .Departments .Departments_Body_Search .Departments_Body_Down_Pannel {
    width: 372px;
  }
}

@media (max-width: 1660px) {
  .Departments .Departments_Body_Search .Departments_Body_Down_Pannel {
    width: 320px;

    .Departments_Dropdown_list .Body_Down_Pannel_btn_content li {
      height: 48.8px !important;
    }
  }
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Body_Down_Pannel_btn
    .Department_heading {
    font-size: 18px;
  }
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    .Body_Down_Pannel_btn_items {
    font-size: 16px;
  }
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Body_Down_Pannel_btn
    .Department_heading
    .button_Icon {
    width: 1.2em !important;
    height: 1.2em !important;
  }
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Body_Down_Pannel_btn,
  .Departments .Departments_Body_Search .search_bar .body__search_bar {
    height: 50px;
  }
}

@media (max-width: 1600px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 46.7px !important;
  }
}

@media (max-width: 1550px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 45px !important;
  }
}

@media (max-width: 1533px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 44.4px !important;
  }
}

@media (max-width: 1440px) {
  .Departments .Departments_Body_Search {
    .Departments_Body_Down_Pannel
      .Departments_Dropdown_list
      .Body_Down_Pannel_btn_content
      li {
      height: 41.25px !important;
    }

    .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers {
      top: 8%;
    }
  }
}

@media (max-width: 1366px) {
  .Departments .Departments_Body_Search .Departments_Body_Down_Pannel {
    min-width: 240px;

    .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers {
      left: 3%;
    }

    .Departments_Dropdown_list .Body_Down_Pannel_btn_content li {
      height: 38.65px !important;
      font-size: 18px !important;
    }
  }
}

@media (max-width: 1360px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 38.45px !important;
  }
}

@media (max-width: 1330px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 37.45px !important;
  }
}

@media (max-width: 1300px) {
  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 36.45px !important;
    font-size: 16px !important;
  }
}

@media (max-width: 1240px) {
  .Departments .Departments_Body_Search {
    .Departments_Body_Down_Pannel
      .Departments_Dropdown_list
      .Body_Down_Pannel_btn_content
      li {
      height: 34.35px !important;
    }

    .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers {
      left: 2%;
      .Products_offer_per {
        font-size: 40px;
      }
      .Products_offer_per_graph {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .Departments .Departments_Body_Search {
    gap: 16px;

    .Departments_Body_Down_Pannel {
      .Departments_Dropdown_list .Body_Down_Pannel_btn_content li {
        height: 33.65px !important;
      }

      .Departments_Body_Down_Pannel_btn .Department_heading {
        font-size: 18px;
      }

      .Body_Searchbar_Down_images {
        gap: 8px;

        .Body_Searchbar_Down_img1_div .Offers {
          left: 3.5%;
        }
      }

      .Departments_Dropdown_list .Body_Down_Pannel_btn_content li {
        height: 34.65px !important;
      }

      .Departments_Body_Down_Pannel_btn {
        height: 48px;
      }
    }

    .search_bar .body__search_bar {
      height: 48px;
    }
  }
}

@media (max-width: 1140px) {
  .Departments .Departments_Body_Search {
    .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers {
      top: 5%;
      bottom: 5%;
      right: 7%;
      left: 3%;

      .Products_offer_per {
        font-size: 32px;
      }

      .Offers_buttons .Learn_more_btn {
        padding: 0.5em 1em;
      }
    }
    .Departments_Body_Down_Pannel
      .Departments_Dropdown_list
      .Body_Down_Pannel_btn_content
      li {
      height: 31.5px !important;
    }
  }
}

@media (max-width: 1080px) {
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    padding: 1em;
  }

  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Departments_Dropdown_list
    .Body_Down_Pannel_btn_content
    li {
    height: 29.25px;
  }
}

@media (max-width: 1024px) {
  .Departments .Departments_Body_Search {
    .Body_Searchbar_Down_images {
      min-height: 372px;

      .Body_Searchbar_Down_img1_div .Offers {
        left: 3%;
        max-width: 372px;

        .Offers_buttons {
          .Learn_more_btn {
            padding: 0.5em 1.2em;
            font-size: 15px;
          }
          .Get_started_btn {
            padding: 0.5em 1.2em;
            font-size: 15px;
          }
        }

        .Products_offer_per {
          font-size: 26px;
        }
      }
    }

    .Departments_Body_Down_Pannel {
      min-width: 192px;
      height: unset;

      .Departments_Dropdown_list .Body_Down_Pannel_btn_content {
        min-height: 372px;

        .Body_Down_Pannel_btn_items {
          height: 37.5px;
          font-size: 16px;
        }
      }

      .Departments_Body_Down_Pannel_btn .Department_heading {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 920px) {
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images{
    flex-direction: column;
  }

}

@media (max-width: 768px) {
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images {
    min-height: unset !important;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images{
    flex-direction: row;
  }

  .Departments
    .Departments_Body_Search
    .Departments_Body_Down_Pannel
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    left: 4%;
    top: 13.5%;
  }

  .Departments .Departments_Body_Search .Departments_Body_Down_Pannel {
    display: none !important;
  }

  .Departments .Departments_Body_Search .Body_Searchbar_Down_images {
    min-height: 372px;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers .Products_offer_per{
    font-size: 24px;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers .Offers_buttons{
    margin-top: 10px !important;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers .Offers_buttons .Learn_more_btn{
    font-size: 14px;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers .Offers_buttons .Get_started_btn{
    font-size: 14px;
  }
}

@media (max-width: 647px) {
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images{
    flex-direction: column;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers{
    width: 100%;
    max-width:100%;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img2_div{
    max-width: 100%;
    width: 100%;
  }
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images .Body_Searchbar_Down_img1_div .Offers{
    justify-content: center;
  }

}

@media (max-width: 580px) {
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    .Products_offer,
    .Products_offer_per_graph {
      font-size: 12px;
    }
    .Products_offer_per {
      font-size: 18px;
    }

    .Offers_buttons {
      .Learn_more_btn,
      .Get_started_btn {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 480px) {
  .Departments .Departments_Body_Search .Body_Searchbar_Down_images {
    flex-direction: column;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Products_offer_per {
    font-size: 24px;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    top: 7%;
    left: 4%;
    max-width: 80%;
    padding: 1em;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Products_offer {
    font-size: 14px;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Products_offer_per_graph {
    font-size: 12px;
  }

  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Offers_buttons
    .Learn_more_btn {
    font-size: 12px;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Offers_buttons
    .Get_started_btn {
    font-size: 12px;
  }

  .Departments .Departments_Body_Search .Search_bar .Body__search_bar {
    height: 42px;
    padding-left: 2em;
  }

  .Departments .Departments_Body_Search .Search_bar .Search_Icon {
    top: 10px;
    left: 0.5em;
  }
}

@media (max-width: 375px) {
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    padding: 0.5em;
  }

  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Products_offer_per {
    font-size: 20px;
  }
}

@media (max-width: 320px) {
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers {
    max-width: 90%;
    top: 3%;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Offers_buttons
    .Learn_more_btn {
    font-size: 11px;
  }
  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Offers_buttons
    .Get_started_btn {
    font-size: 11px;
  }

  .Departments
    .Departments_Body_Search
    .Body_Searchbar_Down_images
    .Body_Searchbar_Down_img1_div
    .Offers
    .Offers_buttons {
    margin: 5px 0 0 !important;
  }
}
