.Favorites {
  display: flex;
  gap: 30px;
  .Favorites_Sections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100% / 5 - 0px);
    position: relative;
    .Favorites_Images {
      width: 100%;
    }
    .Favorites_Deals {
      position: absolute;
      color: #ffffff;
      font-size: 34px;
      top: 4.5em;
      margin: 0;
    }
    .Favorites_Images2 {
      position: relative;
      width: 100%;
      padding-bottom: 6px;
    }
  }
}

@media (max-width: 1660px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 4em;
  }
}

@media (max-width: 1533px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 5em;
    font-size: 24px;
  }
}

@media (max-width: 1366px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 4.5em;
  }
}

@media (max-width: 1240px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 4.25em;
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 5em;
  }
  .Favorites {
    gap: 0;
  }
}

@media (max-width: 1024px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 4em;
  }
}

@media (max-width: 768px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    font-size: 16px;
    top: 4em;
  }
}

@media (max-width: 480px) {
  .Favorites {
    flex-direction: column;
  }

  .Favorites .Favorites_Sections {
    width: 100%;
  }

  .Favorites .Favorites_Sections .Favorites_Deals {
    font-size: 32px;
    top: 6em;
  }
}

@media (max-width: 375px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 5em;
  }
}

@media (max-width: 320px) {
  .Favorites .Favorites_Sections .Favorites_Deals {
    top: 4em;
  }
}
