.SignIn{
    position: absolute;
    display: block;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    /* max-width: 400px;
    max-height: 500px;   */
     max-width: 789px !important; 
    transition: 800ms;
    opacity: 1;
    top: 23%;
    left: 23%;
    background-image: url('../../Assets/Productlist/Register_icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
     /* background-color: red;  */
     box-shadow: 0px 3px 6px #00000029;
    
}
.SignIn_popup_header{
    background-color: #333C42;
    display: flex;
    justify-content: center;
    height: 75px;
    flex-direction: column;
    /* padding:0px 20px 0px 0px; */
}
.Signin_welcome{
    display: flex;
    justify-content: center;
}
.Signin_section{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
}
.SignIn_popup_close_block{
    display: flex;
    justify-content: center; 
    width: 18px;
    background-color:#DDB363;
    margin-left: 761px;
    border-radius: 2px;
    margin-top: 0px;
}
.SignIn_popup_close{
    margin: 0;
    
    color: white;
    
}
.SignIn_popup_header_tag{
    color: white;
    margin: 0;
    
    /* position: absolute; */
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 30px;
   
}
.SignIn_popup_body{
    display: flex;
    gap: 30px;  
    box-sizing: border-box;
    
}
.SignIn_Note{
    margin: 10px 0px 0px 0px;
    font-family: 'Source Sans Pro';
    font-weight: bold; 
    color: #333C42;
    font-size: 15px;
    opacity: .7;
    letter-spacing: .4px;
    
}
.SignIn_Note::before{
    content: "*";
    color: red;

}
.SignIn_Note_keep_connect{
    font-family: 'Source Sans Pro';
    font-weight: bold; 
    color: #333C42;
    margin: 15px 0px 0px 0px;
    opacity: .7;
    font-size: 15px;
    letter-spacing: .4px;
}
.SignIn_Note_sign_heading,
.Guest_access_heading{
    color: #20639B;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    

}
.Sign_here{
    display: flex;
    flex-direction: column;
}
.SignIn_form_block{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 20px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;

}
.Signin_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 2px;
    left: 60px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color:#3E3E3E;
    opacity: .8; 
    /* box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px; */
}
.Signin_label::after{
    content: "*";
    color: red;
}
.SignIn_popup_Guest{
    display: flex;
    background-color: #F8F0E0;
    flex-direction: column;
    padding: 24px; 
    width: auto; 
}
.Guest_signin,
.Guest_access{
    display: flex;
}

.SignIn_popup_Guest_note{
    margin: 0;
    word-wrap: break-word;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #333333;
    opacity: 0.7;
}
.SignIn_Guest_block{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 3px;
}
.Guest_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 2px;
    left: 455px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
    opacity: .8;
}
.Guest_label::after{
    content: "*";
    color: red;

}
.Signin_inputfield{
    border-radius: 1px #CDD5DD;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
}
.Signin_page_fields_input{
    height: 25px;
    width: 290px; 
    border-radius: 1px #00000000;
    opacity: 0.4;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
}
.Signin_checkbox,
.Guest_checkbox,
.Guest_register_btn{
    display: flex;
}
.Signin_Check_box,
.Guest_Check_box{
    position: relative;
    display: block;
    width: 13px;
    height: 13px;
    cursor: pointer;
    border: none;
}
.Signin_Check_box input:checked ~ .Checkmark {
    background-color: yellow;
}
/* .Checkmark{
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(177, 22, 22);
} */
.Guest_checkbox_tag,
.Signin_checkbox_tag{
    margin: 1px 0px 0px 10px;
    color: #5C6369;
    font-family: 'Source Sans Pro';
    font-size: 13px;
    opacity: 0.8;
    font-weight: bold;
}
.Signin_button{
    padding:  10px 135px ;
    /* margin: 13px; */
    border-radius: 45px;
    border: none;
    background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
    color: white; 
    cursor: pointer;
    font-family:  'Source Sans Pro';
    box-shadow: 0px 3px 6px #00000029;
   font-weight: bold;
}
.Signin_forgot{
    display: flex;
    justify-content: center;
    
}
.Signin_forgot_password{
    margin: 0;
    color: #002D56;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    opacity: 0.8;
}
.Guest_page_fields_input{
    height: 25px;
    
    border-radius: 1px #CDD5DD;
    opacity: .4;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
    color: #CDD5DD;
    
}
.Guest_register_button{
    text-decoration: none;
    padding: 10px 91px  ;
    margin: 10px;
    border-radius: 45px;
    border: none;
    background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
    color: white;
    cursor: pointer;
    font-family:  'Source Sans Pro';
    box-shadow: 0px 3px 6px #00000029;
    margin: 13px;
    
}
