.registerproduct {
  padding: 0 1em;
  h1 {
    color: #ddb363;
    font-size: 30px;
    margin: 0;
    letter-spacing: 0.9px;
  }
  .registerproducts__form {
    padding-right: 8em;
    .input_separator {
      display: flex;
      gap: 2em;
    }
    .vendor_part_number {
      width: 48.1% !important;
    }
    .registerproducts_inputfields {
      width: 100%;
      position: relative;
      .other_main_category_box {
        width: 48.5%;
      }
      .popover {
        padding: 1em 3em;
        position: absolute;
        left: 20em;
        font-size: 14px;
        font-weight: 600;
        background: #ffffff;
        box-shadow: 0 3px 18px #00000029;
        top: -7px;
      }
      .active {
        color: #008000;
      }
      .inActive {
        color: #ff0000;
      }
      .validation_error {
        color: red !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        margin-top: 0em !important;
      }
      .asterisk {
        color: red;
      }
      .MuiInputLabel-root {
        font-size: 18px;
        font-weight: 600;
        color: #272727;
        margin-top: 2em;
        margin-bottom: 10px;
      }
      .MuiAutocomplete-root {
        .MuiFormControl-root {
          .MuiOutlinedInput-root {
            padding: 4px;
            .MuiAutocomplete-input{
              padding: 7.5px 50px 7.5px 6px;
            }
          }
        }
      }
      .MuiFormControl-root {
        & ::placeholder {
          text-transform: capitalize;
          font-size: 20px;
          color: #cdd5dd;
          opacity: 1;
        }
        .MuiOutlinedInput-root {
          input {
            // padding: 12.5px 14px;
            font: unset;
          }
          fieldset {
            legend {
              font-size: 1em;
            }
          }
        }

        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
          border: 1px solid #ddb363;
        }
      }
    }
  }

  .registerproduct__submit {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    align-items: center;
    & > * {
      cursor: pointer;
    }
    a {
      text-decoration: none;
    }
    .registerproduct__back {
      position: relative;
      font-size: 20px;
      color: #002d56;
      font-weight: 600;
      margin-left: 1em;
      &::before {
        content: "";
        border-left: 2px solid #002d56;
        border-top: 2px solid #002d56;
        transform: rotate(315deg);
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: -1em;
        top: 6px;
        color: #002d56;
      }
    }

    .registerproduct__submitbutton {
      font-size: 18px;
      padding: 0.6em 7.2em;
    }
  }
}

@media (max-width: 1660px) {
  .registerproduct h1 {
    font-size: 20px;
  }
  .registerproduct
    .registerproducts__form
    .registerproducts_inputfields
    .MuiInputLabel-root {
    font-size: 16px;
  }
  .registerproduct .registerproduct__submit .registerproduct__back {
    font-size: 16px;
  }
  .registerproduct .registerproduct__submit .registerproduct__submitbutton {
    font-size: 16px;
    padding: 0.4em 7.2em;
  }
}
@media (max-width: 767px) {
  .registerproduct .registerproducts__form .input_separator {
    flex-direction: column;
    gap: unset;
  }
  // .registerproduct .registerproduct__submit {
  //   flex-direction: column-reverse;
  //   align-items: center;
  // }
  .registerproduct .registerproduct__submit .registerproduct__submitbutton {
    padding: 0.6em 4.2em;
  }
  .registerproduct .registerproducts__form .registerproducts_inputfields .other_main_category_box {
    width: 100%;
  }
  .registerproduct .registerproducts__form .vendor_part_number{
      width: 100% !important;
  }		
  .registerproduct .registerproducts__form {
      padding-right: 1em;
    }
}
