.account_ifo_main{
    display: flex;
    flex-direction: column;
    .Account_heading{
        background-color: #F8F0E0;
        padding-left: 50px;
        color: #002D56;
        font-size: 18px;
        letter-spacing: 0.54px;
        font-weight: 600;
    }
    .account_info_edit{
        display: flex;
        justify-content: center;
        form{
            display: flex;
            gap: 20px;
            flex-direction: column;
            padding: 20px 20px;
       .inputfield_section{
        display: flex;
        gap: 40px;
        .MuiOutlinedInput-root{
            width: 35rem;
        }
        .inputfield{
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                color: #272727;
                font-size: 18px;
                letter-spacing: 0.54px;
                margin: 10px;
            }
            p::after{
                content: "*";
                color: red;
            }
            .input{
                min-width: 560px;
                height: 50px;
                padding-left: 10px;
                border: 1px solid #CDD5DD;
                
            }
        }
       }
    }
      .accountinfo_btn{
          display: flex;
          justify-content: flex-end;
          gap: 35px;
          
          .account_info_cancel{
              color: #002D56;
              font-size: 18px;
              background-color: white;
              padding: 10px 25px;
              border-radius: 25px;
              border: 1px solid #002D56;
              box-shadow: 0px 3px 6px #00000029;
              width: 22%;
              font-weight: 600;
              letter-spacing: 0.54px;
              text-shadow: 0px 3px 6px #00000029;
          }
          .account_info_save{
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 25px;
            opacity: 1;
            padding: 10px 25px;
            background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
            color: #FFFFFF;
            font-size: 18px;
            border: none;
            width: 22%;
            font-weight: 600;
            text-shadow: 0px 3px 6px #00000029;
          }
        }
      
    }
}