.account_ifo_main{
    display: flex;
    flex-direction: column;
    .Account_heading{
        background-color: #F8F0E0;
        display: flex;
        padding-left: 20px;
        color: #002D56;
        font-size: 18px;
        letter-spacing: 0.54px;
        font-weight: 600;
    }
    .account_info_edit{
        display: flex;
        justify-content: center;
        flex-direction: column;
        .form{
            display: flex;
            gap: 20px;
            flex-direction: column;
            padding: 20px 40px;
            width: 100%;
       .inputfield_section{
        display: flex;
        gap: 40px;
        
        .MuiOutlinedInput-root{
            width: 100%;
        }
        .inputfield{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            .MuiInputLabel-root{
                color: red;
                white-space: wrap;
            }
            .MuiFormControl-root{
                border: 1px  #CDD5DD;
            }
            .MuiInputAdornment-root{
                 height: 56px;
            }
            .margin{
                width: 35px;
            }
            p{
                color: #272727;
                font-size: 18px;
                letter-spacing: 0.54px;
                margin: 5px;
            }
            p::after{
                content: "*";
                color: red;
            }
            .input{
                min-width: 560px;
                height: 50px;
                padding-left: 10px;
                border: 1px solid #CDD5DD;
                
            }
        }
       }
    }
      .accountinfo_btn{
          display: flex;
          justify-content: flex-end;
          gap: 40px;
          .inputfield{
              width: 50%;
          }
           
          .account_info_cancel{
              color: #002D56;
              font-size: 18px;
              background-color: white;
              padding: 10px 25px;
              border-radius: 25px;
              border: 1px solid #002D56;
              box-shadow: 0px 3px 6px #00000029;
              font-weight: 600;
              letter-spacing: 0.54px;
              text-shadow: 0px 3px 6px #00000029;
              cursor: pointer;
              width: 22%;
          }
          .account_info_save{
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 25px;
            opacity: 1;
            padding: 10px 25px;
            background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
            color: #FFFFFF;
            font-size: 18px;
            border: none;
            width: 22%;
            font-weight: 600;
            text-shadow: 0px 3px 6px #00000029;
            cursor: pointer;
          }
         
        }
      
    }
}




// @media only screen and (max-width:1600px){
//     .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root{
//         width: 30rem;
//     }
// }
// @media only screen and (max-width:1440px) {
//     .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root{
//         width: 28rem;
//     }
// }

// @media only screen and (max-width: 1336px){
//     .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
//         width: 24rem;
//     }
//     }
// @media only screen and (max-width: 1240px){
// .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
//     width: 22rem;
// }
// }

// @media only screen and (max-width:1024px){
//            .My_profile_main{
//             margin: 50px 0px 20px 0px;
//            }
//            .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
//             width: 26rem;
//         }
// }
@media only screen and (max-width:960px){
    .account_ifo_main .account_info_edit .form .inputfield_section{
        flex-direction: column;
    }
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 45rem;
    // }
    
.account_ifo_main .account_info_edit .accountinfo_btn {
    justify-content: center;
}
.account_ifo_main .account_info_edit .accountinfo_btn .account_info_cancel{
    width: 40%;
}
.account_ifo_main .account_info_edit .accountinfo_btn .account_info_save{
    width: 40%;
}
}

@media only screen and (max-width:768px){
    .account_ifo_main .account_info_edit .form .inputfield_section{
        flex-direction: column;
    }
    // .account_ifo_main .account_info_edit .accountinfo_btn {
    //     // justify-content: space-between;
    // }
    .account_ifo_main .account_info_edit{
        justify-content: flex-start;
    }
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 42rem;
    // }
    .account_ifo_main .account_info_edit .accountinfo_btn .account_info_save{
        width: 50%;
    }
    .account_ifo_main .account_info_edit .accountinfo_btn .account_info_cancel{
        width: 50%;
    }
    .account_ifo_main .account_info_edit .form{
        width: 100%;
    }
}

@media only screen and (max-width:580px){
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root{
    //     width: 30rem;
    // }
    .account_ifo_main .Account_heading{
        padding-left: 23px;
        width: 100%;
    }
    .account_ifo_main .account_info_edit .accountinfo_btn{
        flex-direction: column;
        align-items: center;
    }
    .account_ifo_main .account_info_edit .accountinfo_btn .account_info_cancel{
        width: 100%;
        padding: 15px 25px;
    }
    .account_ifo_main .account_info_edit .accountinfo_btn .account_info_save{
        width: 100%;
        padding: 15px 25px;
    }
    
}

@media only screen and (max-width:480px){
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 26rem;
    // }
    .account_ifo_main .account_info_edit .form .inputfield_section{
        gap: 10px;
    }
    
    // .account_ifo_main .account_info_edit .form .inputfield_section  .MuiFormControl-root{
    //     width: 16rem !important;
    // }
    .account_ifo_main .account_info_edit .form{
        padding: 20px 7px;
    }
}

@media only screen and (max-width:425px){
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 22rem;
    // }
    .account_ifo_main .account_info_edit .form .inputfield_section{
        gap: 10px;
    }
    
    // .account_ifo_main .account_info_edit .form .inputfield_section  .MuiFormControl-root{
    //     width: 16rem !important;
    // }
    .account_ifo_main .account_info_edit .form{
        padding: 20px 7px;
    }
}


@media only screen and (max-width:375px){
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 19rem;
    // }
    .account_ifo_main .account_info_edit .form .inputfield_section{
        gap: 10px;
    }
    
    // .account_ifo_main .account_info_edit .form .inputfield_section  .MuiFormControl-root{
    //     width: 16rem !important;
    // }
    .account_ifo_main .account_info_edit .form{
        padding: 20px 7px;
    }
}
@media only screen and (max-width:320px){
    // .account_ifo_main .account_info_edit .form .inputfield_section .MuiOutlinedInput-root {
    //     width: 16rem;
    // }
    .account_ifo_main .account_info_edit .form .inputfield_section{
        gap: 10px;
    }
    
    // .account_ifo_main .account_info_edit .form .inputfield_section  .MuiFormControl-root{
    //     width: 16rem !important;
    // }
    .account_ifo_main .account_info_edit .form{
        padding: 20px 7px;
    }
}



