.vieworders_main {
  padding-top: 30px;
  .invoices__footer {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    .invoices__container {
      display: flex;
      align-items: center;
      font-size: 16px;
      color: #002d56;
      font-weight: 600;
    }
    .order_cancel_btn {
      width: 25%;
    }
    svg {
      width: 0.6em;
      height: 0.6em;
    }
  }
  .status_change_container {
    margin-top: 3em;
    .radio-btn-color {
      color: #878787;

      .MuiSvgIcon-root {
        width: 25px;
        height: 25px;
      }
    }
    .MuiRadio-root.Mui-checked {
      color: #002d56;
    }
    .select_text {
      font-size: 20px;
      color: #333c42;
      font-weight: 600;
      margin-left: 1.2em;
    }
    .status {
      padding: 0.5em 2em;
      border-radius: 30px;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 1px;
      box-shadow: 0px 3px 6px #00000029;
    }
    .confirm {
      background: #d5ecff;
      color: #20639b;
    }
    .dispatched {
      background: #fff6e5;
      color: #d9ad59;
    }
    .delivered {
      background: #e6ffea;
      color: #00b91c;
    }
    .MuiFormControl-root {
      .MuiFormGroup-root {
        display: flex;
        flex-wrap: initial;
        gap: 15px;
        .inventory_register {
          height: 35px;
          margin: 15px 0;
        }
      }
    }
  }

  /* purchase order status section design */
  .purchase_order_status {
    min-height: 250px;
    margin: 2em 0 2em;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    padding: 2em 3em;
    .purchase_order_section {
      padding: 20px 0;
      text-align: center;
      .purhcase_order_title {
        letter-spacing: 0.72px;
        color: #858a8e;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .purchase_status_stepper {
      width: 80%;
      margin: auto;
      .MuiStepper-root {
        // .MuiStepConnector-root {
        //   .MuiStepConnector-line {
        //     border-top-style: dashed;
        //   }
        // }
         .MuiStep-root.MuiStep-horizontal{
            opacity: 0.5;
          }
          .MuiStep-root.MuiStep-horizontal.Mui-completed{
            opacity: 1;
          }
       
        .MuiStep-root {
          .MuiStepLabel-root {
            display: flex;
            flex-direction: column;
            position: relative;
            .MuiStepLabel-iconContainer {
              svg {
                color: #ddb363;
                circle::after {
                  content: " \002E";
                  color: #fff;
                  width: 20px;
                  height: 20px;
                }
                text {
                  display: none;
                }
              }
            }
            .MuiStepLabel-labelContainer {
              position: absolute;
              left: 0em;
              top: 3em;
              .stepper_label {
                margin: 0;
                white-space: nowrap;
                font-size: 14px;
                font-weight: 600;
                color: #333c42;
              }
              .MuiStepLabel-label {
                display: flex;
                align-items: center;
                flex-direction: column;
              }
              .stepper_time_date {
                display: flex;
                gap: 1em;
                color: #ddb363;
                margin-left: -25px;
                .time {
                  border-left: 1px solid #cdd5dd;
                  padding-left: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .vieworders_heading_section {
    display: flex;
    gap: 20px;
    align-items: baseline;
    .header_section {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }
    .attach_invoice_btn {
      .sub_media_upload_label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
        width: -webkit-fill-available;
        justify-content: center;
        input {
          display: none;
        }
        img {
          width: 26px;
        }
      }
    }
    .id_heading {
      color: #858a8e;
      font-size: 22px !important;
      letter-spacing: 0.9px;
      margin: 0;
      .id{
        font-size: 22px !important;
      }
    }
    .purchase_date {
      font-size: 16px !important;
      .id {
        font-size: 16px !important;
      }
    }
    .id {
      color: #ddb363;
      font-size: 30px;
      font-weight: 600;
      margin-top: 6px;
      margin: 0;
    }
    .status {
      font-size: 12px;
      color: #20639b;
      background-color: #d5ecff;
      border-radius: 25px;
      padding: 7px 25px;
      text-align: center;
      margin: 0;
    }
  }
  .vieworders__table {
    margin-top: 1em;
    box-shadow: unset;
    .MuiTypography-root {
      font-size: 20px;
      letter-spacing: 0.75px;
    }
    .MuiTableHead-root {
      .MuiTableCell-root {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.54px;
        font-weight: 600;
        z-index: 9;
        background-color: #002d56;
      }
      .MuiTableCell-root:first-child{
        text-align: start;
      }
    }
    .MuiTable-root {
      .MuiTableFooter-root {
        display: none;
      }
    }
    .MuiTableBody-root {

      .MuiTableRow-root{
         .MuiTableCell-root {
           padding-top: 15px;
        }
       }

      .MuiTableCell-root {
        font-size: 16px;
        text-align: center;
        color: #333c42;
        letter-spacing: 0.54px;
      }
      .productname {
        display: flex;
        gap: 10px;
        align-items: center;
        .brand_image{
          display: flex;
          align-items: center;
          justify-content: center;
           height: 40px;
          width: 40px;
          img{
          height: 40px;
          width: 40px;
          }
        }

        .image {
          height: 40px;
          width: 40px;
        }
        .product {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          .modal_name {
            color: #333c42;
            font-size: 20px;
            letter-spacing: 0.6px;
            font-weight: 600;
            text-align: left;
          }
          .product_description_info{
            text-align: left;
          }
          .modal_content {
            color: #333c42;
            font-size: 18px;
            letter-spacing: 0.54px;
            text-align: left;
          }
        }
      }
      .vieworders_price {
        // width: max-content;
        .inr {
          font-size: 20px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 28px;
          letter-spacing: 0.84px;
          font-weight: 600;
        }
      }
      // .vieworers_sky {
      //   width: max-content;
      // }
      .vieworders_total {
        gap: 5px;
        // width: max-content;

        .inr {
          font-size: 20px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 28px;
          letter-spacing: 0.84px;
          margin-left: 4px;
          font-weight: 600;
        }
      }
    }
  }
  .vieworders_detail_section {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .heading {
      color: #002d56;
      font-size: 30px;
      font-weight: 600;
      margin: 0;
    }
    .details {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column;
      .hr_line {
        width: 56%;
        hr {
          border: 1px solid #ddb363;
        }
      }
      .vieworder_address {
        display: grid;
        grid-template-columns: 64% 34%;
        grid-gap: 2%;
        .address_section {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .vieworders_shippingaddress_section {
          display: flex;
          gap: 40px;
          .vieworders_shippingaddress {
            .vieworders_list {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 10px;
              .heading {
                font-size: 22px;
                color: #20639b;
                font-weight: 600;
                opacity: 1;
              }
              .name {
                color: #858a8e;
                font-size: 24px;
                letter-spacing: 0.72px;
                font-style: italic;
                font-weight: 600;
                opacity: 1;
              }
              .address {
                color: #959595;
                font-size: 24px;
                letter-spacing: 0.6px;
                white-space: wrap;
              }
            }
          }
          .vieworders_payment_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .payment_heading {
              margin: 0;
              font-size: 22px;
              color: #20639b;
              font-weight: 600;
              opacity: 1;
            }
            .payment_type {
              margin: 0;
              color: #959595;
              font-size: 24px;
              letter-spacing: 0.6px;
              font-style: italic;
              font-weight: 600;
            }
          }
        }
        .vieworders_total {
          background-color: #ffffff;
          padding: 30px;
          height: max-content;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .hr {
            border: 2px dashed #20639b;
            width: 100%;
          }
          .vieworders_list {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            .taxes {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .total_amount_heading {
                font-size: 30px;
                color: #002d56;
                font-weight: 600;
              }
              .gst {
                font-size: 14px;
                color: #5c6369;
                text-align: center;
              }
            }
            .total_heading {
              color: #878787;
              font-size: 22px;
              letter-spacing: 0.66px;
              font-weight: 600;
              border: 1px #00000000;
              text-align: left;
            }
            .total_amount {
              color: #333c42;
              font-size: 26px;
              letter-spacing: 0.78px;
              text-align: right;
              font-weight: bold;
              .currency {
                font-size: 17px;
                letter-spacing: 0.51px;
              }
            }
          }
        }
      }
    }
  }

  .vieworders__bg {
    margin: 0;
    height: 8px;
    background-color: lightgrey;
  }
}

@media (max-width: 1660px) {
  .vieworders_main .vieworders_heading_section .id_heading,
  .vieworders_main .vieworders_heading_section .id {
    font-size: 22px;
  }
  .vieworders_main .vieworders_heading_section .status {
    padding: 5px 25px;
  }
  .vieworders_main
    .vieworders__table
    .MuiTableBody-root
    .productname
    .product
    .modal_name {
    font-size: 14px;
  }
  .vieworders_main
    .vieworders__table
    .MuiTableBody-root
    .productname
    .product
    .modal_content {
    font-size: 14px;
  }
  .vieworders_main .vieworders__table .MuiTableBody-root .vieworders_price,
  .vieworders_main .vieworders__table .MuiTableBody-root .vieworders_total {
    .inr {
      font-size: 14px;
    }
    .price {
      font-size: 18px;
    }
  }
  .vieworders_main .vieworders_detail_section .heading {
    font-size: 18px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    .vieworders_payment_section .payment_heading,
    .vieworders_shippingaddress .vieworders_list {
      .address,
      .heading,
      .name {
        font-size: 18px;
      }
    }
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section
    .vieworders_payment_section
    .payment_heading {
    font-size: 18px;
  }
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    .vieworders_shippingaddress_section
      .vieworders_payment_section
      .payment_type,
    .vieworders_total .vieworders_list .total_heading {
      font-size: 18px;
    }
  }

  .vieworders_main .vieworders_detail_section {
    gap: unset;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .total_amount {
    .currency {
      font-size: 14px;
    }
    font-size: 20px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .taxes
    .total_amount_heading {
    font-size: 20px;
  }
}
@media (max-width: 1366px) {
  .vieworders_main {
    .vieworders_detail_section .details .vieworder_address {
      grid-template-columns: 53% 45%;
    }
  }
}
@media (max-width: 1200px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    flex-direction: column;
  }
  .purchase_status_stepper{
    width: 100% !important;
  }
}

@media only screen and (max-width: 960px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .address_section {
    width: 100%;
  }
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    justify-content: center;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .hr {
    border: 1px dashed #20639b;
  }
  .vieworders_main
    .status_change_container
    .MuiFormControl-root
    .MuiFormGroup-root {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    grid-template-columns: 100%;
    .vieworders_total .vieworders_list .taxes .gst {
      text-align: left;
    }
  }
  .purchase_order_status .purchase_order_section{
    padding-top: 0px !important;
  }
  .purchase_status_stepper .stepper_time_date {
    flex-direction: column;
    margin-left: 0px !important;
  }
  .purchase_status_stepper .stepper_time_date .date{
    margin-bottom: 0px;
  }
  .purchase_status_stepper .stepper_time_date .time{
    margin-top: 0px;
    border-left: none !important;
  }
}

@media only screen and (max-width: 580px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    flex-direction: column;
  }
  .vieworders_main .vieworders_detail_section {
    padding: 20px 10px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total {
    padding: 10px;
    margin: 0 10px;
  }
  .vieworders_main
    .purchase_order_status
    .purchase_status_stepper
    .MuiStepper-root {
      flex-direction: column;
      min-height: 630px;
      align-items: center;
       margin-top: 20px;
  }
  .vieworders_main .purchase_order_status {
    min-height: 600px;
  }
  .purchase_status_stepper .stepper_time_date {
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .purchase_status_stepper .stepper_time_date p{
    margin: 0px;
  }
  .purchase_status_stepper .stepper_time_date .time{
    border-left: 1px solid #cdd5dd !important;
  }
}

@media only screen and (max-width: 480px) {
  .vieworders_main .vieworders_heading_section {
    flex-direction: column;
    align-items: baseline;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list {
    flex-direction: column;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .taxes
    .gst {
    text-align: left;
  }
  .vieworders_main .invoices__footer .order_cancel_btn {
    width: 130px;
  }
}
