.progressbar-main-container {
  padding: 3em 0;
  .MuiBox-root {
    .MuiLinearProgress-root {
      height: 15px;
      background-color: rgb(231, 234, 238);
      border-radius: 50px;
    }
    .MuiLinearProgress-bar {
      background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
    }
    .MuiTypography-root {
      font-weight: 600;
    }
  }
  .loading-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 1;
    color: #002d56;
    font-size: 16px;
    letter-spacing: 0.54px;

    .b {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .b div {
      position: absolute;
      top: 43px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: #002d56;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .b div:nth-child(1) {
      left: 8px;
      animation: b1 0.6s infinite;
    }
    .b div:nth-child(2) {
      left: 8px;
      animation: b2 0.6s infinite;
    }
    .b div:nth-child(3) {
      left: 32px;
      animation: b2 0.6s infinite;
    }
    .b div:nth-child(4) {
      left: 56px;
      animation: b3 0.6s infinite;
    }
    @keyframes b1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes b3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes b2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(24px, 0);
      }
    }
  }
}
