.WhyTexub {
  /* background-image: linear-gradient(to left, skyblue , white); */
  padding-bottom: 30px;
  margin: 3em 0;
  color: #333333;
  flex-direction: column;
  width: 100%;
  background-image: url("../../../Assets/Productlist/blue-abstract-gradient-wave-wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  .Heading {
    font-size: 50px;
    padding-top: 17px;
    font-family: revert;
    opacity: 1;
    text-align: center;
    margin: 0;
    padding: 40px;
    color: #333333;
  }
  .Heading_tag {
    text-align: center;
    font-size: 20px;
    opacity: 0.8;
    font-weight: 600;
    color: #333333;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .B2B_Images_Section {
    display: flex;
    justify-content: center;
    max-width: 90%;
    gap: 5em;
    margin: 0 auto;
    .B2B_Images {
      display: flex;
      flex-direction: column;
      width: calc(100% / 3);
      .Card {
        height: 100%;
        width: auto;
        object-fit: contain;
      }
      .Card_Paragraph {
        font-size: 30px;
        opacity: 0.9;
        color: #333c42;
        padding-left: 10px;
        margin: 0;
        margin-top: 10px !important;
        width: 78%;
        text-align: center;
        text-transform: capitalize;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1533px) {
  .WhyTexub {
    .Heading {
      padding: 20px;
      font-size: 36px;
    }

    .Heading_tag {
      font-size: 18px;
    }

    .B2B_Images_Section .B2B_Images .Card_Paragraph {
      font-size: 18px;
    }
  }
}

@media (max-width: 1366px) {
  .WhyTexub {
    margin: 2em 0;
  }
}

@media (max-width: 768px) {
  .WhyTexub .B2B_Images_Section {
    gap: 1em;
  }
}

@media (max-width: 580px) {
  .WhyTexub {
    .Heading_tag {
      padding: 0 10px;
    }
    .B2B_Images_Section {
      flex-direction: column;

      .B2B_Images {
        width: 100%;

        .Card_Paragraph {
          font-weight: 600;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .WhyTexub .B2B_Images_Section {
    flex-direction: column;
  }

  .WhyTexub .B2B_Images_Section .B2B_Images {
    align-items: center;
  }
}

@media (max-width: 375px) {
  .WhyTexub {
    margin: 1em 0;
  }
}
