.PDP_page{
    display: block;
    top:62%;
    z-index: 99999;
    left: 15%;
    position: absolute;
    /* width: 60%; */
    height: fit-content;
    background-color: white;

}
/* .PDP_close{
    width: 6px;
} */
.PDP_close_Symbol{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px 7px 3px 7px; 
    left: 100%;
    top: -1%;
    font-size: 15px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
    /* height: 40px; */

}
.Pdp_header{
    display: flex;
}
.PDP_page_Group_icon{

        width: 0;
        height: 0;
        border-top: 140px solid #002D56;
        border-right: 140px solid transparent;
}
.PDP_Brand_Deals{
    position: absolute;
    top: 10px;
    left: 10px;
}
.PDP_page_brand_header{
    display: flex;
    position: absolute;
    left: 99px;
}
.PDP_Brand_Icon{
    position: relative;
    height: 70px;
    margin: 42px 0px 0px 0px;
}
.PDP_Brand_Icon_tag{
    position: absolute;
    padding: 10px 0px 0px 34px;
    height: 50px;
}
.PDP_Product_details{
    display: flex;
    flex-direction: column;
    padding-left: 62px;
}
.Product_Seller_id{
    background-color:#F8F0E0;
    width: 151px;
    color:#002D56;
    padding-left: 20px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}
.Product_Seller_model{
    margin: 0px;
    color: #333C42;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 21px;

}
.Product_Seller_model_details{
    margin: 5px 0px 0px 0px;
    color: #333C42;
    font-family: 'Source Sans Pro';
    font-weight: bolder;
    font-size: 14px;

}
.Product_rating_star_icons{
    padding: 50px 0px 0px 0px;
    gap: 10px;
    display: flex;
}
.Product_rating{
    margin: 0px;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    padding-top: 4px;
    color: #DDB363;
}
.Product_rating_icons{
    color: orange;
}
.Product_rating_icons1{
    color: #CDD5DD;
}
.Product_Toggle_switch{
    display: flex;
    padding: 50px 0px 0px 50px;

}
   .switch {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 23px;
    border-radius: 25px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

   .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 2px;
    background-color:#002D56;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* input:checked + .slider {
    background-color: #2196F3;
  }
   */
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
   .Product_notification{
      padding-left: 20px;

  }
  .Product_Toggle_notification{
      margin: 0px 15px 0px 5px;
      font-family: 'Source Sans Pro';
      color: #5C6369;
      font-weight: 900;
      text-transform: capitalize;
      opacity: .8;
  }
  .PDP_notification_tag{
      position: absolute;
      left: 83%;
      top: 9%;
      font-size: 8px;
      color: #858A8E;
      font-family: 'Source Sans Pro';
  }
  .PDP_notification_tag::before{
      content: '*';

  }
  .PDP_Warranty_Deliver_Retail{
      display: flex;
      justify-content:center;
      margin-top: 20px;
      gap: 40px;
  }
  .PDP_Warranty_Deliver_Retail_Section{
      display: flex;
      justify-content: center;
      gap: 5px;
  }
  .PDP_Warranty_Deliver_Retail_icons{
      height: 25px;
      
  }
  .PDP_Warranty_Deliver_Retail_icons_tag{
       margin: 0px;
       font-size: 14px;
       font-family: 'Source Sans Pro';
       font-weight: 600px; 
       padding-top: 3px;
  }
  .PDP_horizentel{
      margin:50px 20px 0px 20px;
  }
  .PDP_Price_list{
      display: flex;
      margin: 30px;
      margin: 0px 0px 0px 30px;
  }
  .PDP_Price_list_heading{
     margin: 0px;
     font-family: "Source Sans Pro";
     font-size: 15px;
     /* font-weight: bold; */
     color: #DDB363;
  }
  .PDP_table{
    display: flex;
    justify-content: center;
    margin: 10px 30px 0px 30px;
    flex-direction: column;
  }
  .PDP_table2{
      display: flex;
      justify-content: center;
      margin: 0px 30px 30px 30px;
      flex-direction: column;
  }
  .PDP_table_Header{
      gap: 30px;
      width: 100%;
      text-align: center;
      border: none;
      border-spacing: 0px;
  }
  .PDP_table_Header_heading{
    background-color: #CDD5DD;
  }
  .PDP_table_data{
      height: 40px;
      color: #333C42;
      font-family: 'Source Sans Pro';
      font-weight: bold;
      margin-top: 5px;
  }
  .PDP_add2wishlist{
      display: flex;
      gap: 10px;
      padding-top: 20px;
  }
  .PDP_wishlist{
      margin-top: 3px;
  }
  .Product_Sellerid{
      display: flex;
      margin-top: 8px;
  }
  .PDP_check_box{
      display: flex;
      justify-content: flex-start;
      gap: 20px;

  }
  .Product_Check{
      display: flex; 
      
  }
  .PDP_decrease,
  .PDP_increase{
      font-size: 40px;
      color:#002D56 ;
    }
.PDP_table_data_HUB{
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #D6D8D9;
    padding: 5px 8px;
    margin-top: 5px;
}
 .PDP_productHUB_title {
    background-color:#FFFFFF;
    /* border-radius: 25px ;
    padding: 5px 15px;
    border: 1px solid ; */
    opacity: .8;
    color: #5C6369;
    margin: 0px 20px;
    font-family: 'Source Sans Pro';
    font-weight: 700;

}
/* .PDP_productMOQ{
    display: flex;
    
} */
  .Products_NearestHUB{
      color: #DDB363;
      font-size: 15px;
  }
  .Product_count{
    /* background-color: #FFFFFF; */
    border-radius: 25px; 
    border: 1px solid #D6D8D9; 
    opacity: 1;
    color: #5C6369;
    height: 40px; 
    display: flex;
    justify-content:space-between;
    padding: 0px;
    margin: 0px 10px 7px 8px;
    font-weight: 700;
    /* display: flex;
    justify-content: ; */
    
    
  }
  .Product_Check-box{
    width: 18px;
    height: 30px;
    opacity: .5;
  }
  .Product_count_decrease,
  .Product_count_increase{
    display: flex;
    /* border: 1px solid #D6D8D9;
    border-radius: 25px; */
    /* gap: 10px; */
    color: #F5F5F5;
     
    
  }
   
  .PDP_nearest_HUB{
      display: flex;
  }
  .PDP_nearest_HUB_table{
      width: 100%;
  }
  .PDP_table2_Header_heading{
      background-color: white;
  }
  .PDP_table2_data{
      color: white;
  }
  /* .PDP_table_2{
    height: 40px;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    margin-top: 5px;
  } */
  
  .PDP_btns{
      display: flex;
      margin: 30px;
      justify-content: flex-end;
      gap: 20px;
  }
  .PDP_Offers_Section{
      display: flex;
      margin-top: 3px;
      gap: 20px;
  }
  .PDP_Offers{
      margin: 0px 8px 0px 0px;
      padding-top: 15px; 
      height: 23px;
  }
  .PDP_Offers_tag{
      font-family: 'Source Sans Pro';
      color: #002D56;
      font-weight: bold;
      opacity: 1;
      margin: 6px 0px 0px 0px;

  }
  .PDP_Offers{
      display: flex;
  }
  .PDP_Offers_img{
      margin-top: 7px;
      padding-right: 5px;
  }
  .PDP_add_to_wishlist{
      font-family: 'Source Sans Pro';
      color: #002D56;
      font-weight: bold;
      opacity: 1;
      margin: 0px;

  }
  .PDP_btns_wishlist{
    padding: 10px 26px 10px 26px;
    display: flex;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background: transparent linear-gradient(
            180deg, #ffd788 0%, #ad7c20 100%) ;
    color: white;
    cursor: pointer;
    font-family:  'Source Sans Pro';
    margin: 13px;
    gap: 5px;
  }
  .PDP_Producttable_Wishlist{
       
      
      padding: 2px;
  }
  .Product_footer{
    display: flex;
    background-color:#CDD5DD;
    justify-content: space-between;
    font: normal normal bold 15px/5px Source Sans Pro;
    height: 50px;
    padding: 0px 100px 0px 100px;
    padding-top: 20px;
    line-height: 6px;
  }
  .Product_footer_heading{
      color: #20639B;
      opacity: .7;
      font-size: 13px;
      font-family: 'Source Sans Pro';
  }
  .Product_footer_heading_tag{
      color: #002D56;
      opacity: 1;
      font-family: 'Source Sans Pro';
  }