.KYCform{
    display: flex;
    position: absolute;
    top: 24%;
    /* height: 1000px;
    width: 700px; */
    
    flex-direction: column;
}
.KYCform_Header{
    display: flex;
    justify-content: space-between;
    background-color: #FAEFDA;
    padding-left: 30px;
    padding-right: 20px;
}
.KYCform_Header_kycform{
    margin: 0;
    font-family:system-ui;
    color: #5C6369;
    font-weight: bold;
    margin-top: 12px;
    opacity: 1;
    font-size: 25px;
    letter-spacing: .8px;
}
.KYCform_body{
    display: flex;
    background-color: white;
    gap: 20px;
    padding: 30px;
    
}
.KYCform_headings{
    font-family:"Source Sans Pro";
    font-weight: bold;
    color: #5C6369;
    letter-spacing: .8px;
}
.v1{
    border: 1px solid #CCCCCC;
    

}
.KYCform_btn{
    display: flex;
    justify-content: center;
    padding: 5px 22px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D6D8D9;
    border-radius: 25px;
    opacity: 1;
    font-family: 'Source Sans Pro';
    letter-spacing: 0px;
    color: #5C6369;
    /* width: 98px; */
    font-size: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 129px;
}
.KYCform_btn:hover{
    background: linear-gradient(#FFD788, #CC9B3E);
    color: white;

}
 .KYCform_Licence_Block{
     display: flex;
     
} 
.KYCform_Tax_Block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.KYCform_licence{
    display: flex;
    gap: 20px;
}
.KYCform_Licence_format{
    margin: 0px;
    font-size: 8px;
    font-family: 'source sans pro';
}
.KYCform_Bank_Docs_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.KYCform_bank_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 50px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
    
}
.KYCform_City_label::after,
.KYCform_PIN_label::after,
.KYCform_office_label::after,
.KYCform_bank_label::after{
    content: "*";
    color: red;
}
.KYCform_PIN_label,
.KYCform_office_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 499px !important;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
}
.KYCform_office_inputfields,
.KYCform_bank_inputfield{
    height: 30px;
    border-radius: 3px #CDD5DD;
    opacity: .2;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
}
.KYCform_Header_kycform_close{
    font-family: inherit;
    color: white;
    background-color:#20639B;
    width: 18px;
    text-align: center;
    border-radius: 3px;
    padding-top: 0;
    cursor: pointer;
    /* margin-top: 0; */
}
.KYCform_categories_inputfields{
    height: 30px;
    border-radius: 3px #CDD5DD;
    opacity: .2;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
    width: 328px;

}
/* .KYCform_office_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 420px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
} */
/* .KYCform_PIN_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 420px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
} */
.KYCform_City_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 677px !important;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
}
.KYCform_Licence_Block_form,
.KYCform_for_office{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.KYCform_categories_inputfields_block,
.KYCform_Bank_Docs,
.KYCform_office_categories{
    display: flex;
    flex-direction: column;
}
.KYCform_Categories,
.KYCform_block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.KYCform_Categories_blocks,
.KYCform_PIN_City,
.KYCform_office,
.KYCform_bank_Acc,
.KYCform_Bankdetails,
.KYCform_office_address{
    display: flex;
    flex-direction: column;
}

.KYCform_office_PIN_City{
    display: flex;
    gap: 20px;

}
.KYCform_Passport_block{
    display: flex;
    gap: 20px;
    flex-direction: column;
    
}
.KYCform_Bank_Docs_btns{
    display: flex;
    gap: 10px;

}
.KYCform_submit{
    text-decoration: none;
    padding: 10px 150px;
    /* margin: 10px; */
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
    color: white;
    cursor: pointer;
    font-family:  'Source Sans Pro';
    box-shadow: 0px 3px 6px #00000029;
    /* margin: 13px; */
    font-weight: bold;
}
.bankname_Angle_down{
    position: absolute;
    padding: 8px 0% 0% 43% !important;
}
.Categories_Angle_down{
    position: absolute;
    padding: 8px 0% 0% 38%;
}
.City_Angle_down{
    position: absolute;
    padding: 8px 0% 0% 16%;
}
.KYCform_Check_box{
    width: 15px !important;
    height: 15px;
    color: #FBFBFB;
    opacity: .3;
}
.KYCform_checkbox_tag{
    margin: 1px 0px 0px 5px;
    color: #5C6369;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 13px;
}
/* .KYCform_Categories_blocks{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */
.KYCform_Hidden_blocks{
    display: flex;
    margin-top: 12px;   
}
.KYCform_Licence_Checkbox

/* .KYCform_licence_file_heading*/  { 
    display: flex;
}
.KYCform_Licence_label,
.KYCform_Lic_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 50px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
}
.KYCform_Licence_label::after,
.KYCform_Expire_label::after,
.KYCform_Lic_label::after{
    content: "*";
    color: red;

}
.KYCform_Licence_inputfield{
    height: 30px;
    border-radius: 3px #CDD5DD;
    opacity: .2;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
    width: 395px;
}
.KYCform_Lic_inputfields,
.KYCform_Expire_inputfields{
    height: 25px;
    border-radius: 3px #CDD5DD;
    opacity: .2;
    padding-left: 6px;
    font-family: 'Source Sans Pro';
    width: 181px;
}
.KYCform_Expire_label{
    position: absolute;
    margin: 0 !important;
    z-index: 9;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #FFFFFF;
    padding: 3px;
    left: 263px;
    font-size: 11px;
    font-family: 'source sans pro';
    font-weight: bold;
    color: #3E3E3E;
}
.KYCform_Licence_attach_label{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #20639B;
}
.KYCform_Check_box{
    width:40px  ;
}