.want_to_buy__container {
  .want_to_buy__sub_container {
    width: 90%;
    padding: 3% 1% 1%;
    gap: 1em;
    display: flex;
    flex-direction: column;

    .block_1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2em;
    }
    .hub_input {
      width: 48.3% !important;
    }
    .auto_complete_input {
      display: flex;
      flex-direction: column;
      .MuiFormControl-root {
        .MuiOutlinedInput-input {
         padding: 12px 54px 12px 12px !important;
        }
      }
      .MuiOutlinedInput-root {
        padding: 0px !important;
      }
    }
    .input_block {
      .validation_error {
        color: red !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        margin-top: 0em !important;
      }
      .block_1_input {
        width: 50%;
      }
      .asterisk {
        color: #ff0000;
      }
      .MuiFormControl-root {
        margin-top: 2em;
      }
    }
    .block_3 {
      gap: 1em;
      display: flex;
      flex-direction: column;
      .input_field {
        width: calc(100% - 5px);
        display: flex;
        flex-direction: row;
        gap: 2em;
      }
    }
  }
  .want_to_buy__footer {
    cursor: pointer;
    align-items: center;
    bottom: 51px;
    width: 100%;
    padding: 0 2em;
    .want_to_buy__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 2em;
      p {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 0;
        .MuiSvgIcon-root {
          color: #002d56;
          width: 0.8em;
          height: 0.8em;
        }
        span {
          font-size: 16px;
          color: #002d56;
          font-weight: 600;
          margin-left: 0.6em;
        }
      }
    }
  }
}

@media (max-width: 1660px) {
  .want_to_buy__container
    .want_to_buy__footer
    .want_to_buy__container
    a
    .MuiSvgIcon-root {
    width: 0.6em;
    height: 0.6em;
  }
  .want_to_buy__container .want_to_buy__footer .want_to_buy__container a span {
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  .want_to_buy__container .want_to_buy__sub_container .block_3 .input_field,
  .want_to_buy__container .want_to_buy__sub_container .block_1 {
    flex-direction: column;
    gap: 0;
  }
  .want_to_buy__container .want_to_buy__sub_container .hub_input{
				width: 100% !important;
	}
  .want_to_buy__container
    .want_to_buy__sub_container
    .input_block
    .block_1_input {
    width: 100%;
  }
  .want_to_buy__container .want_to_buy__sub_container {
    gap: 0em;
    width: 100%;
    .block_3 {
      gap: 0em;
    }
  }
}
