
.Auctions{
    display: flex;
    flex-direction: row;
    gap: 30px;
    
    margin-top: 20px;
}

.Auctions_div1{
    display: flex;
    width: 23%;
}

.Body_Collections_2_1 {
    display: flex;
    position: relative;
    width: 100%;
    
}
.View_collection{
    position: absolute;
    color: #FFFFFF;
    margin: 258px 0px 0px 7px;
    opacity: 0.7;
    font-size: 23px;
}  


.Auctions_div1_img{
    display: flex;
    position: relative; 
    width: 100%;

}

.Auctions_div2 {
    display: flex;
    position: relative; 
    width: 100%;
}

.Auctions_div2_img{
    width: 100%;
}

.Auctions_div2_img_heading{
display: flex;
margin: 99px 0px 0px 84px;

font-size: 30px;
font-family: auto;
position: absolute;
color: #333333;
font: normal normal bold 42px/26px Source Sans Pro;
}



.Auctions_div2_img_heading_tag{
        position: absolute;
        display: flex;
        margin: 149px 0px 0px 83px;
        font-size: 15px;
        font-family: auto;
        color: #333333;
        font-family: 'Source Sans Pro';
        font-weight: bold;
        opacity: .7;

}
.Auctions_View_btn{
    position: absolute;
    
    margin: 220px 0px 0px 83px;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    box-shadow: 0px 3px 6px #00000029;
    background:linear-gradient(
                    180deg, #20639B 0%, #002D56 100%);
}


.Body_Collections_1_2_img_2deal{
    position: absolute;
}