.wishlist_main_container {
  .wishlist__footer {
    width: 100%;
    padding: 2em 0 0;
    .wishlist__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        .MuiSvgIcon-root {
          color: #002d56;
        }
        span {
          font-size: 20px;
          color: #002d56;
          font-weight: 600;
          margin-left: 0.6em;
        }
      }
    }
  }
}

@media (max-width: 1660px) {
  .wishlist_main_container
    .wishlist__footer
    .wishlist__container
    a
    .MuiSvgIcon-root {
    width: 0.6em;
    height: 0.6em;
  }
  .wishlist_main_container .wishlist__footer .wishlist__container a span {
    font-size: 18px;
  }
}
