.Productsbrands {
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 22px 4%;

  .slick-slider {
    .slick-list {
      overflow: hidden;
      overflow-x: clip !important;
      overflow-y: inherit;
    }
  }
  .arrow {
    color: #ffffff;
    background: #002d56;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    width: 24px;
    height: 40px;
    align-items: center;
  }
  .slick-list {
    padding: 0 30px;
  }
  .slide_Test {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    z-index: 9;
    .slick-initialized {
      padding: 5px 40px;
    }
    .ProductBrand_first_Slider {
      display: flex;
      justify-content: center;
      .Slider_icons {
        height: 40px;
      }
    }
      .Slider_brands{
        list-style: none;
        font-size: 18px;
        border-radius: 25px;
        border: 1px solid #D6D8D9;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        padding: 10px 25px;
        text-align: center;
        width: auto !important;
        position: relative;
        
      }
      .Slider_brands:hover{
        background: transparent linear-gradient(180deg, #FFD788 0%, #CC9B3E 100%);
        color: #FFFFFF;
      }
    
    .Productbrands_Laptops_btn {
      .Productbrands_btn_content_list {
        display: flex;
        justify-content: center;
        padding: 10px 20px;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #d6d8d9;
        border-radius: 25px;
        opacity: 1;
        font-family: "Source Sans Pro";
        letter-spacing: 0px;
        color: #5c6369;
        width: 98px;
        background: #FFFFFF;
        font-size: 18px;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
      }
      .Productbrands_btn_content_list:hover {
        background: linear-gradient(#ffd788, #cc9b3e);
      }
      .Productbrands_btn_content_list:focus {
        background: linear-gradient(#ffd788, #cc9b3e);
      }
      .Productbrands_btn_Laptops_Dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 20px;
        background-color: white;
        padding: 15px;
        width: auto;
        height: auto;
        border-radius: 5px;
      }
      .Productbrands_btn_Laptops_Dropdown_Content {
        background-color: rgb(241 121 181 / 8%);
        padding: 10px 13px;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        font-family: "Source Sans Pro";
      }
    }
    // .Slide_brands{
    //   display: block;
    //   position: relative;
    //   .slide_brands_list{
    //     list-style: none;
    //     font-size: 18px;
    //     border-radius: 25px;
    //     border: 1px solid #D6D8D9;
    //     cursor: pointer;
    //     box-shadow: 0px 3px 6px #00000029;
    //   }
    // }
  }
  .list{
    display: flex;
    width: 300px;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 3px 18px #00000022;
    border-radius: 4px;
    // z-index: 9;
    // position: absolute;
    left: -30px;
    .list_content{
      list-style: none;
      width: 100%;
      span{
        display: flex;
        gap: 15px;
        flex-direction: column;
      .content{
        display: flex;
        justify-content: space-between;
        span{
          background: #F8F0E0;
          display: flex;
          flex-direction: inherit;
          width: 100%;
          border-radius: 4px;
          justify-content: space-between;
          p{
            margin: 10px;
            font-size: 18px;
            letter-spacing: 0.54px;
            font-weight: 600px;
          }
        }
      }
     }
    }
  }
}
.list{
  display: flex;
  // width: 300px;
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px 3px 18px #00000022;
  border-radius: 4px;
  z-index: 9;
  position: absolute;
  .list_content{
    list-style: none;
    width: 100%;
    span{
      display: flex;
      gap: 15px;
      flex-direction: column;
    .content{
      display: flex;
      justify-content: space-between;
      span{
        background: #F8F0E0;
        display: flex;
        flex-direction: inherit;
        width: 100%;
        border-radius: 4px;
        justify-content: space-between;
        p{
          margin: 10px;
          font-size: 18px;
          letter-spacing: 0.54px;
          font-weight: 600;
          color: #333C42;
          opacity: 1;
          border: 1px #00000000;
        }
      }
    }
   }
  }
}
