.seller_dashboard > * {
  margin-bottom: 2em;
}
.seller_dashboard {
  margin-top: 1em;
  background-color: white;
  padding-top: 15px;

  .dashboard__data {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-items: center;
    box-shadow: 0px 3px 25px #0000000f;
    padding-top: 8px;
    .info_bar {
      display: flex;
      justify-content: space-around;

      .dasboard__dataiamge {
        // max-width: 360px;
        width: calc(100% / 3 - 20px);
        position: relative;
        .header,
        .value {
          position: absolute;
          color: white;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;
        }
        .header {
          left: 4em;
          font-size: 18px;
          width: 160px;
        }
        .value {
          right: 1em;
          font-size: 32px;
        }
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .dashboard__status {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
    .dashboard__statusoffer {
      max-width: 274px;
      max-height: 274px;
      img {
        width: 100%;
      }
    }

    .dashboard__status1 {
      min-width: 416px;
      height: 171px;
      border: 1px solid #f5f5f5;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 13px;
      box-shadow: 0px 3px 6px #0000000f;
      h2 {
        color: #20639b;
        font-size: 50px;
        margin: 0;
      }

      p {
        font-size: 30px;
        color: #ddb363;
        margin: 0;
      }
    }
  }
}

@media (max-width: 1660px) {
  .seller_dashboard .dashboard__status .dashboard__status1 {
    min-width: 285px;
  }
  .seller_dashboard .dashboard__data .dasboard__dataiamge {
    max-width: 273px;
  }
  .seller_dashboard .dashboard__status .dashboard__status1 {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 24px;
    }
  }
}
@media (max-width: 1200px) {
  .seller_dashboard .dashboard__status {
    flex-direction: column;
    padding-bottom: 2em;

    .dashboard__statusoffer {
      max-width: 192px;
    }
  }

  .seller_dashboard .dashboard__data .dasboard__dataiamge {
    width: calc(100% / 2 - 20px);
  }
}
