.Auctions {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-top: 3em;
  .Auctions_div1 {
    display: flex;
    min-width: 316px;
    position: relative;
    .Auctions_div1_img {
      display: flex;
      width: 100%;
    }
    .View_collection {
      position: absolute;
      color: white;
      font-size: 28px;
      text-align: center;
      margin: 0;
      width: 100%;
      bottom: 2.25em;
    }
  }
  .Auctions_div2 {
    display: flex;
    position: relative;
    width: 100%;
    .Auctions_div2_img {
      width: 100%;
    }
    .Auctions__floatingcontent {
      position: absolute;
      left: 12em;
      top: 6em;
      color: #333333;
      display: flex;
      flex-direction: column;
      grid-gap: 1em;
      gap: 1em;
      max-width: 512px;
      h3 {
        font-size: 50px;
        margin: 0;
      }
      p {
        font-size: 20px;
        margin: 0;
      }
      button {
        background: linear-gradient(#20639b, #002d56);
        color: white;
        border-radius: 25px;
        padding: 0.5em 3em;
        width: max-content;
        font-size: 18px;
        border: 0;
        cursor: pointer;
      }
      
    }
  }
}

// .Auctions_div1 {
//   display: flex;
//   min-width: 316px;
//   position: relative;
// }

// .Body_Collections_2_1 {
//   display: flex;
//   position: relative;
//   width: 100%;
// }
// .View_collection {
//   position: absolute;
//   color: white;
//   font-size: 28px;
//   text-align: center;
//   margin: 0;
//   width: 100%;
//   bottom: 2.25em;
// }

// .Auctions_div1_img {
//   display: flex;
//   width: 100%;
// }

// .Auctions_div2 {
//   display: flex;
//   position: relative;
//   width: 100%;
// }

// .Auctions_div2_img {
//   width: 100%;
// }

// .Auctions__floatingcontent {
//   position: absolute;
//   left: 12em;
//   top: 6em;
//   color: #333333;
//   display: flex;
//   flex-direction: column;
//   grid-gap: 1em;
//   gap: 1em;
//   max-width: 512px;
// }

// .Auctions__floatingcontent h3 {
//   font-size: 50px;
//   margin: 0;
// }

// .Auctions__floatingcontent p {
//   font-size: 20px;
//   margin: 0;
// }

// .Auctions__floatingcontent button {
//   background: linear-gradient(#20639b, #002d56);
//   color: white;
//   border-radius: 25px;
//   padding: 0.5em 3em;
//   width: max-content;
//   font-size: 18px;
//   border: 0;
//   cursor: pointer;
// }

// .Body_Collections_1_2_img_2deal {
//   position: absolute;
// }

@media (max-width: 1440px) {
  .Auctions .Auctions_div2 .Auctions__floatingcontent {
    left: 8em;
    max-width: 416px;
  }
}

@media (max-width: 1366px) {
  .Auctions {
    margin-top: 2em;
  }
}

@media (max-width: 1200px) {
  .Auctions .Auctions_div2 .Auctions__floatingcontent {
    left: 3em;
  }
}

@media (max-width: 1024px) {
  .Auctions .Auctions_div2 .Auctions__floatingcontent {
    max-width: 366px;
  }

  .Auctions {
    gap: 8px;
  }
}

@media (max-width: 768px) {
  .Auctions {
    gap: 10px;
  }

  .Auctions .Auctions_div1 {
    min-width: unset;
    max-width: 176px;
  }

  .Auctions .Auctions_div2 .Auctions__floatingcontent {
    left: 1em;
    top: 0.5em;
    max-width: 320px;
  }

  .Auctions .Auctions_div1 .View_collection {
    font-size: 17px;
  }
}

@media (max-width: 480px) {
  .Auctions {
    flex-direction: column;
  }
  .Auctions .Auctions_div1 {
    max-width: 100%;
  }

  .Auctions .Auctions_div1 .View_collection {
    font-size: 40px;
  }

  .Auctions .Auctions_div2 .Auctions__floatingcontent h3 {
    font-size: 24px;
  }
  .Auctions .Auctions_div2 .Auctions__floatingcontent p {
    font-size: 14px;
  }
  .Auctions .Auctions_div2 .Auctions__floatingcontent button {
    font-size: 12px;
  }
  .Auctions .Auctions_div2 .Auctions__floatingcontent {
    gap: 3px;
    top: 0px;
  }
}

@media (max-width: 375px) {
  .Auctions .Auctions_div1 .View_collection {
    font-size: 34px;
  }
  .Auctions .Auctions_div2 .Auctions_div2_img {
    height: 8em;
  }
  .Auctions {
    margin-top: 1em;
  }
}

@media (max-width: 320px) {
  .Auctions .Auctions_div1 .View_collection {
    font-size: 29px;
  }
}
