.Home {
  display: flex;
  flex-direction: column;
  margin: 0 3%;
  .blank_page_companyLogo {
    display: flex;
    justify-content: center;
    .svg_home {
      width: 50%;
      height: 80vh;
    }
  }
}
