.linechart {
  padding: 2% 0 2% 1%;
  background: #f8f0e0;
  width: calc(100% / 2 - 10px);
  .order_volume {
    margin: 0;
    font-size: 24px;
    color: #5c6369;
    font-weight: 600;
  }
  .order_info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .order_received {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        padding: 8px;
        border-radius: 100%;
        background: #20639b;
      }
    }
    .order_placed {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        padding: 8px;
        border-radius: 100%;
        background: #ddb363;
      }
    }
  }

  .recharts-wrapper {
    .recharts-surface {
      background-color: #ffffff;
      box-shadow: 0 3px 18px #00000029;
      .recharts-cartesian-grid {
        line {
          stroke: unset;
        }
      }
      .recharts-layer.firstData {
        circle {
          r: 6;
          stroke-width: 2;
          fill: rgb(204, 155, 62);
        }
      }
      .recharts-layer.secondData {
        circle {
          r: 6;
          stroke-width: 2;
          fill: rgb(32, 99, 155);
        }
      }
    }
  }
}

@media (max-width: 1660px) {
  .linechart {
    padding: 2% 0 1% 1%;
    .order_volume {
      font-size: 20px;
    }
  }
  .linechart .order_info .order_received,
  .linechart .order_info .order_placed {
    font-size: 16px;
    span {
      padding: 6px;
    }
  }
}

@media (max-width: 1240px) {
  .linechart {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .linechart
  .recharts-wrapper {
    .recharts-surface {
      .recharts-layer.firstData {
        circle {
          r: 3;
          stroke-width: 2;
          fill: rgb(204, 155, 62);
        }
      }
      .recharts-layer.secondData {
        circle {
          r: 3;
          stroke-width: 2;
          fill: rgb(32, 99, 155);
        }
      }
    }
  }
}

