.dashboard {
  .dashboard__top {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      max-width: 360px;
      width: calc(100% / 3 - 20px);
    }
  }

  .dashboard__middle {
    display: flex;
    align-items: flex-start;
    box-shadow: none;

    & > * {
      width: calc(100% / 2 - 20px);
    }

    .dashboard__images {
      display: grid;
      grid-template-columns: repeat(2, 48%);
      grid-gap: 10px;

      & > * {
        width: 100%;
        height: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .images__buy {
        position: relative;

        p {
          margin: 0;
          position: absolute;
          top: 1em;
          right: 1em;
          cursor: pointer;
          background: linear-gradient(#20639b, #002d56);
          border-radius: 24px;
          padding: 0.5em 1.8em;
          color: #ffffff;
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .dashboard__pricelist {
      max-width: 600px;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
      padding: 0 26px;
      .pricelist__header {
        p {
          display: flex;
          align-items: center;
          justify-content: space-between;

          h2 {
            margin: 0;
            color: #5c6369;
            font-size: 28px;
            letter-spacing: 1px;
          }

          .pricelist__headertime {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            margin-left: 8em;

            .hour,
            .minute,
            .second {
              display: flex;
              flex-direction: column-reverse;
              width: calc(100% / 3 - 4px);
              align-items: center;

              .value {
                background-color: #ddb363;
                border-radius: 100%;
                padding: 10px;
                color: white;
                text-align: center;
                font-size: 18px;
                height: 44px;
                width: 44px;
              }

              .label {
                color: #002d56;
                font-size: 10px;
              }
            }
          }

          & > span {
            height: 42px;
            width: 42px;
            background-color: #002d56;
            border-radius: 4px;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              border-top: 3px solid white;
              border-right: 3px solid white;
              width: 10px;
              height: 10px;
              top: 14px;
              right: 22px;
              transform: rotate(45deg);
            }
            &::after {
              position: absolute;
              content: "";
              border-top: 3px solid white;
              border-right: 3px solid white;
              width: 10px;
              height: 10px;
              top: 14px;
              right: 12px;
              transform: rotate(45deg);
            }
          }
        }

        ul {
          padding: 0;

          li {
            list-style: none;
            display: flex;
            align-items: center;
            border-top: 1px solid lightgray;
            padding: 10px 0;
            color: #333c42;

            .image {
              width: 4em;
            }

            .name {
              text-align: left;
              margin-left: 1em;
              font-size: 18px;
            }

            .price {
              flex: 1;
              text-align: right;
              font-size: 22px;

              & > span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .dashboard__chart {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;

    .chart__pie {
      display: flex;
      height: 100%;
      gap: 20px;
      box-shadow: 0px 3px 18px #00000029;
      padding: 10px;

      .pie__graph {
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: calc(50% - 10px);

        .graph__header {
          display: flex;
          gap: 10px;
          justify-content: flex-start;
        }
      }

      .pie__table {
        display: flex;
        flex-direction: column;
        width: calc(50% - 10px);

        p {
          margin: 0;
          padding: 1em 10px;
        }
      }

      .table__header,
      .table__cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .table__header {
        background-color: #f8f0e0;
      }

      .table__cell {
        background-color: #f4f9ff;
      }
    }

    .chart__line {
      background-color: #cdd5dd;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

@media (max-width: 1024px) {
  .dashboard .dashboard__top {
    justify-content: unset;

    div {
      width: 30%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .dashboard
    .dashboard__middle
    .dashboard__pricelist
    .pricelist__header
    p
    .pricelist__headertime {
    margin-left: 1em;
  }
}
