.contactus_main {
  background-color: #fbfbfb;
  padding: 10px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .contactus_img_section {
    display: flex;
    position: relative;
    .contactus_img {
      width: 100%;
      height: auto;
    }
  }
  .contactus_form_section {
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 200px;
    position: relative;

    .contactus_details_section {
      background-color: #f8f0e0b3;
      display: flex;
      flex-direction: column;
      padding: 36px 50px 50px 50px;
      gap: 26px;
      left: 10%;
      position: absolute;
      top: -15em;
      box-shadow: 0px 3px 6px #00000029;

      .contactus_heading {
        font-size: 50px;
        color: #002d56;
        opacity: 1;
        letter-spacing: 2.1px;
        font-weight: bold;
        h3 {
          margin: 0;
        }
      }

      .contactus_tag {
        font-size: 30px;
        color: #333c42;
        opacity: 1;
        font-weight: 600;
        letter-spacing: 0.9px;
      }
      .contactus_social,
      .contactus_details {
        .contactus_office_list {
          display: flex;
          gap: 20px;
          .contactus_office {
            max-width: 100%;
            img {
              width: 30px;
            }
          }
          .contactus_social_media {
            display: flex;
            gap: 60px;
            span {
              img {
                max-width: 100%;
              }
            }
          }
          .contactus_office_address {
            flex-direction: column;
            display: flex;
            gap: 10px;
            padding-top: 8px;
            .contactus_office_heading {
              color: #5c6369;
              letter-spacing: 0.6px;
              font-size: 20px;
            }
            .contactus_office_number {
              letter-spacing: 1px;
              font-weight: 600;
              color: #5c6369;
              font-size: 20px;
              letter-spacing: 0.72px;
            }
          }
        }
      }
    }
    .contactus_form {
      display: flex;
      gap: 10px;
      flex-direction: column;
      width: 45%;
      .contact-form-inputfieldbox{
        margin-bottom: 20px;
      }
      .box-content {
        text-align: right;
        margin-top: 4em;
        margin-bottom: 4em;
      }
      .contactus_msg_btn {
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        border: none;
        border-radius: 25px;
        padding: 10px 50px;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        letter-spacing: 0.54px;
        text-shadow: 0px 3px 6px #00000029;
        box-shadow: 0px 3px 6px #00000029;
      }
      .validation_error {
        color: red;
        font-size: 14px;
      }
      .asterisk {
        color: red;
      }
    }
  }
  .contactus_map_section {
    // position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../../Assets/Contactus/76825.png");
    width: 100%;
    background-repeat: no-repeat;
    padding: 3em 1em;
    gap: 5em;
    background-size: cover;
    padding-bottom: 4em;
    .contactus_map_img {
      width: 100%;
    }
    .contactus_map_heading {
      margin: 0;
      top: 20px;
      font-size: 34px;
      color: #333333;
      font-weight: bold;
    }
    .contactus_locations {
      display: flex;
      gap: 2em;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 3em;
      .contactus_location1 {
        .contactus_location_list {
          list-style: none;
          display: flex;
          .contactus_locations_1 {
            display: flex;
            flex-direction: column;
            background: #ffffff;
            box-shadow: 0px 3px 6px #00000029;
            width: 365px;
            min-height: 365px;
            height: 100%;
            align-items: center;
            gap: 20px;
            padding: 10px;
            justify-content: center;
            // width: calc(75% - 20px);
            .location_image {
              height: 80px;
              width: 80px;
            }
            .address-info-box{
              display: flex;
              flex-direction: column;
            }
            .address-phone-box{
              display: inline-flex;
              flex-direction: column;
            }
            .address-phone-box span{
              font-weight: 600;
            }
            span {
              text-align: center;
              font-size: 20px;
              letter-spacing: 0.72px;
              color: #5c6369;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1660px) {
  .contactus_main
    .contactus_form_section
    .contactus_details_section
    .contactus_tag {
    font-size: 20px;
  }
  .contactus_main
    .contactus_form_section
    .contactus_details_section
    .contactus_heading {
    font-size: 45px;
  }
  .contactus_main .contactus_form_section .contactus_details_section {
    top: -12em;
  }
  .contactus_main
    .contactus_form_section
    .contactus_details_section
    .contactus_details
    .contactus_office_list
    .contactus_office_address {
    .contactus_office_number {
      font-size: 18px;
    }
    .contactus_office_heading {
      font-size: 16px;
    }
  }
  .contactus_main
    .contactus_form_section
    .contactus_details_section
    .contactus_social
    .contactus_office_list
    .contactus_social_media {
    gap: 1.5em;
    span {
      width: 40px;
    }
  }
  .contactus_main .contactus_form_section {
    padding: 2em 10em 0 0;
  }
  .contactus_main .contactus_map_section .contactus_map_heading {
    font-size: 28px;
  }
  .contactus_main
    .contactus_map_section
    .contactus_locations
    .contactus_location1
    .contactus_location_list
    .contactus_locations_1 {
    width: 266px;
    min-height: 260px;
    padding: 15px 10px;
    .location_image {
      height: 40px;
      width: 40px;
    }
    span {
      font-size: 18px;
    }
  }
  .contactus_main .contactus_map_section {
    gap: 2em;
  }
}

@media (max-width: 1530px) {
  .contactus_main .contactus_map_section .contactus_locations {
    margin: 0 30px;
  }
  .contactus_main .contactus_form_section {
    padding: 2em 2em 0 0;
  }
  .contactus_main .contactus_map_section .contactus_locations {
    gap: 2em;
  }
  .contactus_main .contactus_form_section .contactus_details_section {
    padding: 25px 35px 35px 35px;
    left: 3%;
  }
}

@media (max-width: 1200px) {
  .contactus_main .contactus_map_section .contactus_locations {
    margin: 0;
  }
  .contactus_main .contactus_form_section .contactus_details_section {
    top: -9em;
    .contactus_tag {
      font-size: 16px;
    }
    .contactus_heading {
      font-size: 30px;
    }
  }
  .contactus_main
    .contactus_form_section
    .contactus_details_section
    .contactus_details
    .contactus_office_list
    .contactus_office_address {
    .contactus_office_heading {
      font-size: 14px;
    }
    .contactus_office_number {
      font-size: 14px;
    }
  }
}
@media (max-width: 926px) {
  .contactus_main .contactus_form_section {
    padding: 0em;
    justify-content: center;
  }
  .contactus_main .contactus_form_section .contactus_details_section {
    position: unset;
  }
}
@media (max-width: 580px) {
  .contactus_main {
    padding: 1em;
  }
  .contactus_main .contactus_form_section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .contactus_form {
      width: 100%;
    }
  }
  .contactus_main .contactus_map_section {
    padding: 10px;
  }
  .contactus_main
   .contactus_map_section
    .contactus_locations
     .contactus_location1 
     .contactus_location_list 
     .contactus_locations_1 span{
       font-size: 14px;
     }
}
