.faqs_main{
    padding:1% 3% 1% 3%;
    .faqs_heading_section{
        position: relative;
        .faqs_heading{
            position: absolute;
            font-size: 50px;
            font-weight: 600;
            top: 22%;
             left: 31%;
            // text-align: center;
            color: #002D56;
            opacity: 1;
            letter-spacing: 1.5px;
        }
        .faqs_heading_img{
            width: 100%;
        }
    }
    .faqs_table_section{
        background-color: #F8F0E0;
        margin: 3% 4% 3% 4%;
        height: auto;
        padding: 20px 50px 40px 50px;
        .faqs_table_heading{
            font-size: 30px;
            color: #4E4E4E;
            font-weight: 600;
            opacity: 1;
        }
      .faqs_hr1{
          border: 1px solid goldenrod;
          width: 15%;
          margin: 0 !important;
      }
      .faqs_table_adding{
          list-style: none;
          font-size: x-large;
          font-weight: 800;
          padding-top: 14px;
          opacity: .8;
      }
      .faqs_qns_section{
          display: flex;
          gap: 40px;
          padding: 20px 0 20px 20px;
       .faq_qns_heading{
           color: #4E4E4E;
           font-size: 25px;
           opacity: 1;
           font-weight: 600;
       }   
      .faqs_plus_img{
          height: 50px;
          margin-top: -12px;
          
      }
    }
    .faqs_horizental{
        border: 1px solid #D6D6D6;
        opacity: .8;
    }
    .faqs_description{
        display: flex;
        font-size: 20px;
        font-weight: 500;
        padding-left:15%;
        padding-top: 10px;
        gap: 20px;
        overflow: hidden;
        color: #4E4E4E;
        letter-spacing: 0.5px;
        transition:  3s ease-in-out;
                .v1{
            border: 1px solid goldenrod;
            
            
        }
    }
    }  
}

// @media
  
@media (max-width:1550px){
    .faqs_main .faqs_heading_section .faqs_heading{
        top: 18%;
        left: 22%;
    }
}

@media (max-width:1440px) {
      .faqs_main{
          .faqs_heading_section{
              .faqs_heading_img{
                  height: 300px !important;
              }
              .faqs_heading{
                top: 18% !important;
                left: 21% !important;
              }
          }
      }
}
 
@media (max-width:1240px){
    .faqs_main{
        .faqs_heading_section{
        .faqs_heading{
            left: 18% !important;
        }
      } 
    }
    
}

@media (max-width:1024px) {
    .faqs_main{
        .faqs_heading_section{
        .faqs_heading{
            left: 9% !important;
        }
      } 
    }
    
}

@media (max-width:768px) {
    .faqs_main{
        padding: 1% 1% 5% 1%;
        .faqs_heading_section{
        .faqs_heading{
            left: 13% !important;
            font-size: xx-large;
        }
        .faqs_heading_img{
            height: 200px !important;
        }
      } 
      .faqs_table_section{
          margin: 2% 1% 2% 1%;
      }
    }
    
}

@media (max-width:580px) {
    .faqs_main{
        .faqs_heading_section{
        .faqs_heading{
            
            text-align: center;
        }
      } 
      .faqs_table_section{
        margin: 1% 1% 1% 1%;
        padding: 10px;
        .faqs_hr1{
            width: 30%;
        }
      }
    }

    
.faqs_main .faqs_table_section .faqs_description {
     font-size: 15px;
}

}

@media (max-width:480px) {
    .faqs_main{
        .faqs_heading_section{
        .faqs_heading{
            left: 11% !important;
            top: 31% !important;
            font-size: x-large;
        }
      } 
      .faqs_table_section{
        margin: 1% 1% 1% 1%;
        padding: 10px;
      }
    }
}
@media (max-width:425px){
    .faqs_main{
      .faqs_heading_section{
          .faqs_heading{
              left: 6% !important;
          }
      }
      .faqs_table_section{
          .faqs_table_heading{
              font-size: 24px;
          }
      }
    }
}

@media (max-width:375px){
    .faqs_main{
        .faqs_heading_section{
          .faqs_heading{
            font-size: larger;
            left: 10% !important;
          }
          .faqs_heading_img{
              height: 150px !important;
          }
        }
        .faqs_table_section{
            .faqs_table_heading{
                font-size: 20px;
            }
            .faqs_table_adding{
                font-size: larger;
                padding-top: 10px;
            }
            .faqs_qns_section{
                gap: 22px;
                .faqs_plus_img{
                    margin-top: -9px;
                }
            }
        } 
    }
}

@media (max-width:320px){
    .faqs_main{
        .faqs_heading_section{
          .faqs_heading{
            font-size: larger;
            text-align: center;
            left: 4% !important;
            top: 26%;
          }
        }
        .faqs_table_section{
            .faqs_table_heading{
                font-size: 17px;
            }
        }
    }
}