.Productstable{
    display: flex;
    margin:20px;
}
.Productstable_table{
    border: none;
    border-spacing: 0px;
}
.Productstable_Header{
    background-color: #002D56;
    height: 60px;
    font-size: 13px;
    text-align: center;
    

}
.Productstable_Header_Text{
    color: #FFFFFF;
    font: 'Source Sans Pro';
   width:13%;
}
.Productstable_list_details{
    font-size: 14px;
    width: 300px;
    text-align: center;
    height: 71px;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: 'Source Sans Pro';
    padding-left: 30px;
}
.Productstable_list_details_description{
    font-size: 12px;
    width: 13%;
    text-align: center;
    height: 71px;
    border-bottom: 1px solid rgb(214, 214, 214);
    font-family: 'Source Sans Pro';
    padding-left: 30px;
    padding-right: 30px;

}
.Productstable_list_details_price{
    font-size: 12px;
    width: 300px; 
    text-align: center;
    height: 71px;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 0px 15px 0px 15px;
}
.Price_btn{
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
}
.Productstable_row_style:nth-child(odd) {background-color: #F5F5F5;}
.Productstable_row_style:nth-child(even) {background-color: #EAEAEA;}
.List_icon{
    color: white;
    height: 700px;
}
 
.Producttable_heading_icon{
    display: flex;
    color: whitesmoke;
    margin  : 13px 25px 0px 0px;
    gap: 5px;
    justify-content: center;
    width: 151px;
}
.Material_list{
    margin-top: 5px;
} 
.Product_Fullscreen_icon{
    padding: 11px 0px 0px 18px;
}
.Producttable_Addtocart_btn{
    padding: 10px 26px 10px 26px;
    display: flex;
    margin: 10px;
    border-radius: 25px;
    border: none;
    background: transparent linear-gradient(
            180deg, #20639B 0%, #002D56 100%) 0% 0% no-repeat padding-box;
    color: white;
    cursor: pointer;
    font-family:  'Source Sans Pro';
    margin: 13px;
    gap: 5px;
}

.Producttable_shopping_cart{
    color: whitesmoke;
    padding: 2px;
}
/* .PDP-Page{
    top:65%;
    display: block;
    z-index: 99999;
    left: 20%;
    position: absolute;
    width: 900px;
    height: 350px;
    background-color: white;
    text-align: center;
} */