.modal{
.enquirydetails_main{
    position: fixed;
    bottom: 100px;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    flex-direction: column;
    padding: 20px 0px;
    padding: 5% 0px;
    .p1 {
        margin-left: 30px;
        color: #333C42;
        font-size: 12px;
        font-weight: 600;
    }
    .enquirydetails_box{
        background-color: #F8F0E0;
        max-width: 665px;
        width: 100%;
        box-shadow: 0px 3px 16px #0000001C;
        
    .enquirydetails_heading{
        display: flex;
        justify-content: space-between;
        background-color: #333C42;
        padding: 20px 20px;
        .MuiSvgIcon-root{
            width: 1.5em;
            height: 1.5em;
            color: white;
            background: #DDB363;
            cursor: pointer;
            border-radius: 4px;
        }
        p {
            color: #F5F5F5;
            margin: 10px 0;
            font-size: 20px;
            font-weight: 600;
            span{
                color: #DDB363;
                font-size: 30px;
                font-weight: 600;
            }
        }
    }
    .enquirydetails_section{
        background-color: #FFFFFF;
        margin:  10px 30px 20px 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;

        .status {
            position: absolute;
            top: 1em;
            right: 3em;
            color: #333C42;
            font-size: 20px;
        }
        .enquirydetails{
            display: flex;
            gap: 30px;
            .heading{
                color: #3E3E3E;
                font-size: 18px;
                font-weight: 600;
                opacity: 1;
                word-wrap: normal;
                margin: 0;
                width: 30%;
            }
            .details{
                color: #333C42;
                font-size: 20px;
                opacity: 1;
                word-wrap: break-word;
                margin: 0;
                width:60%;
            }
        }
    .button_box{
        display: flex;
        justify-content: center;
        gap: 20px;
    .button_decline{
        color: #002D56;
        font-size: 18px;
        width: 50%;
        background-color: white;
        padding: 10px 25px;
        border-radius: 25px;
        border: 1px solid #002D56;
        box-shadow: 0px 3px 6px #00000029;
        font-weight: 600;
        letter-spacing: 0.54px;
        text-shadow: 0px 3px 6px #00000029;
        cursor: pointer;
        text-transform: capitalize;
    }
    .button_accept{
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;
        opacity: 1;
        padding: 10px 25px;
        background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
        color: #FFFFFF;
        font-size: 18px;
        border: none;
        font-weight: 600;
        text-shadow: 0px 3px 6px #00000029;
        text-transform: capitalize;
        cursor: pointer;
        width: 50%;
    }

}
    

  } 
  }

}
}

@media only screen and(max-width:900px){
    .modal .enquirydetails_main .enquirydetails_box .enquirydetails_section{
    height: 63vh;
    overflow-y: scroll;
 }
 .modal .enquirydetails_main{
     margin: 10em 0;
 }
}
@media (max-width:580px) {
    .enquirydetails_main{
        //    position:fixed;
           max-height: 50vh;
           height: 100%;
           width: 100%;
          
           
              
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .enquirydetails{
        flex-direction: column;
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .button_box{
        flex-direction: column;
    }

    .enquirydetails_main .enquirydetails_box .enquirydetails_section .enquirydetails{
        justify-content: center;
        gap: 0;
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .enquirydetails{
        justify-content: center;
        align-items: center;
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .enquirydetails .details{
        width: auto;
        text-align: center;
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .enquirydetails .heading{
        width: auto;
    }
    .enquirydetails_main .enquirydetails_box .enquirydetails_section .button_box{
        align-items: center;
    }
}