.career_main_container {
  background-color: #fbfbfb;
  .career_team_section {
    position: relative;
    margin: 0 3%;
    .banner_content {
      position: absolute;
      left: 33%;
      top: 42%;
      text-align: center;
      .banner_sub_title {
        color: #20639b;
        font-size: 30px;
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;
      }
      .banner_title {
        font-weight: 600;
        text-transform: capitalize;
        margin: 0;
        font-size: 90px;
        color: #002d56;
      }
      .banner_btn {
        margin-top: 2em;
        .MuiButton-root {
          padding: 4px 22px;
        }
      }
    }
    .career_team_image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .why_joinus_section {
    width: 100%;
    padding: 2em 7em;
    .title {
      margin: 0;
      color: #333333;
      font-size: 34px;
      font-weight: 600;
    }
    .information {
      display: flex;
      padding: 1em 0;
      position: relative;
      .sub_info {
        width: 100%;
        .MuiFormControlLabel-root {
          width: 40%;
          padding: 0.3em 0;
          svg {
            color: #cc9b3e;
            width: 1.5em;
            height: 1.5em;
          }
          p {
            font-size: 22px;
            width: max-content;
            color: #333c42;
            margin-left: 10px;
          }
        }
      }
      .why_joinus_image {
        width: 190px;
        position: absolute;
        right: 10%;
        top: 12%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .join_texub {
    padding: 2em 0;
    background: #ffffff;
    .join_texub_title {
      margin: 0;
      text-align: center;
      font-size: 34px;
      color: #333333;
      font-weight: 700;
      margin-bottom: 0.4em;
    }
    .join_texub_link {
      text-align: center;
      width: 28%;
      margin: auto;
      color: #5c6369;
      font-size: 20px;
      letter-spacing: 0.6px;
    }
    .join_texub_info {
      margin: 2em 8em;
      display: flex;
      flex-direction: column;
      gap: 0.8em;
      .info_content:nth-child(odd) {
        background-color: #f4f9ff;
      }
      .info_content:nth-child(even) {
        background-color: #fbfbfb;
      }
      .info_content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .name {
          color: #333c42;
          font-size: 22px;
          font-weight: 600;
          width: 65%;
          padding: 1em;
        }
        p {
          align-items: center;
          display: flex;
          gap: 3em;
          padding: 1em;
          margin: 0;
          flex: 1;
          white-space: nowrap;
          justify-content: space-between;
          span {
            font-size: 22px;
            font-weight: 600;
            color: #858a8e;
          }
          svg {
            color: #20639b;
            width: 1.5em;
            height: 1.5em;
          }
        }
      }
    }
  }
  .joinus_culture_values {
    .culture_values {
      text-align: center;
      font-size: 20px;
      color: #5c6369;
      span {
        color: #002d56;
        text-transform: uppercase;
        text-decoration: underline;
        margin-left: 5px;
      }
    }
    .joinus_culture_title {
      text-align: center;
      font-size: 34px;
      color: #333333;
      margin: 0;
      font-weight: 600;
      padding: 0.5em 0;
    }
    .joinus_culture_info {
      font-size: 20px;
      color: #5c6369;
      letter-spacing: 0.6px;
      text-transform: capitalize;
      text-align: center;
      margin: 0px 8%;
    }
    .grid_container {
      margin: 2em 8em;
    }
  }
}

@media (max-width: 1660px) {
  .career_main_container .why_joinus_section .title,
  .career_main_container .join_texub .join_texub_title,
  .career_main_container .joinus_culture_values .joinus_culture_title {
    font-size: 26px;
  }
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root
    p,
  .career_main_container .join_texub .join_texub_info .info_content .name,
  .career_main_container .join_texub .join_texub_info .info_content p span {
    font-size: 18px;
  }
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root
    svg,
  .career_main_container .join_texub .join_texub_info .info_content p svg {
    width: 1em;
    height: 1em;
  }
  .career_main_container .why_joinus_section .information .why_joinus_image {
    width: 145px;
  }
  .career_main_container .join_texub .join_texub_link,
  .career_main_container .joinus_culture_values .culture_values,
  .career_main_container .joinus_culture_values .joinus_culture_info,
  .career_main_container
    .career_team_section
    .banner_content
    .banner_sub_title {
    font-size: 18px;
  }
  .career_main_container .career_team_section .banner_content .banner_title {
    font-size: 34px;
  }
  .career_main_container .career_team_section .banner_content .banner_btn {
    margin-top: 1em;
  }
  .career_main_container .career_team_section .banner_content {
    left: 39%;
    top: 48%;
  }
}

@media (max-width: 1440px) {
  .career_main_container .join_texub .join_texub_link,
  .career_main_container .joinus_culture_values .culture_values,
  .career_main_container .joinus_culture_values .joinus_culture_info,
  .career_main_container
    .career_team_section
    .banner_content
    .banner_sub_title {
    font-size: 14px;
  }
  .career_main_container .career_team_section .banner_content .banner_title {
    font-size: 40px;
  }
  .career_main_container .career_team_section .banner_content .banner_btn {
    margin-top: 1em;
  }
  .career_main_container .career_team_section .banner_content {
    left: 41%;
    top: 49%;
  }
}
@media (max-width: 1200px) {
  .career_main_container .why_joinus_section .information .why_joinus_image {
    width: 116px;
  }
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root
    p {
    font-size: 16px;
  }
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root {
    padding: 0;
  }
  .career_main_container .join_texub .join_texub_link {
    width: 50%;
  }
  .career_main_container .career_team_section .banner_content {
    left: 38%;
    top: 44%;
  }
}

@media (max-width: 900px) {
  .career_main_container .why_joinus_section .information .why_joinus_image {
    right: 0%;
  }
  .career_main_container .career_team_section .banner_content {
    left: 36%;
    top: 37%;
  }
}

@media (max-width: 767px) {
  .career_main_container .why_joinus_section .information .why_joinus_image {
    position: unset;
  }
  .career_main_container .why_joinus_section .information .sub_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .career_main_container .why_joinus_section .title {
    text-align: center;
  }
  .career_main_container .why_joinus_section .information {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root
    p {
    white-space: nowrap;
  }
  .career_main_container .why_joinus_section {
    width: 100%;
    padding: 2em 0em;
  }
  .career_main_container .join_texub .join_texub_info,
  .career_main_container .joinus_culture_values .grid_container {
    margin: 2em 3em;
  }
  .career_main_container
    .career_team_section
    .banner_content
    .banner_sub_title {
    font-size: 12px;
  }
  .career_main_container .career_team_section .banner_content .banner_title {
    font-size: 30px;
  }
}

@media (max-width: 580px) {
  .career_main_container .join_texub .join_texub_link {
    width: 75%;
  }
  .career_main_container .join_texub .join_texub_info .info_content {
    flex-direction: column;
  }
  .career_main_container .join_texub .join_texub_info .info_content .name,
  .career_main_container .join_texub .join_texub_info .info_content p {
    width: 100%;
  }
  .career_main_container .career_team_section .banner_content .banner_btn {
    margin-top: 0.2em;
    .MuiButton-root {
      padding: 3px 15px;
    }
  }
  .career_main_container .career_team_section .banner_content {
    left: 32%;
    top: 33%;
  }
}
@media (max-width: 475px) {
  .career_main_container
    .why_joinus_section
    .information
    .sub_info
    .MuiFormControlLabel-root {
    width: 60%;
  }
  .career_main_container .join_texub .join_texub_info .info_content p {
    white-space: unset;
  }
  .career_main_container .career_team_section .banner_content .banner_btn {
    margin-top: 0.2em;
    .MuiButton-root {
      padding: 0px 15px;
    }
  }
  .career_main_container .career_team_section .banner_content {
    left: 30%;
    top: 31%;
  }
}

@media (max-width: 380px) {
  .career_main_container .career_team_section .banner_content {
    left: 24%;
    top: 18%;
  }
}
@media (max-width: 320px) {
  .career_main_container .career_team_section .banner_content {
    left: 20%;
    top: 12%;
  }
}
