.orders {
  .orders__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 3em;
    flex-wrap: wrap;

    p {
      margin: 0;
      padding: 0.5em 1.2em;
      white-space: nowrap;
      background-color: #f0f0f0;
      color: #333c42;
      font-size: 16px;
      border-radius: 25px;
      text-align: center;
      font-weight: 600;
      cursor: pointer;
      text-transform: capitalize;
      min-width: 200px;
      width: calc(90% / 4);
    }

    .ordertype__selected {
      background: linear-gradient(180deg, #ffd788 0%, #cc9b3e 100%);
      color: white;
    }
  }

  .orders__table {
    margin-top: 3em;

    .MuiTableHead-root {
      .MuiTableCell-root {
        font-size: 18px;
        color: #959595;
        text-align: center;
        font-weight: 600;
        border-top: 1px solid rgba(224, 224, 224, 1);
      }
    }

    .MuiTableBody-root {
      .MuiTableCell-root {
        font-size: 18px;
        text-align: center;
        color: #333c42;
      }
      .orders__code {
        font-weight: 600;
      }
      .orders__buyercode {
        border: 1px solid #cecece;
        border-radius: 24px;
        padding: 0.3em 0.9em;
      }

      .orders__ordertotal {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 8px;
        font-weight: 600;
        color: #333c42;
        .label {
          font-size: 14px;
        }

        .value {
          font-size: 22px;
          font-weight: 600;
        }
      }

      .orders__action {
        text-decoration: underline;
        color: #002d56;
        font-size: 18px;
        cursor: pointer;
        font-weight: 600;
      }
      .orders__delivered {
        color: #00b91c;
        font-weight: 600;
        padding: 0.3em 1.2em;
        background-color: #e6ffea;
        border-radius: 50px;
      }
      .orders__received {
        font-weight: 600;
        padding: 0.3em 1.2em;
        border-radius: 50px;
        color: #2116ed;
        background-color: #2116ed2b;
      }
      .orders__canceled {
        font-weight: 600;
        padding: 0.3em 1.2em;
        border-radius: 50px;
        color: #ff3900;
        background-color: #ffe2e2;
      }
      .orders__dispatched {
        color: #d9ad59;
        background-color: #fff6e5;
        padding: 0.3em 0.9em;
        border-radius: 50px;
        font-weight: 600;
      }
      .orders__confirmed {
        color: #20639b;
        background-color: #d5ecff;
        padding: 0.3em 0.9em;
        border-radius: 16px;
        font-weight: 600;
      }
    }
  }

  .orders__back__footer {
    width: 100%;
    padding: 1em 0;
    .orders__back__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        .MuiSvgIcon-root {
          color: #002d56;
        }
        span {
          font-size: 20px;
          color: #002d56;
          font-weight: 600;
          margin-left: 0.6em;
        }
      }
    }
  }
}
.orders__back__footer .back_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #002d56;
}
.orders__back__footer .back_button span {
  margin-left: 0.6em;
  font-weight: 600;
}
.orders__back__footer .back_button .css-i4bv87-MuiSvgIcon-root {
  width: 0.6em;
  height: 0.6em;
}
@media (max-width: 1440px) {
  .orders .orders__back__footer .orders__back__container a span {
    font-size: 16px;
  }
  .orders .orders__back__footer .orders__back__container a .MuiSvgIcon-root {
    width: 0.6em;
    height: 0.6em;
  }
  .orders .orders__buttons p {
    padding: 0.5em 1.2em;
    font-size: 16px;
  }
  .orders .orders__table {
    .MuiTableHead-root .MuiTableCell-root {
      font-size: 16px;
    }

    .MuiTableBody-root {
      .orders__action {
        font-size: 16px;
      }
      .orders__ordertotal {
        .value {
          font-size: 18px;
        }

        .label {
          font-size: 12px;
        }
      }

      .MuiTableCell-root,
      .orders__action {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 1400px) {
  .orders .orders__table .MuiTableBody-root .MuiTableCell-root {
    font-size: 14px;
  }
  .orders .orders__table .MuiTableBody-root .orders__action {
    font-size: 14px;
  }
}
@media (max-width: 926px) {
  .orders__table {
    .MuiTable-root {
      .MuiTableHead-root {
        display: none;
      }

      .MuiTableBody-root {
        .MuiTableCell-root {
          display: flex;
          // flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .orders .orders__buttons {
    flex-direction: column;
  }

  .orders__table .MuiTable-root .MuiTableBody-root .MuiTableCell-root {
    align-items: center;
  }
}
