.cookies_main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    
    .cookies_bgimage_section{
        position: relative;
        display: flex;
        justify-content: center;
        top: 5%;
    .cookies_bgimage{
        width: 100%;
        height: fit-content;
    }
    .cookies_close{
        position: absolute;
        right: -3rem;
        top: -2.7rem;
        height: 50px;
        cursor: pointer;
    }
    .cookies_description,
    .cookies_btn,
    .cookies_policies,
    .cookies_icon{
        position: absolute;    
        align-self: center;
    }
    .cookies_icon{
        top: -20%;
    }
    .cookies_description{
        top: 20%;
        font-size: 22px;
        text-align: center;
        color: #707070;
        letter-spacing: 0.66px;
        font-weight: 600;
        margin-left: 50px;
        margin-right: 50px;
        opacity: 1;
    }
    .cookies_policies{
        top: 54%; 
        .Link{
        font-size: 22px;
        color: #002D56;
        opacity: 1;
        font-weight: 600;
        letter-spacing: 0.54px;
        text-shadow: 0px 3px 6px #00000029;
     }   
    }
    .cookies_btn{
        top: 78%;
        padding:15px 60px;
        text-decoration: none !important;
        min-width: 126px !important;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
        color: #FFFFFF !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        margin-right: 8px !important;
        font-weight: 600 !important;
        letter-spacing: 0.54px;
        text-transform: capitalize !important;
        font-size:18px;
    }
}

}
