.wishlist_table_container {
  gap: 18px;
  display: flex;
  flex-direction: column;
  margin: 3em 0;
  .whishlist_table_header {
    height: 70px;
    background: #DDB363;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    .wishlist-first-text{
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      .folderinput {
        outline: none;
        border: none;
        border-radius: 6px;
        height: 2em;
        font-size: 16px;
      }
    .wishlist-edit-img{
      display: flex;
      align-items: center;
      margin-top: -15px;
        img{
          width: 30px;
          height: 30px;
        }
        .wishlist-edit-text{
          color: #fff;
          font-weight: 600;
        }
      }
    }
    .more_option {
      display: none;
    }
    .header_title {
      font-size: 24px;
      margin: 0;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
    }
    .header_link {
      display: flex;
      gap: 30px;
      p {
        margin: 0;
        color: #fff;
        text-decoration: underline;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  .table_boby_block {
  display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    .table_body_section{
         display: flex;
        flex-direction: column;
        gap: 20px;
        // max-height: 500px;
        // height: 292px;
        overflow: auto;
     }

    .table_block {
      display: flex;
      background-color: #f5f5f5;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      .product_info_block {
        display: flex;
        gap: 15px;
        width:65%;
        .product_image {
          align-items: baseline;
          display: flex;
          width: 100px;
          img {
            width: 100%;
          }
        }
        .products_info {
          width: 40%;
          letter-spacing: 0.9px;
          .product_name {
            color: #333c42;
            margin: 0;
            font-size: 20px;
          }
          .product_price {
            margin-top: 15px;
            span {
              font-size: 14px;
              margin-right: 8px;
            }
            margin: 0;
            font-size: 24px;
            font-weight: 600;
            color: #333c42;
            letter-spacing: 0.9px;
          }
        }
        .rating_block {
          display: flex;
          flex-direction: column;
          align-items: center;
          .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            .ratings {
              font-size: 30px;
              label {
                color: #ddb363;
              }
            }
            .reviews {
              color: #ddb363;
              font-size: 18px;
              margin: 0;
              text-decoration: underline;
            }
          }
          .seller_id {
            padding: 5px 20px;
            margin-top: 15px !important;
            margin: 0;
            background: #f8f0e0;
            width: max-content;
            color: #002d56;
            border-radius: 3px;
            font-size: 18px;
            font-weight: 600;
            span {
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }

      .Hub__quantity__block {
        flex: 1;
        .Hub__quantity__sub_block {
          span {
            font-size: 16px;
            color: #002d56;
          }
          .content {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 20px;

            .hub_info {
              p {
                padding: 11px 9px;
                margin: 0;
                color: #5c6369;
                font-size: 20px;
                font-weight: 600;
                background: #ffffff;
                border: 1px solid #d6d8d9;
                border-radius: 24px;
                min-width: 139px;
                text-align: center;
              }
            }
            .quantity_info {
              .qty_change {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 1px solid #d6d8d9;
                background: #ffffff;
                width: 100%;
                padding: 2px;
                border-radius: 25px;

                .item_decrease {
                  width: 45px;
                  height: 45px;
                  background-color: #eaeaea;
                  border: none;
                  fill: #ffffff !important;
                  border-radius: 50%;
                  font-weight: bolder;
                  font-size: 0;
                  cursor: pointer;
                }
                .item_increase {
                  width: 45px;
                  height: 45px;
                  background-color: #002d56;
                  border: none;
                  fill: #ffffff !important;
                  border-radius: 50%;
                  font-weight: bolder;
                  font-size: 0;
                  cursor: pointer;
                }
                .input_text {
                  width: 84px;
                  text-align: center;
                  font-size: 24px;
                  color: #333c42;
                  font-weight: 600;
                }
              }
            }
          }
        }
        .wishlist-btn-info{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .wishlist-delete-btn{ 
            padding: 0 10px;
            img{
            width: 40px;
            height: 40px;
            cursor: pointer;
          }
        }
          .pending-invoice-btn {
            text-decoration: underline !important;
            border: none !important;
            background:transparent;
            color: #002d56 !important;
            cursor: pointer;
            box-shadow: unset;
            font-weight: 600 !important;
            letter-spacing: 0.54px !important;
            text-transform: capitalize !important;
            width: 100% !important;
            font-size: 14px !important;
            padding: 12px !important;
            max-width: 100%;
            margin-top: 0px !important;
          }
          .add-cart-btn {
            text-decoration:  underline!important;
            border: none !important;
            background:transparent;
            color: #002d56 !important;
            cursor: pointer;
            box-shadow: unset;
            font-weight: 600 !important;
            letter-spacing: 0.54px !important;
            text-transform: capitalize !important;
            font-size: 14px !important;
            padding: 0px !important;
            max-width: 100%;
            margin-left: 10px;
            margin-top: 0px !important;
            span{
              white-space: nowrap;
            }
          }
        }
    }
    }
  }
}

@media (max-width: 1660px) {
  .wishlist_table_container .whishlist_table_header .header_title{
    font-size: 18px;
  }
  .wishlist_table_container .whishlist_table_header .header_link p {
    font-size: 16px;
  }
  
  .wishlist_table_container .table_boby_block .table_block .product_info_block {
    .product_image {
      width: 75px;
    }
    .rating_block .rating .ratings {
      font-size: 22px;
    }
    .rating_block .rating .reviews {
      font-size: 16px;
    }
    .products_info {
      .product_name {
        font-size: 16px;
      }
      .product_price {
        span {
          font-size: 14px;
        }
        font-size: 18px;
      }
    }
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .product_info_block
    .rating_block
    .seller_id {
    font-size: 16px;
    span {
      font-size: 16px;
    }
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block
    .Hub__quantity__sub_block
    .content
    .hub_info
    p {
    font-size: 16px;
    padding: 8px;
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block
    .Hub__quantity__sub_block
    .content
    .quantity_info
    .qty_change {
    .item_decrease,
    .item_increase {
      width: 33px;
      height: 33px;
    }
    .input_text {
      font-size: 20px;
    }
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block
    .pending-invoice-btn {
    font-size: 16px !important;
    padding: 8px !important;
  }
}

@media (max-width: 1440px) {
 
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    align-items: center;

    .pending-invoice-btn {
      max-width: 254px;
    }
  }
}
@media (max-width: 925px) {
  .wishlist_table_container .table_boby_block .table_block .product_info_block{
    width: 100%;
  }
   .wishlist_table_container .table_boby_block .table_block {
    flex-direction: column;
  }

}
@media (max-width: 767px) {
  .wishlist_table_container .table_boby_block .table_block .product_info_block {
    flex-direction: column;
    align-items: center;
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .product_info_block
    .products_info {
    width: 100%;
    text-align: center;
  }
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block {
    align-items: center;
  }
  .wishlist_table_container .whishlist_table_header {
    .more_option {
      display: block;
      color: #ffffff;
    }
    .header_link {
      display: none;
    }
    .menulist_item {
    }
  }
}
@media (max-width: 475px) {
  .wishlist_table_container
    .table_boby_block
    .table_block
    .Hub__quantity__block
    .Hub__quantity__sub_block {
    .pending-invoice-btn {
      font-size: 15px !important;
    }
    .content {
      flex-direction: column;
    }
  }
  .wishlist-btn-info{
    flex-direction: column;
  }
}
