.default_appearance {
  box-shadow: none !important;
  min-height: 30vh;
  margin-top: 2em;
  .MuiTable-root {
    .MuiTableHead-root {
      white-space: nowrap;
    }
    .MuiTableCell-root {
      position: unset;
      &:last-child {
        white-space: nowrap;
      }
    }
    .MuiTableFooter-root {
      display: none;
    }
  }
}

@media (max-width: 899px) {
 
      .default_appearance
      .MuiTable-root
        .MuiTableBody-root
        .MuiTableRow-root:nth-child(odd){
          background-color: rgba(0, 0, 0, 0.04);
        }
        .MuiTableRow-root:nth-child(even){
          background-color: #fff;
        }
}