@media only screen and (min-width:1450px) and  (max-width: 1920px){
    .Body_Down_Pannel_btn_items{
        height: 50px;
        font-size: 25px;
    }
    .Department_heading{
        font-size: 25px;
    }
    .Offers{
        width: 32%;
        height: 410px;
    }
    .Products_offer{
        margin: 92px 0px 0px 30px;
        font-size: 25px;
    }
    .Products_offer_per{
        margin:108px 29px 0px 29px;
        font-size: 40px;
    }
    .Products_offer_per_graph{
        font-size: 23px;
    }
    .Learn_more_btn{
        background-color: #CC9B3E;
    padding: 20px 60px 20px 60px;
    border-radius: 45px;
    border: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 25px;
    box-shadow: 0px 3px 6px #00000029;
    }
    .Get_started_btn{
        padding: 20px 60px 20px 60px;
    border-radius: 45px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 25px;
    background: linear-gradient(
   180deg, #20639B 0%, #002D56 100%);
    }
    .button_Icon2,
    .Search_Icon2{
    visibility: hidden;
    }

    
}
@media only screen and (min-width:1430px) and  (max-width: 1445px){
    .Body_Down_Pannel_btn_items{
        display: flex;
        cursor: pointer;
        height: 36px;
        border-bottom: 1px solid #EFEFEF;
        padding: 6px 19px 0px;
        font-family: 'Source Sans Pro';
        font-weight: bold;
       opacity: 0.5;
    }
       .button_Icon2,
      .Search_Icon2{
         display: none;
    } 
    
}
@media only screen and (min-width:1020px) and  (max-width: 1026px){
    .Body_Down_Pannel_btn_items{
        height: 23px;
        font-size: 13px;
    }
    .Offers{
        position: absolute;
        background-color: #efefef9e;
        margin-top: 35px;
        margin-left: 26px;
        padding-left: 0px;
        display: flex;
       flex-direction: column;
       /* height: 200px; */
    }
    .Products_offer_per_graph{
        flex-wrap: wrap;
       margin-top: 8px;
       padding-left: 30px;
      font: 'Source Sans Pro';
    /* font-weight: bold; */
      opacity: .8;
    }
    .Learn_more_btn{
        background-color: #CC9B3E;
    padding: 10px 27px 10px 27px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0px 3px 6px #00000029;
    }
    .Get_started_btn{
        padding: 10px 27px 10px 27px;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
    font-weight: 700;
    background: linear-gradient(
180deg, #20639B 0%, #002D56 100%);
    }
     .button_Icon2,
    .Search_Icon2{
        display: none;
    } 
    
}
@media only screen and (min-width:760px) and  (max-width: 770px){
    .Departments_Body_Search{
        gap: 20px;
    }
    .Department_heading{
        font-size: 13px;
    }
    .button_Icon{
        padding: 5px;
    }
    .Body_Down_Pannel_btn_items{
        padding: 5px 10px 0px;
        height: 16px;
        font-size: 13px;
    }
    .Body__search_bar{
        height: 25px;
        font-size: 10px;
    }
    .Departments_Body_Down_Pannel_btn{
        padding: 1px;
    }
    .Search_Icon{
        margin: 5px;
    }
    .Body_Searchbar_Down_images{
        gap: 10px;
    }
    .Offers{
        position: absolute;
    background-color: #efefef9e;
    margin-top: 8px;
    margin-left: 13px;
    /* padding-left: 30px; */
    display: flex;
    flex-direction: column;
    height: 174px; 
    width: 28%;
    }
    .Products_offer{
        display: flex;
    position: absolute;
    line-height: 10px;
    font-size: 10px;
     margin-left: 0px; 
    color: #333333;
    }
    .Products_offer_per{
        margin: 33px 29px 0px 0px;
    color: #333333;
    font: 'Source Sans Pro';
    font-size: 17px;
    }
    .Products_offer_per_graph{
        flex-wrap: wrap;
    margin-top: 8px;
    padding-left: 0px;
    font: 'Source Sans Pro';
    /* font-weight: bold; */
    opacity: .8;
    font-size: 13px;
    }
    .Offers_buttons{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    /* font-size: 0px; */
    margin-top: 2px;
    }
    .Learn_more_btn{
        background-color: #CC9B3E;
    padding: 5px 10px 5px 10px;
    border-radius: 25px;
    border: none;
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 10px;
    box-shadow: 0px 3px 6px #00000029;
    }
    .Get_started_btn{
        padding: 5px 10px 5px 10px;
    border-radius: 25px;
    box-shadow: 0px 3px 6px #00000029;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Source Sans Pro';
    letter-spacing: 1px;
    font-weight: 700;
    background: linear-gradient(
180deg, #20639B 0%, #002D56 100%);
    font-size: 10px;
    }
    .button_Icon2,
   .Search_Icon2{
    display: none;
} 

}
@media only screen and   (max-width: 480px){
    
    .Departments_Body_Down_Pannel{
        width: 100%;
        
    }
    .Departments_Body_Down_Pannel_btn{
        justify-content: space-between;
        height: 25px;
    }
   .Departments_Body_Search{
       flex-direction: column;
       display: flex;
       margin-top: 0px;
       margin-bottom: 5px;
       gap: 0px;
   }
   .Search_Icon{
       margin: 5px;
       display: none;
   }
   
   .Search_Icon2{
    color: white;
    /* padding-left: 240px; */
    display: contents;
    
}
   .button_Icon2{
     display: contents;
}
   .Department_heading{
        display: none;
}  
   .Body__search_bar{
       height: 25px;
       display: none;
   }
   .Body_Searchbar_Down_images{
       flex-direction: column;
       gap: 10px;
   }
   .Body_Searchbar_Down_img2_div,
   .Body_Searchbar_Down_img1_div{
       width: 100%;
   }
   .Offers{
      width: 54%;
      margin: 32px 0 0 10px;
      height: 180px;

   }
   .Products_offer{
       margin: 27px 0px 0px 0px;
       font-size: 13px;
   }
   .Products_offer_per{
     margin: 42px 0px 0px 0px;
     font-size: 21px;
   }
   .Products_offer_per_graph{
     font-size: 11px;
     padding-left: 0px;
     margin: 6px 0px 0px 0px;
 
   }
   .Offers_buttons{
       margin: 23px 0px 0px 0px;
       font-size: 2px;
   }
   .Learn_more_btn{
      padding: 5px 10px;
   }
   .Get_started_btn{
       padding: 5px 10px;
   }
}
@media only screen and   (max-width: 320px){
       .Departments_Body_Down_Pannel{
           width: 100%;
       }
       .Body_Down_Pannel_btn_items{
           height: 25px;
       }
         .Department_heading{
           display: none;
       }  
       .Departments_Body_Down_Pannel_btn{
           height: 25px;
           justify-content: space-between;
       }
      .Departments_Body_Search{
          flex-direction: column;
          display: flex;
          margin-top: 0px;
          margin-bottom: 5px;
          gap: 0px;
      }
      .Search_Icon{
          color:white ;  
          margin: -35px 0 0 0;
          padding-left: 264px;
          display: none;
      
      }
      .Search_Icon2{
          color: white;
          /* padding-left: 240px; */
          display: contents;
          
      }
      .button_Icon2{
        display: contents;
      }
      .Body__search_bar{
          height: 25px;
        display: none;
        
      }
      .Body_Searchbar_Down_images{
          flex-direction: column;
      }
      .Body_Searchbar_Down_img2_div,
      .Body_Searchbar_Down_img1_div{
          width: 100%;
      }
      .Offers{
          width: 50%;
          margin: 10px 0 0 10px;
          height: 131px;

      }
      .Products_offer{
        margin: 11px 0px 0px 0px;
          font-size: 10px;
      }
      .Products_offer_per{
        margin: 22px 0px 0px 0px;
        font-size: 16px;
      }
      .Products_offer_per_graph{
        font-size: 10px;
        padding-left: 0px;
        margin: 0px;
    
      }
      .Offers_buttons{
          margin: 10px 0px 0px 0px;
          font-size: 2px;
      }
      .Get_started_btn,
      .Learn_more_btn{
        padding: 5px 10px;
        font-size: 9px;
      }
      
}