.pendinginvoice {
  background-color: #fbfbfb;
  .pendinginvoice__top {
    .top__header {
      background-color: #002d56;
      display: flex;
      align-items: center;
      color: white;
      // min-height: 8em;
      justify-content: space-around;

      .checkout_info_list {
        background-color: #002d56;
        display: flex;
        align-items: center;
        height: max-content;
        padding: 15px 2%;
        gap: 2em;
        width: 100%;
        justify-content: space-between;
        .checkout_back_toggle {
          width: 15%;
          a {
            color: white;
          }
        }
        .order_id_info {
          .orderid_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
          }
        }
        .order_total_info {
          .ordertal_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
          }
        }
        .order_status_info {
          .orderstatus_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
          }
        }
        .order_apply_btns {
          width: 25%;
          flex-direction: row;
          display: flex;
          align-items: center;
          justify-content: space-around;
          gap: 20px;
        }
        .order_apply-btn {
          width: 100%;
          .checkout-apply-btn {
            max-width: 100%;
            padding: 10px 25px;
            width: 100%;
          }
        }
        .checkoutlist__download {
          min-width: 56px;
          height: 56px;
          background-color: #ddb363;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
        }

        .orderinfo_name {
          letter-spacing: 0px;
          color: #d6d8d9;
          font-size: 18px;
          font-weight: 600;
          text-align: center;
        }
        .orderinfo_value {
          letter-spacing: 0px;
          color: #ffffff;
          font-size: 22px;
          font-weight: 600;
          .ordertotal_symbol {
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }

      .label {
        color: #d6d8d9;
        font-weight: 500px;
        font-size: 20px;
        text-align: center;
        margin: 0;
      }

      .value {
        color: #ffffff;
        font-weight: 500px;
        font-size: 30px;
        text-align: center;
        margin: 0;
      }

      & > p {
        background: linear-gradient(#ffd788, #cc9b3e);
        border-radius: 25px;
        color: white;
        font-size: 18px;
        padding: 0.75em 3em;
      }
    }
    .top__orderinfo {
      display: flex;
      justify-content: space-between;
      padding: 2em 3em 0;
      align-items: center;
      & > * {
        width: 50%;
      }
      .orderinfo__data {
        .order-invoice_info {
          display: flex;
          gap: 10%;
          justify-content: flex-end;
          margin: 0;

          .label {
            text-align: left;
            width: 20%;
            font-size: 18px;
            color: #5c6369;
          }
          .value {
            text-align: left;
            width: 20%;
            font-size: 18px;
            font-weight: 600;
            color: #333c42;
          }
          hr.MuiDivider-root {
            min-height: 35px !important;
          }
        }
      }
    }
    .top__address {
      margin: 2em 3%;
      display: flex;
      background-color: #f8f0e0;
      align-items: center;
      justify-content: space-between;
      padding: 1em 3em;
      box-shadow: 0px 3px 6px #00000019;
      border-radius: 4px;
      hr.MuiDivider-root {
        min-height: 125px !important;
        background-color: #DDB363;
        width: 2px;
      }
      .address__pickup {
        width: 35%;
      }

      h4 {
        color: #002d56;
        font-size: 22px;
        margin: 15px 0;
        font-weight: 600;
      }
      .name {
        letter-spacing: 0.72px;
        color: #333c42;
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        margin: 6px 0;
      }
      .content {
        display: flex;
        flex-direction: column;
        span {
          letter-spacing: 0.5px;
          color: #333c42;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .address__bill {
        width: 35%;
      }
    }
  }

  .pendinginvoice__middle {
    margin: 0 3%;

    .MuiTable-root {
      .MuiTableHead-root {
        .MuiTableCell-root {
          background-color: #002d56;
          color: white;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 1px;
          text-align: center;
          border: 1px solid #cdd5dd;
        }
      }
      .MUIDataTableBodyCell-root-66 {
        text-align: center;
      }
      .MuiTableBody-root {
        .MuiTableRow-root:nth-child(odd) {
          background: #f5f5f5;
          margin-bottom: 5px;
        }
        .MuiTableRow-root:nth-child(even) {
          background: #eaeaea;
          margin-bottom: 5px;
          .MuiTableCell-root {
            border: 1px solid #cdd5dd;
          }
        }
        .MuiTableRow-root {
          border-bottom: 3px solid #fff;
          &:nth-child(odd) {
            .vieworders_quantity {
              background: #e6e6e6;
            }
          }
          &:nth-child(even) {
            .vieworders_quantity {
              background: white;
            }
          }
          .MuiTableCell-root {
            border: 1px solid #cdd5dd;
            max-width: 300px;
            padding: 8px 12px;
            div {
              vertical-align: middle;
              text-align: center;
            }
            .table__sellerid {
              letter-spacing: 0.66px;
              color: #002d56;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 600;
              background-color: #f8f0e0;
              padding: 5px 10px;
              width: max-content;
              border-radius: 2px;
              margin: 0 auto;
            }
            .productname {
              display: flex;
              gap: 10px;
              position: relative;
              // align-items: center;
              .brand_info_section{
                 width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                  width: 50px;
                  height: 100%;
                }
                .brand_name_section {
                  width: 50px;
                  overflow: hidden;
                  text-overflow: ellipsis;
              }
              }
              img.image {
                width: 50px;
                height: 50px;
              }
              span.product_name_new {
                position: absolute;
                left: 32px;
                top: -15px;
              }
              // img {
              //   // position: absolute;
              //   width: 30px;
              //   height: 30px;
              // }
              .product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                .modal_name {
                  color: #333c42;
                  text-transform: uppercase;
                  font-size: 14px;
                  font-weight: 400;
                }
                .modal_content {
                  color: #5c6369;
                  text-transform: uppercase;
                  font-size: 14px;
                  font-weight: 600;
                  display: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  // min-height: 42px;
                }
              }
            }
            .table__hub {
              letter-spacing: 0.78px;
              color: #5c6369;
              text-transform: capitalize;
              font-size: 18px;
              font-weight: 600;
            }
            .vieworders_price {
              display: flex;
              align-items: baseline;
              justify-content: center;
              .symbol {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.51px;
                color: #5c6369;
              }
              .price {
                letter-spacing: 0.78px;
                color: #5c6369;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
                margin-left: 5px;
              }
            }

            .vieworders_quantity {
              border-radius: 25px;
              padding: 7px 20px;
              font-size: 16px;
              font-weight: 600;
              color: #5c6369;
              text-transform: capitalize;
              text-align: center;
              width: 100px;
              margin: 0 auto;
            }
            .table__price {
              display: flex;
              align-items: baseline;
              justify-content: center;
              .symbol {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.51px;
                color: #5c6369;
              }
              .price {
                letter-spacing: 0.78px;
                color: #5c6369;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 900;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }

    .middle__tableinfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2em 1em;

      & > * {
        width: 50%;
        .title {
          color: #333c42;
          text-transform: capitalize;
          font-size: 16px;
          font-weight: 600;
          padding: 5px 0;
        }
        .payment_info_return {
          line-height: 30px;
        }
        .content {
          padding: 5px 0;
          .label {
            color: #333c42;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 600;
            padding: 5px 0;
          }
          .value {
            color: #333c42;
            text-transform: capitalize;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 0;
          }
        }
      }

      .tableinfo__orderdata {
        .total_value {
          .total_value_block {
            background-color: #f8f0e0;
            font-size: 18px;
            padding: 10px 20px;
            margin: 10px 0;
            width: 65%;
            text-align: center;
            display: flex;
            justify-content: space-around;
            .label {
              width: 33%;
            }
            .value {
              display: flex;
              align-items: center;
              // padding-left: 37px;
              .value_symobol {
                margin-right: 10px;
              }
            }
          }
        }
        .table_price_data {
          display: flex;
          gap: 8%;
          justify-content: flex-end;
          margin: 0;
          // padding-right: 8%;
          margin-left: 8%;
          hr {
            min-height: 35px !important;
            background-color: #d6d8d9;
          }
          .total {
            font-weight: 600;
          }
          .label {
            text-align: right;
            width: 50%;
            color: #333c42;
            font-size: 16px;
            position: relative;

            &::after {
              content: "";
              border-right: 1px solid lightgray;
              position: absolute;
              right: 20px;
            }
          }
          .value {
            white-space: nowrap;
            text-align: left;
            width: 15%;
            color: #333c42;
            font-size: 20px;
            font-weight: 600;
            // z-index: 1;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            .value_symobol {
              letter-spacing: 0.51px;
              margin-right: 3px;
              color: #333c42;
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
        .total_value_block {
          padding-top: 10px;
          padding-bottom: 10px;
          .total_value_section {
            background-color: rgb(248, 240, 224);
            width: 65%;
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            gap: 10%;
            .value {
              width: initial;
            }
          }
        }

        .total_value_additional {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: #f8f0e0;
          z-index: 0;
          opacity: 0.9;
        }
      }
      .total_value_section_block {
        padding-right: 8%;
        margin-left: 8%;
      }

      .tableinfo__details {
        p {
          font-size: 20px;
          color: #333c42;
          font-weight: 600;

          .value {
            font-weight: 500;
          }
        }
      }
    }
  }

  .pendinginvoice__bottom {
    margin: 2em 3% 3em;
    .bottom__terms {
      margin-bottom: 20px;
      background-color: white;
      padding: 1em 1.5em;

      h4 {
        color: #002d56;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        color: #333333;
      }
    }
    .bottom__buttons {
      display: flex;
      justify-content: space-between;

      // .button__cancel {
      //   visibility: hidden;
      // }
      .button__cancel,
      .button__checkout {
        border: 1px solid #002d56;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;
        width: 25%;
        text-align: center;
        color: #002d56;
        font-weight: 600;
        text-transform: capitalize;
        cursor: pointer;
        a {
          color: white;
          text-decoration: none;
          width: 100%;
        }
      }
      .button__checkout {
        background: linear-gradient(#20639b, #002d56);
        color: white;
      }
    }
    .remark_block {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 1.5em;
      padding-bottom: 15px;
      margin-left: 15px;
      .remark_title {
        color: #002d56;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 16px;
        padding: 10px;
        padding-left: 0;
      }
      .remark_content {
        letter-spacing: 0.42px;
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
      }
    }
  }
}
@media (max-width: 1440px) {
  .pendinginvoice
    .pendinginvoice__top
    .top__orderinfo
    .orderinfo__data
    .invoice_info
    .label {
    font-size: 16px;
    width: 25%;
  }
  .pendinginvoice
    .pendinginvoice__top
    .top__orderinfo
    .orderinfo__data
    .invoice_info
    .value {
    font-size: 16px;
    width: 25%;
  }
}
@media (max-width: 899px) {
  .pendinginvoice {
    .pendinginvoice__top {
      .top__header {
        .checkout_info_list {
          flex-wrap: wrap;
          width: 100%;
          gap: 1em;
          .checkout_back_toggle {
            width: 10%;
          }

          .orderinfo_name {
            font-size: 14px;
          }
          .orderinfo_value {
            font-size: 16px;
          }

          .order_total_info {
            .orderinfo_value {
              font-size: 16px;
            }
          }
          .order_apply_btns {
            width: auto;
          }
          .order_apply-btn {
            .checkout-apply-btn {
              padding: 7px 15px;
            }
          }
        }
      }
      .top__orderinfo {
        padding: 10px 15px;
        flex-direction: column;
        .orderingo__logo{
          width: 100%;
          text-align: center;
        }
        
        .orderinfo__data {
          width: 100%;
          .order-invoice_info {
            justify-content: space-between;
            .label {
              width: 100%;
            }
            .value {
              width: 100%;
              text-align: right;
            }
          }
        }
      }
      .top__address {
        padding: 10px 15px;
        margin: 1% 2%;
        .address__bill {
          h4 {
            font-size: 18px;
          }
        }
      }
    }
    .pendinginvoice__middle {
      margin: 1% 2%;
      .middle__table {
       .MuiTable-root {
          .MuiTableBody-root {
            .MuiTableRow-root {
              .MuiTableCell-root {
                .vieworders_quantity {
                  justify-content: center;
                  text-align: center !important;
                }
              }
            }
          }
        }
      }
      .middle__tableinfo {
        padding: 10px 15px;
        flex-direction: column;
        gap: 15px;
        .tableinfo__details{
          width: 100%;
        }

        .tableinfo__orderdata {
          width: 100%;
          .table_price_data {
            justify-content: space-between;
            padding-right: 0;
            margin-left: 0;
            gap: 5%;
            .label {
              width: 100%;
            }
            .value {
              width: 100% !important;
            }
            .total_value_section {
              width: 100% !important;
              gap: 10%;
              .total.label {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              // .value{
              //   margin-left: 10px;
              //    display: flex;
              //   justify-content: center;
              //   align-items: center;
              // }
            }
          }
          .total_value {
            .total_value_block {
              width: 100%;
            }
          }
        }
      }
      .middle__table {
        .MuiTable-root {
          .MuiTableBody-root {
            .MuiTableRow-root {
              .MuiTableCell-root {
                display: flex !important;
                align-items: center;
                max-width: 100%;
                justify-content: center;
                div {
                  text-align: left;
                  margin: 0;
                }
                .vieworders_price {
                  justify-content: flex-start;
                }
                .table__price {
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }
    }
    .pendinginvoice__bottom {
      margin: 1% 2%;
      .bottom__terms {
        padding: 10px 15px;
      }
      .remark_block {
        width: 70%;
      }
      .bottom__buttons {
        padding-bottom: 2em;
      }
    }
  }
}

@media (max-width: 580px) {
  .pendinginvoice {
    .pendinginvoice__top {
      .top__orderinfo {
        flex-direction: column;
        .orderingo__logo {
          width: 100%;
          padding: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .orderinfo__data {
          width: 100%;
          padding: 10px 0;
          .order-invoice_info {
            .label {
              font-size: 16px;
            }
            .value {
              font-size: 16px;
            }
          }
        }
      }
      .top__address {
        flex-direction: column;
        .address__bill {
          width: 100%;
        }
        hr {
          display: none;
        }
        .address__pickup {
          width: 100%;
        }
      }
    }
    .pendinginvoice__middle {
      .middle__table {
        .MuiTable-root {
          .MuiTableBody-root {
            .MuiTableRow-root {
              .MuiTableCell-root {
                div {
                  text-align: start;
                  font-size: 14px;
                }
                .productname {
                  flex-direction: column;
                }
                .vieworders_price {
                  justify-content: flex-start;
                }
                .table__price {
                  justify-content: flex-start;
                }
                .vieworders_quantity {
                  justify-content: center;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .middle__tableinfo {
        flex-direction: column;
        .tableinfo__details {
          width: 100%;
          padding: 10px 0;
        }
        .tableinfo__orderdata {
          width: 100%;
          padding: 10px 0;
          .table_price_data {
            .value {
              font-size: 18px;
            }
          }
        }
      }
    }
    .pendinginvoice__bottom {
      .bottom__buttons {
        flex-direction: column-reverse;
        gap: 1em;
        button {
          width: 100% !important;
          max-width: 100%;
        }
      }
    }
  }
  .pendinginvoice .pendinginvoice__bottom .bottom__terms h4 {
    font-size: 20px;
  }
}
