.pendinginvoice {
    background-color: #FBFBFB;
    .pendinginvoice__top {
        .top__header {
            background-color: #002D56;
            display: flex;
            align-items: center;
            color: white;
            min-height: 8em;
            justify-content: space-around;

            .label {
                color: #D6D8D9;
                font-weight: 500px;
                font-size: 20px;
                text-align: center;
                margin: 0;
            }

            .value {
                color: #FFFFFF;
                font-weight: 500px;
                font-size: 30px;
                text-align: center;
                margin: 0;
            }

            & > p {
                background: linear-gradient(#FFD788, #CC9B3E);
                border-radius: 25px;
                color: white;
                font-size: 18px;
                padding: .75em 3em;
            }
        }
        .top__orderinfo {
            display: flex;
            & > * {
                width: 50%
            }
            .orderinfo__data {
                p {
                    display: flex;
                    gap: 10%;
                    justify-content: flex-end;

                    .label {
                        text-align: right;
                        width: 30%;
                    }
                    .value {
                        text-align: left;
                        width: 30%;
                    }
                }
            }
        }
        .top__address {
            margin: 0 3%;
            display: flex;
            background-color: #F8F0E0;
            align-items: center;
            justify-content: space-around;

            h4 {
                color: #002D56;
                font-size: 26px;
                font-weight: 600;
            }
        }
    }

    .pendinginvoice__middle {
        margin: 0 3%;

        .MuiTable-root {
            .MuiTableHead-root {
                .MuiTableCell-root {
                    background-color: #002D56;
                    color: white;
                    font-size: 26px;
                    font-weight: 600;
                    text-align: center;
                }
            }
            .MUIDataTableBodyCell-root-66 {
                text-align: center;
            }
        }

        .middle__tableinfo {
            display:flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;

            & > * {
                width: 50%;
            }

            .tableinfo__orderdata {
                p {
                    display: flex;
                    gap: 10%;
                    justify-content: flex-end;
                    margin: 0;

                    .label {
                        text-align: right;
                        width: 30%;
                        color: #333C42;
                        font-size: 20px;
                        position: relative;
                        
                        &::after {
                            content: "";
                            border-right: 1px solid lightgray;
                            position: absolute;
                            right: 20px;
                        }
                    }
                    .value {
                        text-align: left;
                        width: 30%;
                        color: #333C42;
                        font-size: 26px;
                        font-weight: 600;
                    }
                }
            }

            .tableinfo__details {
                p {
                    font-size: 20px;
                    color: #333C42;
                    font-weight: 600;

                    .value {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .pendinginvoice__bottom {
        margin: 0 3%;
        .bottom__terms {
            background-color: white;
            padding: 1em;

            h4 {
                color: #002D56;
                font-size: 26px;
                font-weight: 600;
                margin: 0;
                margin-bottom: 8px;
            }
            p {
                font-size: 12px;
                color: #333333;
            }
        }
        .bottom__buttons {
            display: flex;
            justify-content: space-between;

            .button__cancel, .button__checkout {
                border: 1px solid #002D56;
                box-shadow: 0px 3px 6px #00000029;
                padding: .75em 5em;
                border-radius: 25px;
                width: 30%;
                text-align: center;
                cursor: pointer;
            }
            .button__checkout {
                background: linear-gradient(#20639B, #002D56);
                color: white;
            }
        }
    }
}