.pending_invoice_main_container {
  .pending_invoice_image_block {
    position: relative;
    img {
      width: 100%;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin: 0;
      color: #ffffff;
      font-size: 50px;
      font-weight: 600;
    }
  }
  .pending_invoice_breadcrumbs {
    padding: 1.5% 3%;
    .MuiTypography-root {
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
    }
  }
  .middle_block {
    padding: 3%;
    display: flex;
    flex-direction: row;
  }
  .section_left_container {
    width: 65%;
    background-color: #f5f5f5;
    border: 1px solid #d6d8d9;
    .section_left_sub_container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .area_left_content {
        width: 25%;
        flex: 1;
        .estimate {
          margin: 0;
          padding: 15px 20px;
          width: initial;
          background-color: #ddb363;
          color: #ffffff;
          font-size: 22px;
          border: 1px solid #d6d8d9;
          font-weight: 600;
        }
        .apply_discount {
          margin: 0;
          padding: 15px 20px;
          width: initial;
          color: #878787;
          background-color: #ffffff;
          font-size: 22px;
          border: 1px solid #d6d8d9;
          font-weight: 600;
        }
      }
      .area_right_content {
        width: 75%;
        flex: 2;
        margin: 20px;
        .title {
          margin: 0;
          color: #878787;
          font-size: 20px;
          letter-spacing: 0.3px;
        }
        .form_container {
          padding-top: 14px;
          .form_fields {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            padding-top: 30px;
            label {
              font-size: 22px;
              color: #3e3e3e;
              width: max-content;
            }
            .texfield_zipcode,
            .MuiAutocomplete-root {
              width: 75%;
              .MuiOutlinedInput-root {
                padding: 0 35px 0 0;
                background: #ffffff;
                input::placeholder {
                  font-size: 12px;
                }
              }
            }
            .texfield_zipcode {
              .MuiOutlinedInput-root {
                .MuiOutlinedInput-input {
                  padding: 8px !important;
                }
              }
            }
          }
        }
      }
    }
    .section_left_container_footer {
      padding: 20px;
      .MuiFormGroup-root {
        display: flex;
        flex-direction: row;
      }
      .footer_main {
        display: flex;
        flex-direction: row;
        width: 50%;
        align-items: center;
        gap: 20px;
        .footer_title {
          font-size: 22px;
          font-weight: 600;
          color: #3e3e3e;
          margin: 0;
        }
        .footer_content {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          .footer_value,
          .footer_sub_title {
            color: #878787;
            font-size: 22px;
            font-weight: 600;
            margin: 0;
            span {
              font-size: 20px;
            }
          }
          .footer_value {
            font-size: 31px;
          }
        }
      }
    }
  }
  .section_right_container {
    width: 35%;
    margin-left: 3%;
    .section_right_sub_container {
      background: #f8f0e0;
      padding: 2em 4em;
      .summary_list {
        font-size: 22px;
        color: #878787;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        gap: 2em;
        padding: 1em;
        align-items: center;
        p {
          margin: 0;
        }
      }
      .summary_list_value {
        font-weight: 600;
        font-size: 31px;
        span {
          font-size: 20px;
        }
      }
    }
    .proceed_btn {
      text-decoration: none !important;
      min-width: 245px !important;
      border-radius: 45px !important;
      border: none !important;
      background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
      color: #ffffff !important;
      cursor: pointer;
      box-shadow: 0px 3px 6px #00000029;
      font-weight: 600 !important;
      letter-spacing: 1px;
      text-transform: capitalize !important;
      gap: 8px;
      text-align: center !important;
      font-size: 18px !important;
      width: 100% !important;
      padding: 0.8em !important;
      margin-top: 3em !important;
    }
  }
}

@media (max-width: "1600px") and (min-width: "1376px") {
  .pending_invoice_main_container {
    .pending_invoice_image_block p {
      font-size: 42px !important;
    }
  }
  .pending_invoice_main_container {
    .section_left_container {
      .section_left_sub_container {
        .area_left_content {
          .estimate,
          .apply_discount {
            font-size: 18px;
          }
        }
        .area_right_content {
          .title {
            font-size: 16px;
          }
          .form_container .form_fields label {
            font-size: 18px;
          }
        }
      }
      .section_left_container_footer .footer_main {
        .footer_title,
        .footer_content {
          .footer_value {
            span {
              font-size: 18px;
            }
            font-size: 26px;
          }
          .footer_sub_title {
            font-size: 18px;
          }
        }
      }
    }
    .section_right_container {
      .proceed_btn {
        padding: 0.6em !important;
      }
      .section_right_sub_container {
        .summary_list {
          font-size: 18px;
        }
        .summary_list_value {
          span {
            font-size: 18px;
          }
          font-size: 26px;
        }
      }
    }
  }
}
@media (max-width: "1375px") {
  .pending_invoice_main_container {
    .pending_invoice_image_block p {
      font-size: 30px !important;
    }
    .pending_invoice_breadcrumbs .MuiTypography-root {
      font-size: 18px;
    }
  }
  .pending_invoice_main_container {
    .section_left_container {
      .section_left_sub_container {
        .area_left_content {
          .estimate,
          .apply_discount {
            font-size: 16px;
          }
        }
        .area_right_content {
          .title {
            font-size: 14px;
          }
          .form_container .form_fields label {
            font-size: 16px;
          }
        }
      }
    }
    .section_right_container {
      .proceed_btn {
        padding: 0.6em !important;
        font-size: 15px !important;
      }
      .section_right_sub_container {
        padding: 2em !important;
        .summary_list {
          font-size: 16px;
        }
        .summary_list_value {
          span {
            font-size: 16px;
          }
          font-size: 24px !important;
        }
      }
    }
  }
  .pending_invoice_main_container
    .section_left_container
    .section_left_container_footer
    .footer_main {
    .footer_title {
      font-size: 16px;
    }
    .footer_content .footer_sub_title {
      font-size: 16px;
    }
    .footer_content .footer_value {
      span {
        font-size: 18px;
      }
      font-size: 24px;
    }
  }
}

@media (max-width: "1085px") {
  .pending_invoice_main_container {
    .section_left_container {
      .section_left_sub_container {
        .area_left_content {
          .estimate,
          .apply_discount {
            font-size: 12px;
          }
        }
        .area_right_content {
          .title {
            font-size: 12px;
          }
          .form_container .form_fields label {
            font-size: 14px;
          }
        }
      }
    }
    .section_right_container {
      .proceed_btn {
        padding: 0.6em !important;
        font-size: 14px !important;
      }
      .section_right_sub_container {
        padding: 2em !important;
        .summary_list {
          font-size: 14px;
        }
        .summary_list_value {
          span {
            font-size: 14px;
          }
          font-size: 22px !important;
        }
      }
    }
  }
  .pending_invoice_main_container
    .section_left_container
    .section_left_container_footer
    .footer_main {
    .footer_title {
      font-size: 14px;
    }
    .footer_content .footer_sub_title {
      font-size: 14px;
    }
    .footer_content .footer_value {
      span {
        font-size: 14px;
      }
      font-size: 18px;
    }
  }
}
@media (max-width: "1023px") {
  .pending_invoice_main_container .section_left_container {
    .section_left_sub_container {
      flex-direction: column;
      .area_right_content {
        width: auto;
      }
      .area_left_content {
        width: 50%;
      }
    }
    .section_left_container_footer {
      .footer_main {
        width: 100%;
      }
      .MuiFormGroup-root {
        flex-direction: column;
      }
    }
  }
  .pending_invoice_main_container
    .section_right_container
    .section_right_sub_container {
    padding: 1em !important;
  }
  .pending_invoice_main_container
    .section_right_container
    .section_right_sub_container {
    .summary_list {
      gap: 1em;
    }
    .summary_list_value {
      font-size: 18px !important;
    }
  }
}
@media (max-width: "767px") {
  .pending_invoice_main_container {
    .pending_invoice_image_block p {
      font-size: 24px !important;
    }
    .pending_invoice_breadcrumbs .MuiTypography-root {
      font-size: 15px;
    }
    .middle_block {
      flex-direction: column;
      .section_left_container {
        width: 100%;
      }
      .section_right_container {
        padding-top: 2em;
        width: 100%;
        margin-left: 0;
      }
    }
  }
  .pending_invoice_main_container
    .section_left_container
    .section_left_sub_container
    .area_right_content
    .form_container
    .form_fields {
    flex-direction: column;
    align-items: baseline;
    padding-top: 15px;
    label {
      padding-bottom: 9px;
    }
    .texfield_zipcode,
    .MuiAutocomplete-root {
      width: 100%;
    }
  }
}
@media (max-width: "475px") {
  .pending_invoice_main_container {
    .pending_invoice_image_block p {
      font-size: 20px !important;
    }
    .pending_invoice_breadcrumbs .MuiTypography-root {
      font-size: 12px;
    }
  }
  .pending_invoice_main_container
    .section_left_container
    .section_left_sub_container
    .area_left_content {
    width: 75%;
  }
}
