

.Benfits {
    display: flex;
    flex-direction: row;
    
    margin-top: 20px;
    height: 300px;
    justify-content:center;
    gap:20px;
}
.Benfits_1st_div{
 display: flex;
 flex-direction: column;
 
 
}
.Benfits_Get{
 display: flex; 
 gap: 10px; 
 margin: 0%;
 justify-content: flex-end;
 color: #333333 ;
 font-family: ' Source Sans Pro';
 font-weight: bold;
 opacity: .8;
}
.Benfits_Get_Tag{
 display: flex; 
 justify-content: flex-end;
 /* font-size: 12px; */
 position: absolute;
 margin: 139px 0px 0px 0px;
color: #333333;
font-family:  'Source Sans Pro';

}
/* .Body_getbenfit{
  display: flex; 
  justify-content: right; 
} */
.Benfits_2nd_div{
 display: flex;
justify-content:flex-start;
top:10%;
}
.Benfits_img{
position: relative;
}

.Benfits_Offer{
 position: absolute;
 margin-top: 215px;
 color: #CDD5DD;
 display: flex;
margin-left: 426px;
 font-size: 26px;
} 
.Benfits_Offer_tag{
color:#CDD5DD;
margin-top: 250px;
position: absolute;
margin: 249px 0px 0px 430px ;
font-size: 15px;
font-family: 'Source Sans Pro';
font-weight: bold;
opacity: .8;
 

} 
.Benfits_Learnmore_btn{
font-family: 'Source Sans Pro';
border-radius: 25px;
border: none;
background-color:#CC9B3E;
color: #FFFFFF;
cursor: pointer;
margin-top:88px;
padding: 10px 20px 10px 20px;
display: flex;
justify-content: center;
margin-left: 277px;
box-shadow: 0px 3px 6px #00000029;
}
.Benfits_v1{
border-left: 2px solid black;
height: 42%;
opacity: 0.5;
margin-top: 10px;

}