@media only screen and (min-width:1910px) and  (max-width: 1925px){
    .Benfits_2nd_div{
        height: 100%;
    } 
    .Benfits_Get{
        display: flex;
        grid-gap: 10px;
        gap: 10px;
        margin: 0%;
        justify-content: flex-end;
        color: #333333;
        font-family: ' Source Sans Pro';
        font-weight: bold;
        opacity: .8;
        font-size: 40px;
    }
    .Benfits_Get_Tag{
        display: flex;
    justify-content: flex-end;
    position: absolute;
    margin: 146px 0px 0px -25px;
    color: #333333;
    font-family: 'Source Sans Pro';
    font-size: 20px;
    }
    .Benfits_Learnmore_btn{
    font-family: 'Source Sans Pro';
    border-radius: 25px;
    border: none;
    background-color: #CC9B3E;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 88px;
    padding: 15px 50px 15px 50px;
    display: flex;
    justify-content: center;
    margin-left: 277px;
    box-shadow: 0px 3px 6px #00000029;
    }
}
@media only screen and (min-width:1430px) and  (max-width: 1445px){
    .Benfits_Get_Tag{
        margin: 139px 0px 0px 3px
    }
    
    .Benfits_2nd_div{
        width: 50%;
    }
    .Benfits_Offer{
        position: absolute;
    margin-top: 215px;
    color: #CDD5DD;
    display: flex;
    margin-left: 413px;
    font-size: 26px;
    }
    .Benfits_Offer_tag{
        color: #CDD5DD;
    margin-top: 250px;
    position: absolute;
    margin: 249px 0px 0px 432px;
    font-size: 15px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    opacity: .8;
    }
}
@media only screen and (min-width:1020px) and  (max-width: 1026px){
    .Benfits_Get{
        font-size: 26px;
    }
    .Benfits_Get_Tag{
        display: flex;
    justify-content: flex-end;
     font-size: 12px; 
    position: absolute;
    margin: 115px 0px 0px 0px;
    color: #333333;
    font-family: 'Source Sans Pro';
    }
    .Benfits_Learnmore_btn{
        font-family: 'Source Sans Pro';
    border-radius: 25px;
    border: none;
    background-color: #CC9B3E;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 88px;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    margin-left: 182px;
    box-shadow: 0px 3px 6px #00000029;

    }
    .Benfits_Offer{
        position: absolute;
    margin-top: 223px;
    color: #CDD5DD;
    display: flex;
    margin-left: 435px;
    font-size: 24px;
    }
    .Benfits_Offer_tag{
        color: #CDD5DD;
    margin-top: 250px;
    position: absolute;
    margin: 251px 0px 0px 449px;
    font-size: 15px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    opacity: .8;

    }
}
@media only screen and (min-width:760px) and  (max-width: 770px){
    .Benfits{
        display: flex;
        flex-direction: row;
        height: auto;
        margin-top: 20px;
        justify-content: center; 
        gap: 15px;
    }
    .Benfits_1st_div{
        width: 43%;
    }
    .Benfits_Get{
        display: flex;
    grid-gap: 10px;
    gap: 10px;
    margin: 0%;
    justify-content: flex-end;
    color: #333333;
    font-family: ' Source Sans Pro';
    font-weight: bold;
    opacity: .8;
    font-size: 20px;
    }
    .Benfits_Get_Tag{
        display: flex;
    justify-content: flex-end;
    font-size: 12px;
    position: absolute;
    margin: 82px 0px 0px 18px;
    color: #333333;
    font-family: 'Source Sans Pro'
    }
    .Benfits_Learnmore_btn{
        font-family: 'Source Sans Pro';
    border-radius: 25px;
    border: none;
    background-color: #CC9B3E;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 88px;
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: center;
    margin-left: 199px;
    box-shadow: 0px 3px 6px #00000029;
    }
    .Benfits_v1{
        border-left: 1px solid black;
    /* height: 151%; */
    opacity: 0.5;
    margin-top: 10px;
    height: 78px;
    }
    .Benfits_img{
        width: 100%;
    }
    .Benfits_Offer{
        position: absolute;
    margin-top: 130px;
    color: #CDD5DD;
    display: flex;
    margin-left: 200px;
    font-size: 20px;
    }
    .Benfits_Offer_tag{
        color: #CDD5DD;
    margin-top: 250px;
    position: absolute;
    margin: 156px 0px 0px 208px;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    opacity: .8;
    }
    .Benfits_2nd_div{
        width: 50%;
    }
}
@media only screen and (max-width: 480px){ 
    .Benfits{
        flex-direction: column;
        display: contents;
    }
    .Benfits_1st_div{
        margin-top: 20px;
        padding-right: 20px;
    }
    .Benfits_img{
        width: 100%;
    }
    .Benfits_Get_Tag{
        display: flex;
        justify-content: flex-end;
        font-size: 12px; 
        position: absolute;
        margin: 87px 0px 0px 129px;
        color: #333333;
        font-family: 'Source Sans Pro';
    }
    .Benfits_Get{
        display: flex;
        gap: 5px;
        margin: 0%;
        justify-content: flex-end;
        color: #333333;
        font-family: 'Source Sans Pro';
    
       opacity: 1;
       font-size: 23px;
    }
    .Benfits_Learnmore_btn{
        margin: 55px 0 0 303px;
    font-size: 10px;

    }
    .Benfits_Offer{
        margin: 138px 0 0 250px;
    font-size: 22px;
    color: white;
    opacity: 1;
   }
    .Benfits_Offer_tag{
        margin: 167px 0px 0px 260px;
        font-size: 14px;
        color: white;
        opacity: 1;
   }
}
@media only screen and (max-width: 320px){
        .Benfits{
            flex-direction: column;
            display: contents;
        }
        .Benfits_1st_div{
            margin-top: 10px;
        }
        .Benfits_img{
            width: 100%;
        }
        .Benfits_Get_Tag{
            display: flex;
            justify-content: flex-end;
            font-size: 10px; 
            position: absolute;
            margin: 80px 0px 0px 17px;
            color: #333333;
            font-family: 'Source Sans Pro';
        }
        .Benfits_Get{
            display: flex;
            gap: 5px;
            margin: 0%;
            justify-content: flex-end;
            color: #333333;
            font-family: ' Source Sans Pro';
           font-weight: bold;
           opacity: .8;
           font-size: 20px;
        }
        .Benfits_Learnmore_btn{
            margin: 56px 0 0 176px;
            font-size: 9px;
        }
        .Benfits_Offer{
            margin: 77px 0 0 120px;
            font-size: 18px;
        }
        .Benfits_Offer_tag{
            margin: 99px 0px 0px 127px;
            font-size: 11px;
        }
}
