.vieworders_main_invoice {
  margin: 3em;
  padding-top: 20px;
  .logo {
    display: flex;
    justify-content: center;
  }
  .print_btn {
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
  }
  .vieworders_heading_section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3em;
    align-items: flex-end;
    .id_heading {
      color: #858a8e;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-right: 5px;
      margin: 0;
    }
    .attach_invoice_btn {
      min-width: 25% !important;
    }
    .id {
      color: #ddb363;
      font-size: 18px;
      font-weight: 600;
      margin-top: 6px;
      margin: 0;
      margin-left: 5px;
    }
    .status {
      font-size: 14px;
      color: #20639b;
      background-color: #d5ecff;
      border-radius: 25px;
      padding: 7px 25px;
      text-align: center;
      margin: 0 10px;
    }
  }
  .vieworders__table {
    margin-top: 1em;
    box-shadow: unset;
    .MuiTypography-root {
      font-size: 20px;
      letter-spacing: 0.75px;
    }
    .MuiTableHead-root {
      .MuiTableCell-root {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.54px;
        font-weight: 600;
        z-index: 9;
        background-color: #002d56;
      }
    }
    .MuiTable-root {
      .MuiTableFooter-root {
        display: none;
      }
    }
    .MuiTableBody-root {
      .MuiTableRow-root:last-child .MuiTableCell-root {
        border-bottom: 0;
      }
      .MuiTableCell-root {
        font-size: 16px;
        text-align: center;
        color: #333c42;
        letter-spacing: 0.54px;
        padding: 5px 8px;
      }
      .productname {
        display: flex;
        gap: 10px;
        justify-content: center;
        .image {
          height: 30px;
        }
        .product {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .modal_name {
            color: #333c42;
            font-size: 16px;
            letter-spacing: 0.6px;
            font-weight: 600;
            text-align: left;
          }
          .modal_content {
            color: #333c42;
            font-size: 16px;
            letter-spacing: 0.54px;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .serial_number {
            text-align: start;
            padding: 10px 0;
            cursor: pointer;
            span {
              color: #002d56;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
      .vieworders_price {
        width: auto;
        .inr {
          font-size: 14px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 18px;
          letter-spacing: 0.84px;
          font-weight: 600;
        }
      }
      .vieworers_sky {
        width: auto;
      }
      .vieworders_total {
        gap: 5px;
        width: auto;

        .inr {
          font-size: 14px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 18px;
          letter-spacing: 0.84px;
          font-weight: 600;
        }
      }
    }
  }
  .vieworders_detail_section {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .heading {
      color: #002d56;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
    .details {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column;
      .hr_line {
        width: 56%;
        hr {
          border: 1px solid #ddb363;
        }
      }
      .vieworder_address {
        .address_section {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .vieworders_shippingaddress_section {
          display: flex;
          width: 100%;
          gap: 14em;
          .vieworders_shippingaddress {
            .vieworders_list {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 10px;
              .heading {
                font-size: 18px;
                color: #20639b;
                font-weight: 600;
                opacity: 1;
              }
              .address_heading {
                color: #e9be6c;
              }
              .name {
                color: #858a8e;
                font-size: 18px;
                letter-spacing: 0.72px;
                font-style: italic;
                font-weight: 600;
                opacity: 1;
              }
              .address {
                color: #959595;
                font-size: 18px;
                letter-spacing: 0.6px;
                white-space: wrap;
              }
            }
          }
          .vieworders_payment_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .payment_heading {
              margin: 0;
              font-size: 18px;
              color: #20639b;
              font-weight: 600;
              opacity: 1;
            }
            .payment_type {
              margin: 0;
              color: #959595;
              font-size: 16px;
              letter-spacing: 0.6px;
              font-style: italic;
              font-weight: 600;
            }
          }
          .payment_block {
            width: 35%;
          }
          .transaction_block {
            .vieworders_list {
              background-color: #fff;
              padding: 10px 15px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              .block_title {
                color: #333c42;
                font-size: 16px;
                font-weight: 600;
                .value {
                  color: #333c42;
                  font-size: 16px;
                  font-weight: 400;
                  margin-right: 10px;
                }
                .MuiDivider-root {
                  min-height: 10px;
                }
                .value_price {
                  margin-left: 10px;
                  font-size: 18px;
                  font-weight: 600;
                  margin-left: 10px;
                }
              }
              .date_time {
                display: flex;
              }
            }
            .update_transaction_block {
              color: #002d56;
              font-size: 16px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        .vieworders_total {
          background-color: #ffffff;
          padding: 30px;
          height: max-content;
          display: flex;
          flex-direction: column;
          gap: 20px;
          margin-top: 2em;
          .hr {
            border: 2px dashed #20639b;
            width: 100%;
          }
          .vieworders_list {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            .taxes {
              display: flex;
              flex-direction: column;
              gap: 10px;
              .total_amount_heading {
                font-size: 18px;
                color: #002d56;
                font-weight: 600;
              }
              .gst {
                font-size: 14px;
                color: #5c6369;
                // text-align: center;
              }
            }
            .total_heading {
              color: #878787;
              font-size: 18px;
              letter-spacing: 0.66px;
              font-weight: 600;
              border: 1px #00000000;
              text-align: left;
            }
            .total_amount {
              color: #333c42;
              font-size: 18px;
              letter-spacing: 0.78px;
              text-align: right;
              font-weight: bold;
              .currency {
                font-size: 17px;
                letter-spacing: 0.51px;
              }
            }
          }
        }
      }

      .download_document {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .vieworders_emtpy {
          width: 80%;
        }
        .remart_block {
          width: 40%;
          background-color: #f8f0e0;
          box-shadow: 0px 3px 6px #00000029;
          padding: 1em 2em;
          .handover_document_section {
            text-align: center;
            display: flex;
            align-items: center;
            padding: 10px 0;
          }
          .remkark_section {
            display: flex;
            flex-direction: column;
            .remark_title {
              padding: 5px 0;
              color: #002d56;
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 600;
            }
            .remark_content {
              letter-spacing: 0.42px;
              color: #333333;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
        .document_text {
          margin-left: 5px;
          color: #002d56;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }

  .vieworders__bg {
    margin: 0;
    height: 8px;
    background-color: lightgrey;
  }
  .order_info_section1 {
    width: 30%;
    .username {
      padding: 5px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .order_info_section2 {
    width: 70%;
    .order_track_info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .common-btn {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        border-radius: 25px;
        max-width: 100%;
        cursor: pointer;
        .download_text {
          color: #002d56;
          text-decoration: underline;
          font-size: 16px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
      .invoice-btn {
        padding: 0;
        width: fit-content;
        max-width: 25%;
        cursor: pointer;
      }
    }
    .order_user_info {
      display: flex;
      padding: 10px 0;
      flex-direction: column;
      align-items: end;
      white-space: nowrap;
      .username {
        padding: 5px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 30%;
      }
    }
  }
}
.Header-header_main-2_no_display,
.user_details_main_container_no_display,
.print_btn_no_display {
  display: none;
}
