.training_main{
    background-color: #FBFBFB;
    padding: 5%;
    .training_description_section{
        background-color: #FFFFFF;
        padding: 5%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .training_description{
            .training_text{
                list-style: none;
                font-size: 20px;
                text-align: center;
            }
        }
    .training_Heading_section{
        display: flex;
        justify-content: center;
        gap: 40px;
        .training_Heading{
            font-size: xxx-large;
            color: #DDB363;
            letter-spacing: 1.5px;
        }
    }
  }
}

@media only screen and (max-width:1920px){
    .training_main .training_description_section .training_Heading_section .training_certificate {
        height: 133px;
    }
}


@media only screen and (max-width:580px) {
    .training_main .training_description_section .training_Heading_section{
        gap: 1px;
    }
}

@media only screen and (max-width:480px){
    .training_main .training_description_section .training_Heading_section .training_certificate {
        height: 90px;
    }
.training_main .training_description_section .training_Heading_section .training_Heading{
   font-size: xx-large;
     }
}

@media only screen and (max-width:375px){
    .training_main .training_description_section .training_Heading_section .training_certificate {
             height: 90px;
    }
    .training_main .training_description_section .training_Heading_section .training_Heading{
        font-size: xx-large;
    }
}