.privacypolicy_main{
    background-color: #FBFBFB;
    .Legal_heading{
        display: flex;
        background-color: #FFFFFF;
        padding:20px 30px 20px 30px;
        flex-direction: column;
        gap: 30px;
        margin: 1% 3%;

        .Legal_heading_list{
            list-style: none;
            justify-content: center;
            display: flex;
            gap: 20px;
            .Legal_img{
                height: 81px;
            }
            .heading{
                font-size: 50px;
                color: #DDB363;
                margin-top: 12px;
                letter-spacing: 1.5px;
                opacity: 1;
                font-weight: 600;
            }
        }
    }
    .Legal_description{
        .description1,
        .description{
        text-align: center;
        color: #333333;
        opacity: 1;
        font-size: 22px;
        letter-spacing: 0.66px;
     }
     .description::first-letter{
        font-size: 200%;
        color: #333333;
        font-weight: bold;
     }
    }
}

@media only screen and (max-width:580px) {
    .privacypolicy_main .Legal_heading .Legal_heading_list .heading{
        font-size: 42px;
        margin-top: 19px;
    }
    .privacypolicy_main .Legal_description{
        font-size: 20px;
    }
}

@media only screen and (max-width:425px){
    .privacypolicy_main .Legal_heading .Legal_heading_list .heading{
        font-size: 34px;
        margin-top: 19px;
    }
}


@media only screen and (max-width:375px){
    .privacypolicy_main .Legal_heading .Legal_heading_list .heading{
        font-size: 28px;
    }
    .privacypolicy_main .Legal_heading .Legal_heading_list .Legal_img{
        height: 73px;
    }
   
}

@media only screen and (max-width:320px){
    .privacypolicy_main{
        padding: 2% 5px 2% 5px;
    }
    .privacypolicy_main .Legal_heading {
        padding: 20px 7px 20px 7px;
    }
    .privacypolicy_main .Legal_heading .Legal_heading_list{
        gap: 13px;
    }
    .privacypolicy_main .Legal_heading .Legal_heading_list .heading{
        font-size: 25px;
    }
    .privacypolicy_main .Legal_heading .Legal_heading_list .Legal_img{
        height: 64px;
    }
}