body {
    background-color: #FBFBFB;
}
.header {
    padding-top: 0px !important;
}
.flsh {
    background-color: #ffffff82;
    padding: 5%;
    display: inline-block;
    text-align: left;
}
.flshbdy{
    text-align: left;
    margin-left: 10%;
    display: flex;
}
.descrp {
    font-size: 18px;
    color: #333333;
    text-align: center;
}

.crmsofr {
    margin-left: 5%;
}
.benefits {
    border-style: solid;
    border-width: 3px;
    border-color: #CDD5DD;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
}
.saleimg {
    max-width: 49%;
    flex: 0 0 49%;    
    margin-right: 1%;
}
.greybtn {
    font-size: 18px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px;
    background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-width: 0px;
    color: #ffffff;
    transition: transform .2s;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}
.greybtn:hover, .blbtn:hover, .greybtn2:hover, .blbtn2:hover, .blbtn3:hover {
    transform: (1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.greybtn2 {
    font-size: 18px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px;
    background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-width: 0px;
    color: #ffffff;
    transition: transform .2s;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    width: 100%;
}
.blbtn {
    font-size: 18px;
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px;
    background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-width: 0px;
    color: #ffffff;
    transition: transform .2s;
    font-family: 'Source Sans Pro';
    font-weight: 600;
}
.deal {
    display: inline-block;
}
.dealtxt {
    display: inline-block;
    width: fit-content;
    margin-left: 10%;
}
.blbtn2 {
    font-size: 18px;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px;
    background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-width: 0px;
    color: #ffffff;
    transition: transform .2s;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    margin-left: 4%;
}
.blbtn3 {
    font-size: 18px;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 25px;
    background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
    box-shadow: 0px 3px 6px #00000029;
    border-width: 0px;
    color: #ffffff;
    transition: transform .2s;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    width: 100%;
}
.savetxt {
    font-size: 43px;
    font-weight: 600;
    color: #ffffff;
}
.gmgprd {
    color: #ffffff;
    font-size: 28px;
}
.save2 {
    display: inline-block;
    text-align: end;
    margin-bottom: 2%;
    margin-right: 4%;
}
.page-footer {
    background-color: #CDD5DD !important;
}
.middle-footer {
    background-color: #152D56 !important;
}
.bottom-content .deptmenu {
    position: absolute;
    min-width: 100%;
    border-width: 0px !important;
}
.page-header .search-form .block-search .block-content .form.minisearch {
    max-width: 100% !important;
    flex-direction: 0 0 100%;
}
.footer_block_menu_bottom {
    color: #333333;
}

.margin-bottom30 {
    color: #ffffff;
    font-size: 19px; 
}
.vertical-menu {
    border-style: solid;
    border-width: 1px;
    border-color: #D6D8D9 !important;
    border-radius: 0px 0px 4px 4px;
    padding-left: 0px;
}
.header-area.header4 .bottom-content .vertical-title {
    background-color: #333C42 !important;
    border-radius: 4px 4px 0px 0px;
    font-size: 20px;
}
.level0, .level1 {
    font-size: 20px !important;
    color: #5C6369 !important;
    font-weight: 500;
}
.block-search {
    background-color: #ffffff !important;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #D6D8D9;
    height: 50px;
    display: flex;
}
.middle-header .frame, .bottom-content .frame, .middle-footer .frame, .bottom-footer .frame {
    max-width: 100%;
    flex: 0 0 100%;
}
.table-icon-menu {
    display: inline-flex;
}
.header-acccount {
    right: auto !important;
}
.hidden-sm {
    display: inline-flex !important;
    padding-left: 90px;
    align-items: center;
}
.header-area .middle-header .minicart-wrapper .action.showcart > .counter.qty {
    height: 30px !important;
    width: 28px;
    background-color: #ffffff !important;
    box-shadow: 0px 3px 6px #00000029;
}
.counter-number {
    font-size: 20px;
    color: #000000;
}
.footerblock {
    padding-left: 5%;
}
.dropdown-menu {
    border-color: #D6D8D9 !important;
}

.header-area.header4 .vertical-menu-widget .vertical-menu li.category-menu.level0 a.level0:before {
    display: none;
}

.page-header .header-area .middle-header {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 1%;
    background-color: #FBFBFB;
}
.titletxt {
    font-size: 50px;
    color: #333333;
    line-height: 52px;
    font-weight: 700;
}
.txtone {
    font-size: 20px;
    color: #333333;
    font-weight: 700;
}
.descrp2 {
    font-size: 20px;
    color: #333333;
}
.header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch, .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text.mainsearch {
    margin-left: 1% !important;
    font-size: 20px;
    font-family: 'source sans pro' !important;

}
.searchicon {
    position: absolute;
    top: 4px;
    font-size: 30px;
    color: #5C6369;
}
.margin-bottom25 {
    margin-bottom: 10px !important;
}
.list-icon {
    padding-left: 10px !important;
}
.margin-top15 {
    padding-left: 10px !important;
}
.margin-bottom30 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}
.switcher-trigger {
    font-size: 18px !important;
    color: #333333 !important;
}
.pricedropdown {
    display: flex;
    text-align: center;
}
.languagetxt {
    font-size: 18px;
    color: #282829;
    text-align: center;
}
.solidbr {
    margin-top: 15px;
    border-top: 2px solid #e3e3e3;
}
.btnmodal {
    text-align: center;
}
.lang {
    font-size: 20px;
    color: #282829;
}
.toptxt {
    padding-top: 30px;
}
.langeng {
    width: 18px;
    height: 18px;
    border: 2px solid #282829 !important;
}
.row1 {
    display: flex;
}
.clmn1 {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
.clmn2 {
    width: 50%;
    margin: 0;
    margin-top: auto;
    margin-bottom: 0px;
}
.crtacnt {
    font-size: 32px;
    color: #333C42;
    font-family: 'source sans pro';
    font-weight: 600;
}
.alrdusrtxt {
    font-size: 18px;
    color: #333C42;
    font-family: 'source sans pro';
    font-weight: 600;
}
.signlink, .signlink:hover {
    font-size: 22px;
    color: #20639B;
    text-decoration: underline;
    margin-left: 18px;
    font-family: 'source sans pro';
    font-weight: 600;
}
.slctusr {
    font-size: 24px;
    color: #333C42;
    padding-right: 2%;
    font-weight: 600;

}
.btndlog {
    padding-right: 25px;
    padding-left: 10px;
    text-align: center;
}
.buyer:hover, .seller:hover {
    color: #20639B;
}
.imgantxt {
    display: block;
    background-image: url('../../images/buyer.png');
    width: 110px;
    height: 110px;
    border: none;
    position: relative;
}
.page-title-wrapper {
    display: none;
}
.btn-full {
    padding-top: 0px;
}
.hdntxt {
    display: none;
}
.halffld {
    min-width: 50%;
}
.submtbtn {
    background: linear-gradient(180deg, #20639B 0%, #152356 100%);
    box-shadow: 0px 3px 6px #D6D6D6 !important;
    border-radius: 25px !important;
    border-color: #ffffff !important;
    width: 640px;
    height: 50px;
    border: 0px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;

}
.registrpg {
    padding-top: 40px;
    padding-bottom: 50px;
    background-image: url('../../images/nuyerregimg.png');
    background-repeat: round;
}


.customer-account-create .bottom-content {
    display: none;
}
.rmtast {
    display: none;
}
.wantprtnr {
    display: none !important;
}
.ctryregin, .phonedesg, .landlinecompany, .emailpsdb, .passwordfld, .emailblock {
    display: flex;
}
.cntryfild, .regionfld, .phonefld, .desgn, .landline, .company, .emailfld, .mobileno, .fieldpaswd, .pswposition {
    min-width: 50%;
    margin-bottom: 20px;
    position: relative;
}
.extraflds {
    min-width: 100%;
}
.emailwidth, .phonewidth, .designation, .selectcountry, .selectmobile, .landlineno, .selectcompany, .selectregion {
    max-width: 98%;
}
.absltxt, .absltxt1, .absltxt2, .absltxt3, .absltxt4, .absltxt5, .absltxt6, .absltxt7, .countryfld {
    position: absolute;
    margin: 0 !important;
    z-index: 3;
    transition: .5s ease;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 3px;
    left: 30px;
    font-size: 18px;
    font-family: 'source sans pro';
    font-weight: 600;
}
.blackbutton, .password-strength-meter {
    display: none;
}
.pswposition, .regionfld, .desgn .company {
    margin-left: 15px;
}
.formcontent {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #00000027;
    max-width: 85%;
    margin: auto;
    padding: 80px;
    border-radius: 4px;
    margin-top: 30px;
}
.row1 {
    max-width: 85%;
    margin: auto;
}
.sellerbutton {
    display: block;
    background-image: url('../../images/seller.png');
    width: 110px;
    height: 110px;
    border: none;
    position: relative;
}
.buyer, .seller {
    position: absolute;
    bottom: 10px;
    right: 31px;
    font-size: 20px;
    font-family: 'source sans pro';
    font-weight: 600;
    color: #5C6369;
}
.field-height, .required-entry {
    height: 54px !important;
    border-radius: 4px !important;
    border-color: #CDD5DD !important;
    margin-bottom: 20px !important;
    font-size: 20px !important;
    font-family: 'source sans pro' !important;
}
.form-create-account {
    margin-top: 5px;
}
.fieldset .field + .field {
    margin-top: 0px;
    margin-left: 15px;
}
.control.selectcountry select, .control.selectregion select {
    height: 54px !important;
    border-radius: 4px !important;
    border-color: #CDD5DD !important;
    margin-bottom: 20px !important;
    font-size: 20px !important;
    color: #333333 !important;
    font-family: 'source sans pro' !important;
}
.page-with-filter .bottom-content {
    display: none;
}
.searchbtn {
    background: none;
    border-width: 1px 0px 1px 1px;
    border-color: #ffffff;
    border-radius: 4px 0px 0px 4px;
    font-size: 21px;
    color: #ffffff;
    height: 68px;
    width: 40px;
}
.logo {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.customer-account-create .columns {
      padding: 0;
}
a.menutxt {
    font-size: 20px !important;
    color: #333333 !important;
}
.topmenulink {
    display: flex;
    align-items: center;
}
.switcher-currency {
    margin-right: 20px;
}
.sellersubmit {
    padding-left: 300px;
    padding-right: 300px;
}
.sellerregistration-index-index .bottom-content {
    display: none;
}
.sellerregistration-index-index .columns {
    padding: 0px !important;
}
.field-height1 select {
    height: 54px;
    border-radius: 4px;
}
.bottom-content .block.block-search {
    max-height: 100%;
}
.bottom-content .block.block-content {
    min-width: -webkit-fill-available;
}
.emptycol {
    max-width: 22%;
    flex: 0 0 22%;
}
.bottom-content .col-3.col-mb-12.col-tb-4.col-des-3 {
    max-width: 22% !important;
    flex: 0 0 22% !important;
}
.bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
    max-width: 78%;
    flex: 0 0 78%;
    margin: auto;
}
.texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: flex-end;
}
.d-flex.align-items-center.topmenulink {
    max-width: 100%;
    flex: 0 0 100%;
}
.btncpace {
    max-width: 29%;
    flex: 0 0 29%;
}
.deptmenu .widget.megamenu-widget.vertical-menu-widget {
    max-width: 90%;
}

.texthead .pagebuilder-poster-content {
    margin-bottom: 2%;
}
.vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
    align-items: flex-end;
}
.vewscln .pagebuilder-poster-content {
    margin-bottom: 4%;
}
.page-footer .footer .footer3 .middle-footer .col-des-4.col-tb-6.col-mb-12 {
    margin-left: 3%;
}
.page-footer .footer3 .bottom-footer {
    padding: 1%;
}
.block_width1, .block_width2, .block_width3, .block_width4, .block_width5, .block_width6 {
    margin-left: 1.5%;
    margin-right: 1.5%;
}
.btnspace, .btnspace1 {
    max-width: 35%;
    flex: 0 0 35%;
    margin: auto;
}
.header-area.header4 .middle-header .logo-header {
    padding-left: 15px;
    margin: auto;
}
.header-area.header4 .middle-header {
    padding-top: 10px;
    padding-bottom: 10px;
}
.bannercol {
    max-width: 28%;
    flex: 0 0 28%;
}
.header-area.header4 .vertical-menu-widget {
    position: relative !important;
}
.deptmenu .toggle-menu span.fa.fa-chevron-right {
    display: none;
}
.bgimg_bottom.sixth_row {
    padding-bottom: 3%;
    padding-top: 2%;
}
.bottom-content .search-form {
    width: 99%;
    margin: auto;
}
.bannercol2, .bannercol5 {
    margin-left: 20px;
}
.twobtns1 {
    display: flex;
}
body.boxed:not(.fbuilder-create-element) > .page-wrapper, .page-header .header-area .middle-header, .header-area.header4 .bottom-content {
    background-color: #FBFBFB;
}
.benefits_text {
    text-align: right;
    font-size: 50px;
    font-family: 'Source Sans Pro';
    color: #333333;
    font-weight: 600;
    line-height: 66px;
}
.benefits_description {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    text-align: right;
    font-family: 'Source Sans Pro';
}
.headtxt3 {
    margin-bottom: 2%;
}
.descr5 {
    margin-bottom: 5%;
}
.fourth_row {
    padding-right: 12.5%;
    padding-left: 12.5%;
}
.learn_more_button {
    margin-bottom: 3%;
}
.header-area.header4 .vertical-menu-widget .vertical-menu li > a {
    padding: 9px 41px 9px;
}

/* static pages_Privacy-Policy */

.privacy-policy_row, .privacy-policy_row1, .privacy-policy_row2 {
    padding-left: 3%;
    padding-right: 3%;
    background-color: #ffffff;
}
.privacy_policy {
    text-align: center;
    font-family: 'Source Sans Pro';
    font-size: 50px;
    margin: auto;
    color: #DDB363;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 63px;
}

/* Static Page_About_us */
.about_row1 {
    padding-left: 4%;
    padding-right: 4%;
}
.about_bg {
    min-height: 593px;
}
.heading1 {
    font-size: 43px;
    color: #20639B;
    font-weight: 600;
    text-align: left;
    line-height: 54px;
    margin-top: 5%;
}
.heading2 {
    text-align: left;
    font-size: 102px;
    color: #DDB363;
    line-height: 128px;
    font-family: 'Source Sans Pro';
    text-transform: capitalize;
    font-weight: 500;
}
.about_row2 {
    min-height: 397px;
}
.about-us_description {
    font-size: 26px;
    line-height: 40px;
    color: #707070;
    margin-top: 3%;
}
.aboutsection_1 {
    margin-left: 5%;
}
.aboutsection_2 {
    margin-left: 13%;
    margin-right: 9%;
}
.mission_statement, .about_us {
    font-size: 50px;
    color: #333333;
    line-height: 66px;
    font-weight: 700;
}
.mission_statement_description {
    font-size: 22px;
    font-weight: 500;
    color: #707070;
    line-height: 40px;
}
.highlights {
    font-size: 50px;
    line-height: 66px;
    font-weight: 900;
    color: #333333;
    margin-top: 6%;
}
.numbers {
    font-size: 50px;
    color: #20639B;
    font-weight: 700;
    line-height: 66px;
}
.about_row3.top {
    margin-top: 2%;
}
.highlights_section {
    font-size: 30px;
    color: #20639B;
    height: 150px;
    float: right;
}
.statement_section {
    margin-right: 4%;
    margin-left: 4%;
}
.industrial_img {
    vertical-align: middle;
    margin-right: 20px;
}
.numbers_block {
    margin: auto;
}
.left_arrow1 {
    vertical-align: middle;
    margin-left: 20px;
}
.cms-about-us .breadcrumbs {
    display: none;
}
.border-block {
    margin-top: 2.3%;
}
.map_block {
    min-height: 790px;
    margin-bottom: 5%;
}
.valued_assets_section {
    background-color: #F4F9FF;
    padding-top: 3%;
}
.asset_type {
    min-height: 96px;
}
.valued_assets {
    font-family: 'Source Sans Pro';
    font-size: 50px;
    line-height: 66px;
    font-weight: 800;
    color: #333333;
    margin-bottom: 3%;
}
.worldwide_office {
    font-family: 'Source Sans Pro';
    font-size: 50px;
    line-height: 66px;
    font-weight: 800;
    color: #333333;
    margin-bottom: 1%;
}
.number_text1, .number_text2, .number_text3, .number_text4, .number_text5 {
    font-size: 40px;
    text-align: left;
    margin-bottom: 20px
}
.asset_heading {
    font-size: 28px;
    color: #ffffff;
    font-family: 'Source Sans Pro';
    margin: auto;
}
.asset_content {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    padding-left: 14px;
}
.number_text1 {
    color: #EE254B;
}
.number_text2 {
    color: #4BB1B3;
}
.number_text3 {
    color: #1F2E58;
}
.number_text4 {
    color: #F14C1C;
}
.number_text5 {
    color: #1C55F1;
}
.valued_assets_section .pagebuilder-column-group {
    margin-right: 4%;
    margin-left: 4%;
}
.country {
    font-size: 30px;
    color: #fff;
    font-family: 'Source Sans Pro';
    line-height: 40px;
    font-weight: 700;
    margin-top: 10px;
}
.country.usa {
    background-color: #EE9326;
    text-align: center;
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.country.nigeria {
    background-color: #E4242F;
    text-align: center;
    width: 55%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.country.netherland {
    background-color: #49A967;
    text-align: center;
    width: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.country.uae {
    background-color: #2A3C93;
    text-align: center;
    width: 75%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.country.india {
    background-color: #5C2373;
    text-align: center;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.country.singapore {
    background-color: #1E2C54;
    text-align: center;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0px 45px 45px 0px;
}
.worldwide_block_section {
    margin-top: 4%;
}
.highlights_section1 {
    font-size: 30px;
    color: #20639B;
    height: 150px;
    float: left;
}
.highlights_section1 .left_arrow1 {
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 0px;
}
.highlights_section1 .industrial_img {
    vertical-align: middle;
    margin-left: 20px;
}
.country_list {
    margin-bottom: 2%;
}

/* Static Page_Buyer_Advantage */

.cms-buyer-advantage .breadcrumbs {
    display: none;
}
.cms-buyer-advantage .columns {
    width: 92%;
    margin: auto;
    padding-top: 4%;
    background-color: #ffffff;
    padding-bottom: 4%;
    margin-bottom: 4%;
    margin-top: 2%;
}
.buyer_advantage_bg {
    min-height: 558px;
}
.advantage_column {
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
}
.buyer_advantage {
    font-size: 40px;
    color: #DDB363;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 1.5px;
}
.tailor_made_block, .secure_block {
    text-align: right;
}
.tailor_made, .secure, .confidence, .verified_sellers {
    font-size: 30px;
    color: #002D56;
    font-weight: 700;
    line-height: 38px;
}
.caption_text {
    font-size: 20px;
    color: #333C42;
}
.verified_seller_block, .confidence_block {
    text-align: left;
}
.secutiry_column, .verified_column {
    min-height: 300px;
}
.verified_column {
    padding-left: 3%;
}

/* Seller Advantage */
.cms-seller-advantage .breadcrumbs {
    display: none;
}
.cms-seller-advantage .columns {
    width: 92%;
    margin: auto;
    padding-top: 4%;
    background-color: #ffffff;
    padding-bottom: 4%;
    margin-bottom: 4%;
    margin-top: 2%;
}

