@media (min-width: 1639px) and (max-width: 1819px){
    .saleimg, .bannercol {
        min-height: 460px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 200px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 410px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: 1%;
    }
    .bgimg_bottom.sixth_row {
        min-height: 500px !important;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 40px !important;
        font-family: 'source sans pro';
        margin-left: 34px !important;
        padding-left: 0px;
        font-size: 20px !important;
    }
    
    .bannercol2, .bannercol5 {
        margin-left: 18px;
    }
    .fourth_row {
        padding-right: 10.5%;
        padding-left: 6.5%;
    }
    .benefits_description {
        font-size: 16px;
    }
    .divider_line hr {
        border-width: 187px !important;
    }

}

@media (min-width: 1535px) and (max-width: 1638px){
    .saleimg, .bannercol {
        min-height: 430px !important;
    }
    .level0, .level1 {
        font-size: 18px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 200px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 400px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: 1%;
    }
    .dealtxt {
        margin-left: 8%;
    }
    .header-area.header4 .vertical-menu-widget .vertical-menu li > a {
        padding: 7px 20px;
    }
    .title2 span {
        font-size: 45px !important;
    }
    .bgimg_bottom.sixth_row {
        min-height: 500px !important;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 40px !important;
        font-family: 'source sans pro';
        margin-left: 34px !important;
        padding-left: 0px;
        font-size: 20px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget .vertical-menu li > a {
        padding: 7px 36px 7px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 0px;
    }
    .fourth_row {
        padding-right: 10.5%;
        padding-left: 6.5%;
    }

}

@media (min-width: 1439px) and (max-width: 1534px){
    .saleimg, .bannercol {
        min-height: 400px;
    }
    .level0, .level1 {
        font-size: 15px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 175px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 355px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -8px;
    }
    .dealtxt {
        margin-left: 10%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 44px;
        line-height: 44px;
    }
    .txtone {
        font-size: 20px;
        line-height: 20px;
    }
    .descrp {
        font-size: 17px;
        line-height: 20px;
    }
    .greybtn, .blbtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blbtn2 {
        margin-left: 10% !important;
    }
    .texthead span {
        font-size: 28px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 22px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 18px;
        line-height: 22px;
    }
    .blbtn {
        font-size: 16px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .benefits_text {
        font-size: 52px !important;
        line-height: 60px !important;
    }
    .benefits_description {
        font-size: 16px !important;
        line-height: 24px;
    }
    .savetxt {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 24px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 3% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4%!important;
        margin-bottom: 4% !important;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 40px !important;
    }
    .descrtxt3 span {
        font-size: 20px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 22px !important;
        line-height: 20px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -14px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 168px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        line-height: 51px !important;
        height: 51px;
        font-size: 18px;
        padding: 0 50px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 40px !important;
        font-family: 'source sans pro';
        margin-left: 30px;
        padding-left: 0px;
        font-size: 17px !important;
    }
    
    
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 28px;
        top: 3px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 7px;
    }
    .headtxt3 {
        margin-bottom: 5%;
    }
    .descr5 {
        margin-bottom: 6%;
    }
    .deptmenu .widget.megamenu-widget.vertical-menu-widget {
        min-width: 97%;
    }

}


@media (min-width: 1365px) and (max-width: 1438px){
    
    .saleimg, .bannercol {
        min-height: 375px !important;
    }
    .level0, .level1 {
        font-size: 15px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 175px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 355px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -8px;
    }
    .dealtxt {
        margin-left: 10%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 40px;
        line-height: 40px;
    }
    .txtone {
        font-size: 18px;
        line-height: 18px;
    }
    .descrp {
        font-size: 14px;
        line-height: 20px;
    }
    .greybtn, .blbtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 28px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 22px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 18px;
        line-height: 22px;
    }
    .blbtn {
        font-size: 16px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .benefits_text {
        font-size: 52px !important;
        line-height: 60px !important;
    }
    .benefits_description {
        font-size: 16px !important;
        line-height: 24px;
    }
    .savetxt {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 24px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 3% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4%!important;
        margin-bottom: 4% !important;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 40px !important;
    }
    .descrtxt3 span {
        font-size: 20px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 22px !important;
        line-height: 20px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -14px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 168px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    
   
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        margin: auto;
        align-content: space-around;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    
    .header-area.header4 .bottom-content .frame .vertical-menu-widget .vertical-menu li > a {
        padding: 6px 36px 6px;
    }
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 7px;
    }
    .headtxt3 {
        margin-bottom: 5%;
    }
    .descr5 {
        margin-bottom: 6%;
    }
    .deptmenu .widget.megamenu-widget.vertical-menu-widget {
        min-width: 97%;
    }

}


@media (min-width: 1279px) and (max-width: 1364px) {

    .saleimg, .bannercol {
        min-height: 330px !important;
    }
    .level0, .level1 {
        font-size: 14px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 152px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 315px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -15px;
    }
    .dealtxt {
        margin-left: 10%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 40px;
        line-height: 40px;
    }
    .txtone {
        font-size: 18px;
        line-height: 18px;
    }
    .descrp {
        font-size: 14px;
        line-height: 20px;
    }
    .greybtn, .blbtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 24px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 20px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 16px;
        line-height: 20px;
    }
    .blbtn {
        font-size: 16px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .benefits_text {
        font-size: 44px !important;
        line-height: 54px !important;
    }
    .benefits_description {
        font-size: 15px !important;
        line-height: 18px;
    }
    .savetxt {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 21px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 3% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4%!important;
        margin-bottom: 4% !important;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 38px !important;
    }
    .descrtxt3 span {
        font-size: 18px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 20px !important;
        line-height: 18px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -18px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 154px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        line-height: 45px !important;
        height: 45px;
        font-size: 15px;
        padding: 0 50px;
    }
   
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 35px !important;
        font-family: 'source sans pro';
        margin-left: 30px;
        padding-left: 0px;
        font-size: 17px;
    }
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        align-content: space-around;
        padding-right: 10px;
        padding-left: 5px;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 28px;
        top: 3px;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget .vertical-menu li > a {
        padding: 5px 32px 5px;
    }
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 7px;
    }
    .headtxt3 {
        margin-bottom: 5%;
    }
    .descr5 {
        margin-bottom: 6%;
    }
    .deptmenu .widget.megamenu-widget.vertical-menu-widget {
        min-width: 97%;
    }


}


@media (min-width: 1200px) and (max-width: 1278px){

    .saleimg, .bannercol {
        min-height: 330px !important;
    }
    .level0, .level1 {
        font-size: 14px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 152px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 315px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -14px;
    }
    .dealtxt {
        margin-left: 10%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 40px;
        line-height: 40px;
    }
    .txtone {
        font-size: 18px;
        line-height: 18px;
    }
    .descrp {
        font-size: 14px;
        line-height: 20px;
    }
    .greybtn, .blbtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 16px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 24px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 20px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 16px;
        line-height: 20px;
    }
    .blbtn {
        font-size: 16px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .benefits_text {
        font-size: 44px !important;
        line-height: 54px !important;
    }
    .benefits_description {
        font-size: 15px !important;
        line-height: 18px;
    }
    .savetxt {
        font-size: 32px;
        margin-bottom: 5px;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 21px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 3% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4%!important;
        margin-bottom: 4% !important;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 34px !important;
    }
    .descrtxt3 span {
        font-size: 18px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 20px !important;
        line-height: 18px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -18px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 154px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        line-height: 45px !important;
        height: 45px;
        font-size: 15px;
        padding: 0 50px;
    }
   
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 35px !important;
        font-family: 'source sans pro';
        margin-left: 30px;
        padding-left: 0px;
        font-size: 17px;
    }
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        align-content: space-around;
        padding-right: 10px;
        padding-left: 5px;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 28px;
        top: 3px;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget .vertical-menu li > a {
        padding: 5px 30px 5px;
    }
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 7px;
    }
    .headtxt3 {
        margin-bottom: 5%;
    }
    .descr5 {
        margin-bottom: 6%;
    }
    .deptmenu .widget.megamenu-widget.vertical-menu-widget {
        min-width: 98%;
    }

}


@media (min-width: 1021px) and (max-width: 1199px){
    .saleimg, .bannercol {
        min-height: 285px !important;
    }
    .level0, .level1 {
        font-size: 13px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 130px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 265px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -22px;
    }
    .dealtxt {
        margin-left: 8%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 32px;
        line-height: 32px;
    }
    .txtone {
        font-size: 16px;
        line-height: 16px;
    }
    .descrp {
        font-size: 12px;
        line-height: 13px;
    }
    .greybtn, .blbtn2 {
        font-size: 14px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8px;
        padding-bottom: 8px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 14px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 18px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 16px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 12px;
        line-height: 16px;
    }
    .blbtn {
        font-size: 14px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .benefits_text {
        font-size: 34px !important;
        line-height: 44px !important;
    }
    .benefits_description {
        font-size: 12px !important;
        line-height: 15px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 2% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 3% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 4%!important;
        margin-bottom: 4% !important;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 30px !important;
    }
    .descrtxt3 span {
        font-size: 15px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 18px !important;
        line-height: 15px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -18px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 126px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    
    
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 22px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 5px;
    }
    .headtxt3 {
        margin-bottom: 5%;
    }
    .descr5 {
        margin-bottom: 6%;
    }
}


@media (min-width: 850px) and (max-width: 1020px) {

    .saleimg, .bannercol {
        min-height: 230px !important;
    }
    .level0, .level1 {
        font-size: 11px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 105px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 215px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -30px;
    }
    .dealtxt {
        margin-left: 5%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 28px;
        line-height: 28px;
    }
    .txtone {
        font-size: 15px;
        line-height: 15px;
    }
    .descrp {
        font-size: 11px;
        line-height: 12px;
    }
    .greybtn, .blbtn2 {
        font-size: 11px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8px;
        padding-bottom: 8px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 12px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 13px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 11px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 12px;
        line-height: 16px;
    }
    .blbtn {
        font-size: 12px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .benefits_text {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .benefits_description {
        font-size: 11px !important;
        line-height: 13px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin: auto;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 25px !important;
    }
    .descrtxt3 span {
        font-size: 13px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -20px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 100px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        line-height: 35px !important;
        height: 35px;
        font-size: 13px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch .input-text {
        height: 18px !important;
        font-family: 'source sans pro';
        margin-left: 30px;
        padding-left: 0px;
    }
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        align-content: space-around;
        padding-right: 18px;
        padding-left: 0px;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 22px;
    }
   
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 5px;
    }
    .emptycol {
        max-width: 21%;
        flex: 0 0 21%;
    }
}



@media (min-width: 769px) and (max-width: 849px) {

    .saleimg, .bannercol {
        min-height: 200px !important;
    }
    .level0, .level1 {
        font-size: 9px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 105px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 190px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -33px;
    }
    .dealtxt {
        margin-left: 5%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 25px;
        line-height: 25px;
    }
    .txtone {
        font-size: 15px;
        line-height: 15px;
    }
    .descrp {
        font-size: 11px;
        line-height: 12px;
    }
    .greybtn, .blbtn2 {
        font-size: 11px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8px;
        padding-bottom: 8px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 12px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 11px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 10px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 10px;
        line-height: 16px;
    }
    .blbtn {
        font-size: 12px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .benefits_text {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .benefits_description {
        font-size: 11px !important;
        line-height: 13px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin: auto;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 25px !important;
    }
    .descrtxt3 span {
        font-size: 13px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -16px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: block;
    }
    .divider_line hr {
        border-width: 100px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        line-height: 35px !important;
        height: 35px;
        font-size: 13px;
    }
    
    
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        align-content: space-around;
        padding-right: 10px;
        padding-left: 7px;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 22px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 0px;
    }
    .emptycol {
        max-width: 22%;
        flex: 0 0 22%;
    }
    .bannercol {
        max-width: 29%;
        flex: 0 0 29%;
    }

    
}


@media only screen and (max-width: 768px){
    .saleimg, .bannercol {
        min-height: 200px !important;
    }
    .level0, .level1 {
        font-size: 9px !important;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 105px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 190px !important;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -33px;
    }
    .dealtxt {
        margin-left: 5%;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 25px;
        line-height: 25px;
    }
    .txtone {
        font-size: 15px;
        line-height: 15px;
    }
    .descrp {
        font-size: 11px;
        line-height: 12px;
    }
    .greybtn, .blbtn2 {
        font-size: 11px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 8px;
        padding-bottom: 8px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 12px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 11px !important;
    }
    .fivebanner.row {
        padding-top: 1% !important;
        padding-bottom: 0% !important;
    }
    .vewscln span {
        font-size: 10px !important;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 10px;
        line-height: 16px;
    }
    .blbtn {
        font-size: 12px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .benefits_text {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .benefits_description {
        font-size: 11px !important;
        line-height: 13px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 205px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .first_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .third_row, .fourth_row, .fifth_row {
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin: auto;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 25px !important;
    }
    .descrtxt3 span {
        font-size: 13px !important;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 15px !important;
        line-height: 15px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 60%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: -16px;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: none;
    }
    .divider_line hr {
        border-width: 100px !important;
    }
    .header-area.header4 .bottom-content .frame .vertical-menu-widget {
        position: inherit !important;
    }
   
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 22% !important;
        flex: 0 0 22% !important;
    }
    .header-area.header4 .bottom-content .col-9.col-mb-12.col-tb-8.col-des-9 {
        max-width: 78%;
        flex: 0 0 78%;
        padding-right: 0;
        padding-left: 0;
        margin: auto;
        align-content: space-around;
        padding-right: 10px;
        padding-left: 7px;
    }
    .search-form {
        width: 98%;
        margin: auto;
    }
    .searchicon {
        font-size: 25px;
        top: 0;
    }
    i.pe-7s-search.searchicon {
        font-size: 22px;
    }
    
    .header-area.header4.search-visible .search-form .block.block-search .block-content form.form.minisearch {
        margin: 5px 10px 5px 10px !important;
    }
    .fourth_row {
        padding-left: 0px;
        padding-right: 0px;
    }
    .bannercol2, .bannercol5 {
        margin-left: 0px;
    }
    .emptycol {
        max-width: 22%;
        flex: 0 0 22%;
    }


}


@media only screen and (max-width: 480px){
    .emptycol {
        display: none;
    }
    .saleimg {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 4%;
        min-height: 226px !important;
    }
    .flshbdy {
        justify-content: center;
        margin-left: 0px;
    }
    .bannercol {
        max-width: 100%;
        flex: 0 0 100%;
        min-height: 261px !important;
        margin-bottom: 4%;
    }
    .first_row, .fivebanner.row, .third_row, .fourth_row, .fifth_row {
        padding-right: 15px !important;
        padding-left: 15px !important;
        padding-top: 4% !important;
        padding-bottom: 1% !important;
        margin: auto;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 180px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 365px !important;
    }
    .bannercol2{
        background-size: 100% 100% !important;
        margin-top: 4%;
    }
    .bannercol5 {
        background-size: 100% 100% !important;
        margin-top: 4%;
        min-height: 187px !important;
    }

    .divider_column {
        max-width: 15%;
    }
    .benefits_column {
        max-width: 84%;
        margin-bottom: 4%;
    }
    .dealtxt {
        margin: auto;
        max-width: 66%;
        margin-left: 22px;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -5px;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt {
        font-size: 32px;
        line-height: 25px;
    }
    .txtone {
        font-size: 15px;
        line-height: 15px;
    }
    .descrp {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    .twobtns {
        text-align: left;
    }
    .greybtn, .blbtn2 {
        font-size: 13px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 12px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        font-size: 13px;
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 30px !important;
    }
    .vewscln span {
        font-size: 25px !important;
    }
    .deal {
        text-align: center;
        margin-top: 18px;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 12px;
        line-height: 16px;
        text-align: left;
    }
    .blbtn {
        font-size: 13px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .benefits_text {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .benefits_description {
        font-size: 13px !important;
        line-height: 16px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 177px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin: auto;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 35px !important;
    }
    .descrtxt3 span {
        font-size: 16px !important;
        line-height: 16px;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 23px !important;
        line-height: 23px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 100%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: 0;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: none;
    }
    .divider_line hr {
        border-width: 100px !important;
    }
    
    .deptmenu .widget.megamenu-widget.vertical-menu-widget {
        min-width: 100% !important;
    }
    .header-area.header4 .bottom-content .vertical-title {
        padding-left: 16px !important;
    }
    .header-area.header4 .bottom-content .frame .col-3.col-mb-12.col-tb-4.col-des-3 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        padding: 0px !important;
    }

}


@media only screen and (max-width: 320px){
    .emptycol {
        display: none;
    }
    .saleimg {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 4%;
        min-height: 180px !important;
        background-size: 100% 100% !important;
        margin-right: 0px;
    }
    .flshbdy {
        justify-content: center;
        margin: auto;
        width: 95%;
    }
    .bannercol {
        max-width: 100%;
        flex: 0 0 100%;
        min-height: 261px !important;
        margin-bottom: 4%;
    }
    .first_row, .fivebanner.row, .third_row, .fourth_row, .fifth_row {
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 1% !important;
        padding-bottom: 0% !important;
        margin-bottom: 4% !important;
        margin: auto;
    }
    .texthead, .texthead .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 190px !important;
    }
    .vewscln .pagebuilder-overlay.pagebuilder-poster-overlay {
        min-height: 330px !important;
    }
    .bannercol2{
        background-size: 100% 100% !important;
        margin-top: 4%;
    }
    .bannercol5 {
        background-size: 100% 100% !important;
        margin-top: 4%;
        min-height: 187px !important;
    }
    .divider_column {
        max-width: 15%;
    }
    .benefits_column {
        max-width: 82%;
        margin-bottom: 4%;
    }
    .dealtxt {
        margin: auto;
        max-width: 66%;
        margin-left: 22px;
    }
    .vewscln .pagebuilder-poster-content {
        margin-bottom: -10px;
    }
    a.menutxt {
        font-size: 15px !important;
        color: #333333 !important;
    }
    .btnspace, .btnspace1 {
        max-width: 45%;
        flex: 0 0 45%;
        margin: auto;
    }
    .titletxt.saletext {
        font-size: 22px;
        line-height: 5px;
        text-align: center !important;
    }
    .txtone {
        font-size: 13px;
        line-height: 13px;
        text-align: center !important;
    }
    .descrp {
        font-size: 10px;
        line-height: 10px;
        text-align: center;
    }
    .twobtns {
        text-align: center;
    }
    .greybtn, .blbtn2 {
        font-size: 11px !important;
        padding-left: 8%;
        padding-right: 8%;
        padding-top: 6px;
        padding-bottom: 6px;  
    }
    .blbtn3, .greybtn2 {
        font-size: 12px !important;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .blbtn2 {
        font-size: 13px;
        margin-left: 4% !important;
    }
    .texthead span {
        font-size: 28px !important;
    }
    .vewscln span {
        font-size: 20px !important;
    }
    .deal {
        text-align: center;
        margin-top: 18px;
    }
    .vewscln p {
        margin-bottom: 0;
    }
    .descrp2 {
        font-size: 11px;
        line-height: 16px;
        text-align: left;
    }
    .blbtn {
        font-size: 11px;
        padding-left: 14%;
        padding-right: 14%;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .benefits_text {
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .benefits_description {
        font-size: 11px !important;
        line-height: 14px;
    }
    .savetxt {
        font-size: 25px;
        margin-bottom: 0;
    }
    .bannercol3 {
        min-height: 160px !important;
    }
    .gmgprd {
        font-size: 13px;
    }
    .bgimg_bottom.sixth_row {
        margin-bottom: 30px !important;
        min-height: 238px !important;
        margin: auto;
        background-size: cover !important;
    }
    .title2 span {
        font-size: 32px !important;
    }
    .descrtxt3 span {
        font-size: 16px !important;
        line-height: 16px;
    }
    .descrtxt4 span, .descrtxt5 span, .descrtxt6 span {
        font-size: 20px !important;
        line-height: 20px !important;
    }
    .bannercol8, .bannercol9, .bannercol10 {
        align-items: center;
    }
    .threeimgs1, .threeimgs2, .threeimgs3 {
        max-width: 100%;
    }
    .texthead .pagebuilder-poster-content {
        margin-bottom: 0;
    }
    .threeimgs1 img.pagebuilder-mobile-hidden, .threeimgs2 img.pagebuilder-mobile-hidden, .threeimgs3 img.pagebuilder-mobile-hidden {
        display: none;
    }
    .divider_line hr {
        border-width: 100px !important;
    }
    .deal .twobtns {
        text-align: left;
    }
    .bannercol2, .bannercol5 {
        margin-left: 0px;
    }
   
}