
.page-products .page-main .columns .column.main {
    min-width: 100%;
}
.headbaner {
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    background: #002D56;
    border-radius: 4px;
    margin:auto;
    margin-top: 10%;
    max-width: 96%;
}
.heading {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'source sans pro';
    font-weight: 600;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.block1 {
    max-width: 10%;
    flex: 0 0 10%;
}
.block2 {
    max-width: 12%;
    flex: 0 0 12%;
}
.block3 {
    max-width: 10%;
    flex: 0 0 10%;
}
.block4 {
    max-width: 22%;
    flex: 0 0 22%;
}
.block5 {
    max-width: 6%;
    flex: 0 0 6%;
}
.block6 {
    max-width: 5%;
    flex: 0 0 5%;
}
.block7 {
    max-width: 9%;
    flex: 0 0 9%;
}
.block8, .block9 {
    max-width: 8%;
    flex: 0 0 8%;
}
.block10, .block11 {
    max-width: 6%;
    flex: 0 0 6%;
    font-size: 26px;
    color: #ffffff;
}
.product-item-info.product-info-slide-list {
    display: flex;
    margin: auto;
}
.product-item-brand.title, .product.name.product-item-name, .product-item-sku.title, .product-item-details.title, .product-item-stock.title, .product-item-offer.title, .product-item-action.title {
    margin: auto;
    font-size: 20px;
    color: #ffffff;
}