.producttable {
  margin: 10px 2% 20px;
}

table {
  width: 100%;
  margin: 10px 0 20px;

  thead tr {
    display: flex;
    margin: 0 3%;
    align-items: center;
    background-color: #002d56;
    border-radius: 4px;
    color: white;
    height: 100%;

    th {
      // min-width: calc(90% / 9 - 5px);
      font-size: 20px;
      font-weight: 500;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #00000000;
      gap: 1em;
      cursor: pointer;
    }

    .Producttable_heading_icon {
      flex: 1;
      display: flex;
      align-items: center;
      gap: 2em;
      width: max-content;
    }
  }

  .css-okt5j6-MuiDataGrid-columnHeaders {
    background-color: #002d56;
  }
}
