@media only screen and (min-width:1441px) and  (max-width: 1920px){
    .Header_1st_bar_list{
        flex: 0 0 42%;
    }
    .Header_buttons{
        flex: 0 0 20%;
         gap: 25px; 
    }
    .Header_Currency_dropdown_style{
        flex: 0 0 20%;
        justify-content: center;
    }
    .Currency_Dropdown{
        position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    width: 110px;
    height: auto;
    border-radius: 5px;
    top: 10%;
    z-index: 9;
    margin-left: 77%;

    }
} 
@media only screen and (min-width:1430px) and  (max-width: 1445px){

    .Header_Currency_dropdown_style{
        display: flex;
    height: 60px;
    margin: 0px 20px 0px 15%;

    }
    /* .Header{
        display: flex;
    } */
    .Currency_Dropdown{
        position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    width: 110px;
    height: auto;
    border-radius: 5px;
    top: 13%;
    z-index: 9;
    margin-left: 77%;
    }
}

@media only screen and (min-width:1020px) and  (max-width: 1039px){
         .Header{
            
            font-size: 15px;
            width: 100%;
         }
         .Header__Contactus,
         .Header__list{
             font-size: 13px;
         }
         .Header_1st_bar_list{
            margin-top: 20px
         }
         .Header_buttons{
             gap: 0;
         }
         
         .Header_Signin_btn{
            padding: 0px 40px 0px 40px;
            margin: 13px 0 13px 0;
            
         }
         .Header_Currency_dropdown_style{
            margin: 0px 20px 0px 20px;
         } 
         .Currency_Dropdown{
            position: absolute;
            display: flex;
            flex-direction: column;
            list-style: none;
            background-color: #fff;
            padding: 15px;
            width: 110px;
            height: auto;
            border-radius: 5px;
            top: 14%;
            z-index: 9;
            margin-left: 78%;
         }
}
@media only screen and (min-width:768px) and  (max-width: 1019px){
     .Header_1st_bar{
        display: flex;
        cursor: pointer;
        background-color: #F6F6F8;
        font-family: sans-serif;
        gap: 20px;
    
     }
     .Header_1st_bar_list{
        list-style-type: none;
        display: flex;
        gap: 15px;
        justify-content: space-evenly;
        color: #5C6369;
        padding-top: 3px;
    
     }
     .Header__Contactus,
     .Header__list{
        text-decoration: none;
        font-size: 10px;
        display: flex;
        justify-content: space-evenly;
        font-family: 'Source Sans Pro';
        color: #5C6369;
        opacity: .8;
        font-weight: bold;
        padding-top:6px ;
     }
     .Products_Super{
        background-color: #20639B;
        color: white;
        padding: 1px 5px;
        border-radius: 25px;
        font-size: 6px;
        text-align: center;
     }
     .Header_Register_btn, .Header_Signin_btn{
        padding: 8px 20px 8px 20px;
     }
     /* .Header_Signin_btn{
        padding: 8px 20px 10px 20px;
     } */
     .Currency_Dropdown{
         top: 13%;
         margin-left: 86%;
     }
     .Currency_Check{
         align-items: center;
     }
     .Currency_img{
        height: 19px;
    
        
     }
     .Currency_Select_tag{
        margin-top: 20px;
        font-family: 'Source Sans Pro';
        font-weight: bold;
        color: #5C6369;
        opacity: 1;
        font-size: 11px;
        padding-top: 2px;
     }
}
@media only screen and (max-width: 480px){
    .Header_1st_bar{
        flex-direction: column;
        gap: 2px;
    }
    .Header_1st_bar_list{
        gap: 10px;
        width: 100%;
        padding-left: 0;
    }
    .Header__list{
        font-size: 15px;
        opacity: 1;
    }
    .Header__Contactus{
        position: absolute;
         padding: 44px 0px 0px 0px;
         margin-left: -257px;
         font-size: 15px;
         opacity: 1;
    }
    .Products_Super{
        font-size: 5px;
    }
    .Header_buttons{
        /* justify-content: space-evenly; */
        margin-bottom: 10px;
        gap: 30px;
        padding-left: 252px;
   
    }
    .Header_Signin_btn,
    .Header_Register_btn{
       padding: 7px 15px;
       font-size: 15px;
       margin: 0;
    }
    .Header_Currency_dropdown_style{
        position: absolute;
        padding: 27px 0px 0px 261px;
        display: none;
    }
    .Currency_Select_tag{
        font-size: 12px;
        padding-top: 4px;
    }
    .Currency_Dropdown{
       left: -31%;
       top: 33%;
    }
    .Currency_img{
        height: 17px;
    }

}
@media only screen and (max-width: 320px){
     .Header_1st_bar{
         flex-direction: column;
         gap: 2px;
     }
     .Header_1st_bar_list{
         gap: 10px;
         width: 100%;
         padding-left: 0;
     }
     .Header__list{
         font-size: 13px;
         opacity: 1;
     }
     .Header__Contactus{
         position: absolute;
         padding: 35px 0px 0px 0px;
         margin-left: -193px;
         font-size: 15px;
         opacity: 1;
     }
     .Products_Super{
         font-size: 5px;
     }
     .Header_buttons{
         /* justify-content: space-evenly; */
         margin-bottom: 10px;
         gap: 20px;
         padding-left: 128px;
    
     }
     .Header_Signin_btn,
     .Header_Register_btn{
        padding: 4px 15px;
        font-size: 14px;
        margin: 0;
     }
     .Header_Currency_dropdown_style{
         position: absolute;
         padding: 27px 0px 0px 145px;
         display: none;
     }
     .Currency_Select_tag{
         font-size: 12px;
         padding-top: 4px;
     }
     .Currency_Dropdown{
        left: -31%;
        top: 33%;
     }
     .Currency_img{
         height: 17px;
     }

}
