.productlist {
  background-color: #002d56;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 15px 4%;
  gap: 2em;
  width: 100%;
  justify-content: space-between;
  .product_menu_filter {
    color: #ffffff;
    width: 2.2em !important;
    height: 2.2em !important;
  }

  @mixin flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productlist__deal {
    @include flex1;
    align-items: baseline;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .productlist__deal__image {
      width: 60px;
      img {
        width: 100%;
      }
    }

    .productlist__todaytext {
      width: max-content;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .productlist__down,
  .productlist__up {
    width: 40px;
    img {
      object-fit: contain;
    }
  }

  .productlist__search {
    color: white;
    min-width: 13em;
    .search_input {
      .MuiInput-root input {
        padding: 4px 0 11px;
        color: #ffffff;
        font-size: 20px;
      }
      .MuiInput-root input::placeholder {
        color: #ffffff;
        font-size: 20px;
        opacity: 1;
      }
      .MuiInput-root:before {
        border-bottom: 1px solid #ffffff;
      }
      .MuiInput-root:after {
        border-bottom: 1px solid #ddb363;
      }
      .search_icon {
        color: #ffffff;
        margin-bottom: 3px;
      }
    }
  }
  .product_dropdown_hub {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 20px;
    }
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: #ffffff;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 2.2em;
      }
    }
  }
  .product_dropdown_condition {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 20px;
    }
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: #ffffff;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 3.75em;
      }
    }
  }

  .product_dropdown_price {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 20px;
    }
    .MuiOutlinedInput-root {
      .MuiOutlinedInput-notchedOutline {
        border-color: #ffffff;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 1.5em;
      }
    }
  }

  .productlist__download {
    min-width: 56px;
    height: 56px;
    background-color: #ddb363;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    img {
      width: 50%;
      object-fit: contain;
    }
  }
}
@media (max-width: 1300px) {
  .productlist {
    flex-wrap: wrap;
  }
}
@media (max-width: 1600px) {
  .productlist .product_menu_filter {
    width: 2.2em !important;
    height: 2.2em !important;
  }
  .productlist .productlist__deal .productlist__deal__image {
    width: 46px;
  }
  .productlist {
    padding: 15px 2%;
    gap: 1em;
  }
}
@media (max-width: 1440px) {
  .productlist .product_menu_filter {
    width: 1.5em !important;
    height: 1.5em !important;
  }
  .productlist .productlist__deal .productlist__deal__image {
    width: 35px;
  }
  .productlist {
    padding: 15px 2%;
    gap: 1em;
  }
}

@media (max-width: 480px) {
  .productlist__search {
    min-width: 100% !important;
    .MuiFormControl-root {
      width: 100%;
    }
  }

  // .productlist {
  //   justify-content: initial;
  // }
}

@media (max-width) {
  .productlist {
    justify-content: space-between !important;
  }
}
