.productlist {
  background-color: #002d56;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 15px 4%;
  gap: 2em;
  width: 100%;
  justify-content: space-between;
  .product_based_deals {
    display: flex;
  }
  .product_menu_filter {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  @mixin flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .productlist__deal {
    @include flex1;
    color: white;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    width: 100px;
    .image_opactity {
      opacity: 0.5;
    }
    .image {
      width: 40px;
      height: 40px;
      img {
        width: 100%;
      }
    }
    span {
      width: max-content;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.54px;
    }
  }

  .productlist__search {
    color: white;
    min-width: 13em !important;
    border: 1px solid #d6d8d9;
    .MuiPaper-root {
      background-color: unset !important;
      padding: 6px;
      input {
        color: #ffffff;
      }
      input#search_proudct {
        color: #858a8e !important;
      }
      input::placeholder {
        color: #858a8e;
        font-size: 16px;
        opacity: 1;
      }

      .MuiButtonBase-root {
        color: #ffffff;
        padding: 8px 22px;
        background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
        border-radius: 2px;
      }
    }
  }
  .product_dropdown_hub {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 16px;
    }
    .MuiOutlinedInput-root {
      .MuiSelect-select {
        color: #ffffff;
      }
      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #bfbfbf;
        border-radius: 4px;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 2.2em;
      }
    }
  }
  .product_dropdown_condition {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 16px;
    }
    .MuiOutlinedInput-root {
      .MuiSelect-select {
        color: #ffffff;
      }
      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #bfbfbf;
        border-radius: 4px;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 3.75em;
      }
    }
  }

  .product_dropdown_price {
    .MuiInputLabel-root {
      color: #ffffff;
      font-size: 16px;
    }
    .MuiOutlinedInput-root {
      .MuiSelect-select {
        color: #ffffff;
      }
      .MuiOutlinedInput-notchedOutline {
        border: 1px solid #bfbfbf;
        border-radius: 4px;
      }
      .MuiSvgIcon-root {
        fill: #ffffff;
      }
      fieldset legend {
        font-size: 1.5em;
      }
    }
  }
  .apply-btn {
    .plp-apply-btn {
      min-width: 120px;
    }
  }

  .productlist__download {
    min-width: 56px;
    height: 56px;
    background-color: #ddb363;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    img {
      width: 50%;
      object-fit: contain;
    }
  }
}
@media (max-width: 1300px) {
  .productlist {
    flex-wrap: wrap;
  }
}
@media (max-width: 1600px) {
  .productlist .productlist__deal .productlist__deal__image {
    width: 46px;
  }

  .productlist {
    padding: 15px 2%;
    gap: 1em;
  }
}
@media (max-width: 1440px) {
  .productlist .productlist__deal .productlist__deal__image {
    width: 30px;
    height: 30px;
  }
  .product_menu_filter {
    width: 30px;
    height: 30px;
  }
  .productlist {
    padding: 15px 2%;
    gap: 10px;
  }
  .productlist .productlist__deal {
    width: auto;

    span {
      font-size: 14px;
    }
  }
  .productlist .productlist__search .search_input .MuiInput-root input {
    font-size: 16px;
    height: 100%;
  }
}

@media (max-width: 480px) {
  .productlist__search {
    min-width: 100% !important;
    .MuiFormControl-root {
      width: 100%;
    }
  }
  .productlist .product_based_deals {
    gap: 10px;
  }
  // .productlist {
  //   justify-content: initial;
  // }
}

@media (max-width) {
  .productlist {
    justify-content: space-between !important;
  }
}
