@media only screen and (max-width: 768px) {
  .Logo {
    display: none;
  }
  .Userdetails_List {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 770px) {
  .Logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    height: 39px;
  }
  .Userdetails_List_Content {
    gap: 15px;
  }
  .Call_us {
    font-size: 14px;
  }
  .User_Call_tag {
    margin: 0px 0px 0px 30px;
    font-size: 10px;
  }
  .User_account_Wishlist_cart {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .Trail {
    /* padding-left: 20px; */
  }
  .Userdetails {
    flex-direction: column;
    margin: 0px !important;
  }
  .User_Call {
    display: none;
  }
  .Logo {
    width: 92%;
    justify-content: space-between;
  }
  .Logo_img {
    width: 36%;
    padding-left: 10px;
  }
  .wishlist {
    visibility: inherit;
    height: 38px;
    padding: 0px 21px 0px 0px;
  }
  .Userdetails_List_Content {
    gap: 50px;
    flex-direction: row;
    padding: 0;
    width: 100%;
    display: none;
  }
  .Userdetails_List {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .Trail {
    /* padding: 0 0 0 0px; */
  }
  .Userdetails {
    flex-direction: column;
  }
  .Logo {
    width: 92%;
    margin: 8px 0px 0px 5px;
    height: 35px;
  }
  .Logo_img {
    width: 37%;
    padding-top: 1px;
    height: 36px;
  }
  .wishlist {
    height: 30px;
  }
  .Userdetails_List_Content {
    gap: 10px;
    flex-direction: row;
    padding: 0;
    width: 100%;
    font-size: 10px;
    display: none;
  }
  .User_account_Wishlist_cart {
    padding-top: 4px;
  }
  .Userdetails_List {
    width: 100%;
    flex-direction: column;
  }
}
