.Userdetails {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto 3%;
  height: 73px;
}

.Logo {
  width: 217px;
  display: flex;
  align-items: center;
}
.Logo_img {
  width: 100%;
}
.Userdetails_List {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.Userdetails_List_Content {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 0;
}
.User_Call {
  display: flex;
  flex-direction: column;
}
.User_Call_tag {
  margin: 0px 0px 0px 43px;
  color: #5c6369;
  font-family: "Source Sans Pro";
  opacity: 0.8;
}
.Call_us {
  color: #333c42;
  font-family: "Source Sans Pro";
  font-weight: bold;
  opacity: 1;
  font-size: 18px;
}
.wishlist {
  visibility: hidden;
}
.Icon {
  height: 17px;
  margin-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
}
.User_Account {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.User_Account svg {
  color: #5c6369;
}
.User_Wishlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.User_Wishlist svg {
  color: #5c6369;
}
.User_cart a svg {
  color: #5c6369;
}
.badge_user {
  color: #5c6369;
}
.badge_user span {
  background-color: #ffffff;
  box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
}
.User_cart {
  display: flex;
  align-items: center;
}
.User_cart a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}
.My_account {
  display: flex;
  height: 30px;
  letter-spacing: 0.9px;
  color: #333c42;
  opacity: 1;
  margin-top: 3px;
}
.My_account_user {
  display: flex;
  height: 30px;
  letter-spacing: 0.9px;
  color: #333c42;
  opacity: 1;
  margin-top: 10px;
}
.User_account_Wishlist_cart {
  color: #5c6369;
  font-family: "Source Sans Pro";
  font-weight: bold;
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .Userdetails {
    display: none;
  }
  .Logo {
    display: none;
  }
  .Userdetails_List {
    display: none;
  }
}
