.sellerdashboard__sidebar {
  padding-bottom: 2em;
  min-width: 372px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 0 4px;

  .active_image {
    fill: #ffffff;
    svg {
      g {
        stroke: #ffffff;
        rect {
          stroke: #ffffff;
        }
        line{
          stroke: #ffffff;
        }
      }
      path {
        stroke: #ffffff;
      }
    }
  }
  .inActive_image {
    fill: #959595;
    svg {
      g {
        stroke: #959595;
        rect {
          stroke: #959595;
        }
        line{
          stroke: #959595;
        }
      }
      path {
        stroke: #959595;
      }
    }
  }
  .sidebar__close {
    display: none;
  }
  .sidebar_head_title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    background: linear-gradient(180deg, #f4f9ff 0%, #ffffff 100%);
    border-radius: 4px 0 0 0;
  }
  ul {
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      display: flex;
      justify-content: flex-start;
      padding-left: 30px;
      align-items: center;
      gap: 10px;
      font-weight: 600;
      letter-spacing: 0.66px;
      font-size: 18px;
      color: #858a8e;
      margin-left: 7px;
      min-height: 65px;
      cursor: pointer;
      &:last-child {
        margin-top: 15px;
      }

      span {
        width: 3em;
      }
    }
  }

  p {
    display: flex;
    align-items: center;
    gap: 10px;
    .sellerlabel {
      color: #5c6369;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.96px;
    }

    .sellervalue {
      background-color: #f8f0e0;
      color: #5c6369;
      font-size: 22px;
      font-weight: bold;
      padding: 0.3em 1em;
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    }
  }

  .sellerdashboard__currentselection {
    color: white;
    background-color: white;
    li {
      font-size: 24px;
    }
  }

  .sellerbg {
    background-image: linear-gradient(#ffd788, #cc9b3e);
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
    & ::before {
      border: 1px solid #d1cccc;
      content: "";
      position: absolute;
      width: 5px;
      height: 48px;
      left: -7px;
      top: 0;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
  }

  .buyerbg {
    background-image: linear-gradient(#20639b, #002d56);
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    position: relative;
    & ::before {
      border: 1px solid #d1cccc;
      content: "";
      position: absolute;
      width: 5px;
      height: 68px;
      left: -7px;
      top: 0;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }
  }
}

@media (max-width: 1660px) {
  .sellerdashboard__sidebar {
    min-width: 20%;
  }
  .sellerdashboard__sidebar p .sellerlabel {
    font-size: 16px;
  }
  .sellerdashboard__sidebar p .sellervalue {
    font-size: 20px;
  }
  .sellerdashboard__sidebar ul li {
    font-size: 14px;
    padding-left: 30px;
  }
  .sellerdashboard__sidebar .sidebar_head_title {
    padding: 1em 0;
  }
  .sellerdashboard__sidebar ul li {
    min-height: 50px;
  }
  .sellerdashboard__sidebar .buyerbg ::before {
    height: 49px;
  }
}
@media (max-width: 1375px) {
  .sellerdashboard__sidebar {
    min-width: 20%;
  }
}
@media (max-width: 1024px) {
  .sidebaropen {
    min-width: 298px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
    position: relative;
    .sidebar_head_title {
      width: 100%;
      display: flex;
      justify-content: center;
      background: linear-gradient(180deg, #f4f9ff 0%, #ffffff 100%);
    }
    ul {
      padding: 0;
      list-style: none;
      width: 100%;

      li {
        display: flex;
        justify-content: flex-start;
        padding-left: 1em;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        color: #858a8e;
        min-height: 50px;
        cursor: pointer;
        font-weight: 600;
        letter-spacing: 0.66px;
        margin-left: 7px;

        &:last-child {
          margin-top: 20px;
        }
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 10px;
      .sellerlabel {
        color: #5c6369;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.96px;
      }

      .sellervalue {
        background-color: #f8f0e0;
        color: #5c6369;
        font-size: 18px;
        padding: 0.3em 1em;
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
      }
    }

    .sellerdashboard__currentselection {
      color: white;
      background-color: white;
      li {
        font-size: 24px;
      }
    }

    .sellerbg {
      background-image: linear-gradient(#ffd788, #cc9b3e);
      color: #ffffff;
      box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    }

    .buyerbg {
      background-image: linear-gradient(#20639b, #002d56);
      color: #ffffff;
      box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    }

    .sidebar__close {
      position: absolute;
      top: 7px;
      right: 2px;
      cursor: pointer;
      background: #002d56;
      color: #ffffff;
      border-radius: 3px;
      width: 1em !important;
      height: 1em !important;
    }
  }
}
