@media only screen and (min-width:1910px) and  (max-width: 1925px){
    .Buyer_Register_form{
        top: 64%;
        width: 72%;
        margin: 30px 0px 30px 262px !important;
    }
    .Buyer_Register_form::after{
        left: 89%;
    }
    .Register_label_1st{
        left: 59px;
    }
    .Register_label_2nd{
        left: 728px;
    }
    .Angle_down{
        padding: 8px 0% 0% 43%;
    }
}
@media only screen and (min-width:1910px) and  (max-width: 1925px){
    .Buyer_Register_form{
        top: 85%;
        width: 72%;
        margin: 30px 0px 30px 262px !important;
    }
}
@media only screen and (min-width:760px) and  (max-width: 770px){
   .Register_page{
       height: 572px;
   }
    .Buyer_Register_form{
    margin: 169px 0px 30px 14px !important;
    width: 96%;
   }
   .Buyer_Register_form::after{
       left:79%;
       border-color: rgba(255,255,255,0) rgba(255 255 255) rgba(255,255,255,0) rgba(255,255,255,0); 
       opacity: 1;
       box-shadow: none;
   }
   .Register_label_1st{
       left: 62px;
       font-size: 14px;
   }
   .Register_label_2nd{
       left: 396px;
       font-size: 14px;
   }
   .Register_page_fields_input{
       height: 30px;
   }
   .Angle_down{
     padding: 8px 0% 0% 39%;
   }
   .Buyer_Register_btn{
    padding: 10px 118px;
    width: 100%;
   }
   .Register_checkbox{
    margin-top: 1px;
   }
}
@media only screen and   (max-width: 480px){
    .Buyer_Register_form{
        left: 0;
        margin: 20px 0 0 7px !important;
        position: static;
        width: 97%;
        top: 20%;
    }
    .Buyer_Register_form::after{
        left:46%;
        border-color: rgba(255,255,255,0) rgb(255 255 255) rgba(255,255,255,0) rgba(255,255,255,0); 
        opacity: 1;
        box-shadow: none;    
    content: '';
    height: 0;
    width: 0;
    border-width: 20px 20px 20px 0px;
    border-style: solid;
    position: absolute;
    top: 339px;

    }
    .Register_label_1st,
    .Register_label_2nd{
        left: 56px;
        font-size: 14px;
    }
    .Register_page_fields_input{
       width: 386px;
    }
    .Angle_down{
        padding: 8px 0% 0% 80%;
    }
    .Buyer_Register_btn{
        font-size: 15px;
    }
    .Register_checkbox{
        top: 200px;
        display: none;
    }
}
@media only screen and   (max-width: 320px){ 
    .Buyer_Register_form{
        margin: 8px 0 0 5px !important;
    }
    .Buyer_Register_btn{
        font-size: 15px;
       width: 100%;
       padding: 10px 20px;
    }
    .Angle_down{
        padding: 8px 0% 0% 77%;
    }
    .Buyer_Register_form::after{
        left: 50%;
        top: 315px;
    }
    .Register_page_fields_input{
        width: 255px;
        height: 30px;
    }
    .Register_label_1st,
    .Register_label_2nd{
        left:45px;
    }
}