/* /Media query */
@media (max-width: 768px) {
  .Footer_box {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0px;
    padding-right: 0px;
  }

  .Footer_box_col_234 {
    text-align: center;
  }
  .footer_container_right {
    justify-content: space-between;
    gap: 1em;
    padding-top: 0;
  }
  .Footer_box_col_1 {
    flex: 0 0 100%;
    padding-bottom: 20px;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .Footer_Icon_style {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer_mobile_view {
    display: block;
    width: 100%;
  }
  .Copyright {
    padding: 0px 17px;
    flex-wrap: wrap;
  }
  .Copyright p {
    margin: 7px 0px;
  }
  .Footer_box_col_234 {
    display: none;
  }
  .FooterUser {
    height: 32px;
    padding-top: 3px;
  }
  .FooterLike {
    height: 28px;
    padding-top: 6px;
  }
  .FooterHome {
    height: 28px;
    padding-top: 4px;
  }
  .FooterShop {
    padding-top: 5px;
    height: 26px;
  }
  .User_Details {
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 10px 0px 0px 0px;
  }
}
