.recaptcha_info1 {
  width: 100%;
  //  transform:scale(0.77) !important;
  // -webkit-transform:scale(0.77) !important;
  // transform-origin: 0 0 !important;
  // -webkit-transform-origin:0 0 !important;

  div div {
    width: 100% !important;
  }
  iframe {
    width: 100% !important;
    #rc-anchor-container .rc-anchor-light .rc-anchor-normal {
      width: 100% !important;
    }
  }
}
