.Todaysdeal_Collections {
  display: flex;
  gap: 30px;
  margin-top: 3em;
  max-height: 30em;
  align-items: flex-start;
  .Todaysdeal_Collections1_1st_div {
    display: flex;
    max-width: 316px;
    position: relative;
    .Todaysdeal_Collections1_1st_img {
      display: flex;
      position: relative;
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
    .Todaysdeal_View_collection {
      position: absolute;
      color: white;
      font-size: 22px;
      text-align: center;
      margin: 0;
      width: 100%;
      bottom: 3.25em;
      cursor: pointer;
    }
  }
  .Todaysdeal_Collections1_2nd_div {
    display: flex;
    position: relative;
    .Todaysdeal_Collections1_2nd_img {
      height: auto;
      max-width: 100%;
      object-fit: contain;
    }
    .Todaysdeal__floatingcontent {
      position: absolute;
      left: 12em;
      top: 6em;
      color: #333333;
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-width: 512px;
      h3 {
        font-size: 28px;
        margin: 0;
      }
      p {
        font-size: 18px;
        margin: 0;
      }
      button {
        background: linear-gradient(#20639b, #002d56);
        color: white;
        border-radius: 25px;
        padding: 0.5em 3em;
        width: max-content;
        font-size: 18px;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1800px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 302px;
  }
}

@media (max-width: 1660px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 278px;
  }
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div .Todaysdeal_View_collection {
    font-size: 22px;
    bottom: 2.25em;
   }
}

@media (max-width: 1600px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 268px;
  }
}

@media (max-width: 1550px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 260px;
  }
}

@media (max-width: 1533px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 256px;
  }
}

@media (max-width: 1440px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 240px;

    .Todaysdeal_View_collection {
      bottom: 1.5em;
    }
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    left: 8em;
    top: 3em;
    max-width: 416px;
  }
}

@media (max-width: 1366px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 226.5px;
  }

  .Todaysdeal_Collections {
    margin-top: 2em;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    top: 3em;
  }
}

@media (max-width: 1240px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 206px;

    .Todaysdeal_View_collection {
      font-size: 20px;
      bottom: 2em;
    }
  }
}

@media (max-width: 1200px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 198px;
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    left: 3em;
  }
}

@media (max-width: 1140px) {
  .Todaysdeal_Collections {
    gap: 16px;

    .Todaysdeal_Collections1_1st_div {
      max-width: 191px;
    }
  }
}

@media (max-width: 1080px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 181px;
  }
}

@media (max-width: 1024px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 172px;
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    max-width: 366px;
  }

  .Todaysdeal_Collections {
    gap: 8px;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    h3 {
      font-size: 26px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 926px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 156px;
  }
  .Todaysdeal_Collections .Todaysdeal_Collections1_2nd_div .Todaysdeal__floatingcontent{
    top: 1em;
  }
}

@media (max-width: 768px) {
  .Todaysdeal_Collections .Todaysdeal_Collections1_2nd_div .Todaysdeal__floatingcontent h3{
    font-size: 24px;
  }
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 128px;
  }
  .Todaysdeal_Collections {
    gap: 10px;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_1st_div
    .Todaysdeal_View_collection {
    font-size: 14px;
    bottom: 1.75em;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    left: 1em;
    top: 0.5em;
    max-width: 320px;
    gap: 10px;
  }
}

@media (max-width: 580px) {
  .Todaysdeal_Collections {
    margin-top: 1em;
  }

  .Todaysdeal_Collections {
    flex-direction: column;
    max-height: unset;
  }
  .Todaysdeal_Collections .Todaysdeal_Collections1_1st_div {
    max-width: 100%;
    margin: 0 auto;

    .Todaysdeal_View_collection {
      font-size: 32px;
    }
  }
}

@media (max-width: 480px) {
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_1st_div
    .Todaysdeal_View_collection {
    font-size: 24px;
    bottom: 2.75em;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent
    h3 {
    font-size: 24px;
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent
    p {
    font-size: 14px;
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent
    button {
    font-size: 12px;
  }
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal__floatingcontent {
    gap: 3px;
    top: 0px;
  }
}

@media (max-width: 375px) {
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_1st_div
    .Todaysdeal_View_collection {
    font-size: 34px;
  }

  .Todaysdeal_Collections
    .Todaysdeal_Collections1_2nd_div
    .Todaysdeal_Collections1_2nd_img {
    height: 8em;
  }

  .Todaysdeal_Collections {
    margin-top: 0;
  }
}

@media (max-width: 320px) {
  .Todaysdeal_Collections
    .Todaysdeal_Collections1_1st_div
    .Todaysdeal_View_collection {
    font-size: 24px;
  }
  .Todaysdeal_Collections .Todaysdeal_Collections1_2nd_div .Todaysdeal__floatingcontent h3{
    font-size: 20px;
  }
}
