.minicart_drawer_main {
  .mini_cart_head {
    color: #5c6369;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
  }
  .badge {
    color: #5c6369;
    span {
      background-color: #ffffff;
      box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -2px -2px 8px -6px rgba(0, 0, 0, 0.75);
    }
  }
  .miniCart_drawer {
      height: 87vh !important;
  }
}
