.career_main{ 
    background-color: #FBFBFB;
    .career_team_section{
        position: relative;
        padding: 30px;
        .career_team_join_btn,
        .career_team_join,
        .career_team_ready{
            position: absolute;
        }
        .career_team_img{
           width: 100%;
        }
        .career_team_join_btn{
            left: 42%;
           border-radius: 25px;
           border: none;
            font-size: 20px;
           padding: 13px 56px;
           transition: transform .2s;
          top: 72%;
          color: #FFFFFF;
          box-shadow: 0 3px;
          background:  transparent linear-gradient(180deg, #20639B 0%, #002D56 100%) 0% 0% no-repeat padding-box;
        }
        .career_team_join_btn:hover{
            transform: scale(1.2);
        }
        .career_team_join{
            left: 37%;
            top: 37%;
            font-size: 74px;
            color: #002D56;
        }
        .career_team_ready{
            left: 41%;
            top: 36%;
            color: #20639B;
            font-size: 30px;
        }
  }
   .career_joinus_section{ 
       padding: 0 80px 47px 80px;
       .career_joinus_heading{
           font-size: 42px;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           color: #333333;
           font-weight: bold;
           opacity: 1;
       }
     .career_joinus_Check{
        display: flex;
        justify-content: space-between;
        .career_joinus_img{
            height: 232px;
        }
       .career_joinus_Check1{
        display: flex;
        flex-direction: column;
        gap: 15px;
     }
    }
   }
   .career_to_texub{
       display: flex;
       flex-direction: column;
       text-align: center;
       background-color: white;
       padding: 51px  213px;
       gap: 10px;
       .career_to_texub_heading{
           font-size: 47px;
           color: #333333;
           font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           opacity: 1;
           margin: 0;
       }
       .career_to_texub_heading_tag{
           font-size: 18px;
       }
       .career_to_texub_developers2{
           background-color: #FBFBFB;
       }
       .career_to_texub_developers{
           background-color: #F4F9FF;
       }
       .career_to_texub_developers2,
       .career_to_texub_developers{
           display: flex;
           justify-content: space-between;
           padding: 28px 20px 0 20px;
           min-height: 100px;
        //    background-color: #F4F9FF;
           opacity: .7;
        .career_to_texub_developers:nth-child(odd) {background-color: #F4F9FF;}
           .career_to_texub_developers_designation,
           .career_to_texub_developers_location{
               margin: 0;
               letter-spacing: 1px;
           }
           .career_to_texub_developers_designation{
               opacity: 1;
           }
           .career_to_texub_developers_location{
               opacity: .6;
           }
          .career_to_texub_developers_arrow{
               height: 23px;
               margin-top: 10px;
           }    
       }
   }
   .career_CultureValues{
       padding: 20px 0 10px 0;
       display: flex;
       flex-direction: column;
       gap: 10px;
       background-color: #FBFBFB;
       .career_CultureValues_Click,
       .career_CultureValues_heading,
       .career_CultureValues_tag{
            text-align: center;   
       }
       .career_CultureValues_tag{
           margin-top: 0;
           font-size: 19px;
           opacity: .8;
       }
       .career_CultureValues_Click{
                font-size: larger;
       }
       .career_CultureValues_heading{
           font-size: 41px;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           color: #333333;
        //    margin-bottom: 10px;
       }
       .career_CultureValues_imgs2,
       .career_CultureValues_imgs1{
           display: flex;
           gap: 10px;
          padding-left: 32%;
    
       }
       .career_CultureValues_imgs1{
           margin-bottom: 10px;
       }
   }
}