$black: #333333;
$yellow: #DDB363;

.sellerontexub {
  .topsection__banner {
    max-width: 1920px;
    // margin: 0 3%;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
    }
    .mobile-view{
        display:none;
    }
      .seller__topbanner__floatingtext {
         position: absolute;
        left: 4em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        top: 0;
        bottom: 0;
        margin: 0 3%;

      .topbanner__text1 {
        color: #20639b;
        font-size: 26px;
        margin: 0px;
        letter-spacing: 1.29px;
        font-weight: 600;
      }

      .topbanner__text2 {
        color: #ddb363;
         margin: 0px;
        font-size: 60px;
        letter-spacing: 3.06px;
      }
    }
  }
   .sellontexub__info {
        background-image: url(../../../Assets/Aboutus/banner/about_bg.png);
        padding: 1em 3em;
        margin-top: -6em;
        .sellontexub_info_content{
           width: 91%;
            margin: auto;
        }
        h2 {
        font-size: 35px;
        color: $black;
        font-weight: 800;
        }

        p {
        color: #707070;
        font-size: 20px;
        letter-spacing: 0.78px;
        font-weight: 400;
        }
    }

    .whysellontexub__info{
        background-color: #fff;
       
        .whysellontexub__info_section{
                margin: 0 5%;
                padding: 2em 1em 3em;
        }
        .whysellontexub_title{
            width: 98%;
            margin: auto;
            padding: 1em 0 ;
            .title{
            color: #333333;
            opacity: 1;
            font-size: 35px;
            font-weight: 800;
            margin: 0;
            
            }
        }
        .whysellontexub__content__section{
            display: flex;
            justify-content: space-between;
            align-items: center;
             width: 98%;
            margin: auto;
            .whysellontexub__content1{
                width: 70%;
                max-width: 70%;
                .section{
                    display: flex;
                    flex-direction: column;
                    padding: 1em 10px 1em;
                    position: relative;
                    .content_bg{
                        width: 50px;
                        height: 55px;
                    }
                    .sub-title{
                        letter-spacing: 0.78px;
                        color: #002D56;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 22px;
                        padding-bottom: 10px;
                        position: absolute;
                        top: 25px;
                        left: 25px;
                    }
                    .sub-content{
                        letter-spacing: 0.66px;
                        color: #5C6369;
                        font-size: 18px;
                        font-weight: 400;
                        margin-left: 15px;
                    }
                }
            }
            .whysellontexub__content2{
                width: 30%;
                max-width: 30%;
                // img{
                //         width: 100%;
                //         object-fit: contain;
                //     }
            }
        }
    }
    .btn_banner_section{
         background-image: url(../../../Assets/SellerOnTexub/banner/btn_banner.png);
         padding: 2em 0;
         text-align: center;
           a{
           text-decoration: none !important;  
         }
         button{
             color: #ffffff !important;
            border: none !important;
            cursor: pointer;
            font-size: 16px !important;
             width: 20%;
            background: linear-gradient(180deg, #20639B 0%, #002D56 100%);
            box-shadow: 0px 3px 6px #00000029;
            font-weight: 600 !important;
            border-radius: 45px !important;
            letter-spacing: 1px;
            text-transform: capitalize !important;
            text-decoration: none !important;
            padding: 10px 15px;
         }
    }

    .seller_benefits_section{
        background-color: #fcfcfc;
        .seller_benefits_block{
            margin: 0 5%;
             padding: 2em 2em 3em;
        }
        .benefits_section_title{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0 ;
            .title{
                color: #333333;
                opacity: 1;
                font-size: 35px;
                font-weight: 800;
                margin: 0;
            }
        }
        .benefits_section_content{
            display: flex;
            // justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .benefits_info{
                width: calc(23%);
                display: flex;
                align-items: center;
                margin: 1em 20px 1em 0;
                background-color: #fafafa;
                // margin-right: 30px;
                 img{
                     height: 80px;
                 }
                 .content{
                    letter-spacing: 0px;
                    font-size: 16px;
                    font-weight: 600;
                    color: #1C1B1B;
                    margin-left: 20px;
                    width: 60%;
                 }
            }
        }
    }

     .seller_process_section{
        background-color: #f5f5f5;
        .process_section_title{
            margin: 0 5%;
            padding: 1em 2em 1em;
            text-align: center;
                .title{
                color: #333333;
                opacity: 1;
                font-size: 35px;
                margin: 0;
                font-weight: 800;
            }
         }  
        .process_flow_section{
            margin: 0 5%;
            padding: 0em 2em 3em;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .process_flow_info{
                .desktop-view{
                    display: block;
                }
                .mobile-view{
                    display: none;
                }
                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

    }

      .our_reach_section{
        background-color: #f5f5f5;
        .our_reach__block{
            margin: 0 5%;
            padding: 2em 2em 3em;
        }
        .our_reach_section_title{
            padding: 1em 0 ;
            text-align: center;
                .title{
                color: #333333;
                opacity: 1;
                font-size: 35px;
                font-weight: 800;
                margin: 0;
            }
         }  
          .our_react_img{
              padding: 1em 0;
                img{
                    width: 100%;
                    object-fit: contain;
                }
            }
    }
}


.sellontexub_slider {
    .sellontexub__monitordata {
        display: flex;
        flex-direction: column;
        position: relative;
        
        .sellontexub_monitortop {
            min-height: 376px;
            height: 100%;
        }
        .sellontexub_monitorbottom {
            background-color: #d6e5ec;
            min-height: 376px;
            height: 100%;
        }
    
        .sellontexub__monitor, .sellontexub__monitor__carousel {
            position: absolute;
            bottom: 1em;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 60%;
            // max-height: 85%;
        }
    
        .sellontexub__monitor__carousel {
               max-width: 100%;
                bottom: 29%;
                z-index: 9;
                overflow: hidden;
                width: 85%;
                margin: auto;
            div {
                width: 80%;
                height: 70%;
                margin: 0 auto;
                img {
                    text-align: center;
                    margin: 0 auto;
                    vertical-align: middle;
                    z-index: 1;
                    height: 100%;
                    width: 100%;
                }
            }
            
    
            .slick-prev {
                left: 20%;
                z-index: 999;
                // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                &:before {
                    font-size: 30px;
                    color: #cdd5dd;
                }
            }
    
            .slick-next {
                right: 20%;
                z-index: 999;
                // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                &:before {
                    font-size: 30px;
                    color: #cdd5dd;
                }
            }
        }
    }
    .content-title{
        margin: 20px 5%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 0;
        .title{
        color: #333333;
        opacity: 1;
        margin: 0 0 15px;
        font-size: 35px;
        font-weight: 800;
        }
    }  


    .sellontexub__testimonials {
        margin-bottom: 5em;
        h2 {
            text-align: center;
            color: #333333;
            font-size: 32px;
        }
        ul {
            list-style: none;
            margin: 0 5%;

            li {
                position: relative;

                p {
                    position: absolute;
                    top: 7em;
                    left: 3em;
                    right: 10em;
                    color: #212224;
                    font-size: 20px;
                    letter-spacing: 0.4px;
                }

                h3 {
                    position: absolute;
                    right: 7em;
                    bottom: 1em;
                    color: #212224;
                    font-size: 24px;
                    letter-spacing: 0.64px;
                }
            }
        }
        .slick-prev {
            &:before {
                font-size: 40px;
                color: black;
            }
            left: 40%;
            top: unset;
            bottom: -10%;
        }
        .slick-next {
            &:before {
                font-size: 40px;
                color: black;
            }
            right: 40%;
            top: unset;
            bottom: -10%;
        }
    }
}




@media (max-width: 1450px) {
    .sellerontexub {
        .topsection__banner {
            .seller__topbanner__floatingtext {
                left: 2em;
                margin: 0;
                .topbanner__text1{
                    font-size: 22px;
                }
                .topbanner__text2{
                    font-size: 50px;
                }
            }
        }

        .sellontexub__info {
            .sellontexub_info_content {
                width: 100%;
                margin: auto;
            }
	    }
        .whysellontexub__info {
            .whysellontexub__info_section {
                margin: 0%;
                padding: 2em 2em 3em;
            }
	    }
        .seller_benefits_section {
            .seller_benefits_block {
                margin: 0 3%;
                padding: 2em 1em 3em;
		    }
	    }
        .seller_process_section {
            .process_flow_section {
                margin: 0 3%;
                padding-left: 0;
                padding-right: 0;
            }
	    }
        .our_reach_section {
            .our_reach__block {
                margin: 0 3%;
                padding-left: 0;
                padding-right: 0;
            }
	    }
    }  
}

@media (max-width: 1299px) {
    .sellerontexub .sellontexub__info h2{
        font-size: 26px;
    }
    .sellerontexub .sellontexub__info p{
        font-size: 18px;
    }
    .sellerontexub {
        .topsection__banner {
            .seller__topbanner__floatingtext {
                left: 2em;
                margin: 0;
                .topbanner__text1{
                    font-size: 20px;
                }
                .topbanner__text2{
                    font-size: 40px;
                }
            }
        }

        .sellontexub__info {
            .sellontexub_info_content {
                width: 100%;
                margin: auto;
            }
	    }
        .whysellontexub__info {
            .whysellontexub__info_section {
                margin: 0%;
                padding: 1em 1em 2em;
                .whysellontexub__content1 {
                    .section {
                        .sub-title {
                            letter-spacing: 0.78px;
                            color: #002D56;
                            text-transform: uppercase;
                            font-weight: 600;
                            font-size: 20px;
						
					    }
                        .sub-content{
                            font-size: 16px;
                            margin-top: 10px;
                        }
				    }
			    }
            }
	    }
        .seller_benefits_section {
            .seller_benefits_block {
                 margin: 0 2%;
                padding: 2em 1em 2em;
		    }
	    }
        .seller_process_section {
            .process_flow_section {
                margin: 0 2%;
                padding-left: 0;
                padding-right: 0;
            }
	    }
        .our_reach_section {
            .our_reach__block {
                margin: 0 2%;
                padding-left: 0;
                padding-right: 0;
            }
	    }

        .content-title{
            font-size: 26px !important;
        }
         .content-title{
             .title{
                 font-size: 26px !important;
             }
        }
    } 
     .sellontexub .sellontexub__info{
        padding: 1em 2em;
    }  
}

@media (max-width: 1099px) {
    .sellerontexub {
        .whysellontexub__info {
            .whysellontexub__content__section {
                width: 100%;
                .whysellontexub__content1{
                    width: 70%;
                }
                 .whysellontexub__content2{
                    width: 30%;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
      .buyontexub .buy_benefits_section .benefits_section_content .benefits_info {
        width: 22%;
    }

}

@media (max-width: 950px) {
    .sellerontexub {
        .seller_benefits_section {
            .benefits_section_content {
                .benefits_info {
                    .content {
                        margin-left: 10px;
                        width: 100%;
                    }
                }
            }
        }
        .btn_banner_section button {
            width: 30%;
        }
    }

}
@media (max-width: 650px) {
    .sellerontexub {
        .sellontexub__info{
            margin-top: -2em;
            padding: 1em 2em;
        }
	    .seller_benefits_section {
            .benefits_section_content {
                .benefits_info {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    padding:1em 10px 1em 0;
                    margin: 1em 10px 1em 0;
                    background-color: #fafafa;
                }
            }
	    }

        .whysellontexub__info {
            .whysellontexub__content__section {
                width: 100%;
                flex-direction: column;
                .whysellontexub__content1{
                    width: 100%;
                    max-width: 100%;
                }
                .whysellontexub__content2{
                    width: 100%;
                    img{
                        width: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
        .btn_banner_section button {
            width: 40%;
        }
    } 
     .sellontexub .btn_banner_section button {
         width: 50%; 
         padding: 5px 12px;
    } 
    .sellontexub .buy_benefits_section .benefits_section_content{
        justify-content: space-between;
    }
    .sellontexub .sellontexub__info h2{
        margin: 10px 0;
    }  
}

@media (max-width: 450px) {
    .sellerontexub {
        .btn_banner_section button {
            width: 50%;
        }
        .seller_benefits_section {
           .benefits_section_content {
                .benefits_info {
                    width: 40%;
                    display: flex;
                    align-items: center;
                    margin: 10px 15px 1em;
                    padding: 0;
                    background-color: #fafafa;
			    }
		    }
	    }
    }
    .sellontexub .buy_benefits_section .benefits_section_title{
        padding: 0;
    }
    .sellontexub_slider .content-title{
        padding: 0;
    }
    .sellontexub .our_reach_section .our_reach_section_title{
        padding: 0;
    }
}

@media (max-width: 400px) {
    .sellerontexub {
        .seller_benefits_section {
            .benefits_section_content {
                .benefits_info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10px 0px 1em 0;
                    background-color: #fafafa;
                }
            }
        }
    }


}


/* slider block responsive design here */
@media (max-width: 1850px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 81%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 18% !important;
        }
        .slick-next  {
            right: 18% !important;
        }
    }
}
@media (max-width: 1800px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 82%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 17% !important;
        }
        .slick-next  {
            right: 17% !important;
        }
    }
}
@media (max-width: 1660px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 84%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 17% !important;
        }
        .slick-next  {
            right: 17% !important;
        }
    }
}
@media (max-width: 1600px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 85%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 14% !important;
        }
        .slick-next  {
            right: 15% !important;
        }
    }

}
@media (max-width: 1566px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 13% !important;
        }
        .slick-next  {
            right: 14% !important;
        }
    }

}
@media (max-width: 1530px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
}

@media (max-width: 1450px) {
   .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 13% !important;
        }
        .slick-next  {
            right: 14% !important;
        }
    }

}
@media (max-width: 1440px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 13% !important;
        }
        .slick-next  {
            right: 14% !important;
        }
    }

}
@media (max-width: 1375px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 13% !important;
        }
        .slick-next  {
            right: 14% !important;
        }
    }

}
@media (max-width: 1366px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 340px;
        height: 100%;
    }
}
@media (max-width: 1330px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
   .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 315px;
        height: 100%;
    }
}
@media (max-width: 1299px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 290px;
        height: 100%;
    }
}
@media (max-width: 1280px) {
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 30%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 280px;
        height: 100%;
    }
}
@media (max-width: 1240px) {
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 28.5%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 270px;
        height: 100%;
    }
}
@media (max-width: 1199px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 250px;
        height: 100%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 27.5%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
}
@media (max-width: 1140px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 230px;
        height: 100%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
    .sellerontexub .seller_benefits_section .benefits_section_content{
        justify-content: space-between;
    }
    .sellerontexub .seller_benefits_section .benefits_section_content .benefits_info {
        width: 30%;
        display: flex;
        align-items: center;
        margin: 1em 20px 1em 0;
        background-color: #fafafa;
    }
}
@media (max-width: 1080px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 190px;
        height: 100%;
    }
       .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 28%;
    }
     .sellontexub .buy_process_section .process_section_title{
        padding: 1em 0;
    }
    .sellontexub .content-title .title{
        margin: 10px 0;
    }
    .sellontexub .our_reach_section .our_reach__block{
        padding-top: 0;
    }

}
@media (max-width: 1024px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 190px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 29;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
      .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 13% !important;
        }
        .slick-next  {
            right: 14% !important;
        }
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 330px;
        height: 100%;
    }

}
@media (max-width: 965px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 315px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 27%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel .slick-next:before {
        font-size: 25px;
        color: #cdd5dd;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel .slick-prev:before {
        font-size: 25px;
        color: #cdd5dd;
    }

}
@media (max-width: 930px) {
      .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 280px;
        height: 100%;
    }
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 27%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 85%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
     .sellerontexub .seller_benefits_section .seller_benefits_block{
        padding: 1em 1em 2em;
    } 
      .sellerontexub .sellontexub__info {
        margin-top: -3em !important;
    }  
    .sellerontexub .seller_benefits_section .seller_benefits_block{
        padding: 1em 1em 2em;
    } 
    .sellontexub_slider .content-title{
            margin: 10px 5%;
            padding: 10px 0;
    }
    .sellontexub_slider .content-title .title{
        margin-bottom: 0;
        padding: 10px 0;
    }
    .sellerontexub .our_reach_section .our_reach__block{
        padding-top: 10px;
    }
}
@media (max-width: 899px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 27%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }

    .sellerontexub .seller_benefits_section .benefits_section_content .benefits_info {
        width: 30%;
        display: flex;
        align-items: center;
        margin: 5px 10px 5px 0;
        background-color: #fafafa;
    }

}
@media (max-width: 850px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 260px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 25%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
}
@media (max-width: 830px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
}
@media (max-width: 780px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 27%;
    }
      .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 210px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
     .sellerontexub .seller_benefits_section .benefits_section_content .benefits_info {
        width: 45%;
        display: flex;
        align-items: center;
        margin: 1em 20px 1em 0;
        background-color: #fafafa;
    }
     .sellontexub .whysellontexub__info .whysellontexub_title{
        padding: 10px 0;
    }
    .sellontexub .whysellontexub__info .whysellontexub__content__section .whysellontexub__content1 .section{
        padding: 1em 10px 10px;
    }
    .sellontexub .buy_process_section .process_flow_section {
        margin: 0 2%;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 2em;
    }
    .sellontexub .our_reach_section .our_react_img {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media (max-width: 767px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
}
@media (max-width: 700px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 140px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
     .sellontexub .buy_benefits_section .benefits_section_title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    .sellontexub .buy_benefits_section .buy_benefits_block {
        margin: 0 2%;
        padding: 1em 1em 2em;
    }
    .sellontexub_slider .content-title{
        padding: 10px 0;
    }
}
@media (max-width: 670px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 25%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 87%;
    }
     .sellontexub__monitor__carousel  {
        .slick-prev {
            left: 12% !important;
        }
        .slick-next  {
            right: 13% !important;
        }
    }
}
@media (max-width: 647px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 115px;
        height: 100%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
            bottom: 26%;
        }
        .sellerontexub .seller_process_section .process_section_title {
    margin: 0 5%;
    padding: 2em 2em;
    text-align: center;
}
}

@media (max-width: 599px) {
 .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 190px;
        height: 100%;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text2 {
        font-size: 30px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text1 {
        font-size: 18px;
    }
     .sellerontexub .topsection__banner .buy__topbanner__floatingtext .topbanner__text2 {
        font-size: 30px;
    }
    .sellerontexub .topsection__banner .buy__topbanner__floatingtext {
        left: 2em;
        margin: 0;
    }
}
@media (max-width: 567px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 26%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 180px;
        height: 100%;
    }
}
@media (max-width: 540px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 25%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
}
@media (max-width: 480px) {
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 95px;
        height: 100%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 25%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 145px;
        height: 100%;
    }   
    .sellerontexub .seller_benefits_section .benefits_section_content .benefits_info {
        width: 100%;
    }
    .sellerontexub .seller_process_section .process_section_title {
        margin: 0 5%;
        padding: 1em 0;
        text-align: center;
    }
     .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text2 {
        font-size: 24px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text1 {
        font-size: 16px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext {
        left: 0em;
        margin: 0;
    }
    .sellontexub .sell_process_section .process_section_title {
        margin: 0 5%;
        padding:1em 0;
        text-align: center;
    }
     .sellontexub .our_reach_section .our_reach_section_title {
         padding: 0em 0;
    }
      .sellontexub .whysellontexub__info .whysellontexub__content__section .whysellontexub__content1 .section .sub-content{
        margin-left: 0;
    }
    // .sellontexub_slider .content-title{
    //     padding: 0;
    // }
    .sellontexub .topsection__banner .buy__topbanner__floatingtext{
        left: 1em;
    }
    .sellontexub .topsection__banner .buy__topbanner__floatingtext .topbanner__text1 {
        font-size: 16px;
    }
    .sellontexub .topsection__banner .buy__topbanner__floatingtext .topbanner__text2 {
        font-size: 24px;
    }
     .sellerontexub .seller_benefits_section .benefits_section_content .benefits_info {
        width: 100%;
    }
    .sellerontexub .seller_process_section .process_section_title {
        margin: 0 5%;
        padding: 1em 0;
        text-align: center;
    }
     .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text2 {
        font-size: 24px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text1 {
        font-size: 16px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext {
        left: 1em;
        margin: 0;
    }
    .sellerontexub .sellontexub__info {
     margin-top: -2em !important;
    }
     .sellerontexub .our_reach_section .our_reach_section_title{
        padding: 0;
    }
    .sellerontexub .seller_process_section .seller_process_block{
        margin: 0 2%;
        padding: 1em 1em 2em
    }
    .sellerontexub .seller_process_section .process_flow_section{
        padding-bottom: 1em;
    }

}
@media (max-width: 450px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 25%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 85px;
        height: 100%;
    }

    .sellerontexub .topsection__banner .mobile-view{
        display:block;
    }
     .sellerontexub .topsection__banner .desktop-view{
        display:none;
    }
    .sellerontexub .seller_process_section .process_flow_section .process_flow_info .mobile-view{
        display: block;
    }
    .sellerontexub .seller_process_section .process_flow_section .process_flow_info .desktop-view{
        display: none;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext {
        left: 2em;
        margin: 0;
        width: 50%;
    }
    .sellerontexub .btn_banner_section button{
        padding: 5px 10px;
    }
    

}
@media (max-width: 425px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 22%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 130px;
        height: 100%;
    }
}
@media (max-width: 400px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 24%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 85%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitortop {
        min-height: 75px;
        height: 100%;
    }  
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 120px;
        height: 100%;
    } 
     .sellontexub .sellontexub__info{
        padding: 10px 1em;
    }
}
@media (max-width: 385px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 21%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellerontexub .btn_banner_section button {
         width: 60%;
    }
}
@media (max-width: 375px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 21%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext {
    left: 1em;
    margin: 0;
    width: 50%;
}

}
@media (max-width: 360px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 22%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 100px;
        height: 100%;
    } 
}
@media (max-width: 340px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 21%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 90px;
        height: 100%;
    } 
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text1 {
        font-size: 14px;
    }
    .sellerontexub .topsection__banner .seller__topbanner__floatingtext .topbanner__text2 {
        font-size: 20px;
    }
}
@media (max-width: 320px) {
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel{
           bottom: 21%;
    }
     .sellontexub_slider .sellontexub__monitordata .sellontexub__monitor__carousel div{
        width: 86%;
    }
    .sellontexub_slider .sellontexub__monitordata .sellontexub_monitorbottom {
        background-color: #d6e5ec;
        min-height: 90px;
        height: 100%;
    } 
}


