.pending_product_grid .MuiTable-root .MuiTableBody-root .MuiTableRow-root:nth-child(odd){
    background-color: #f5f5f5;
}
.pending_product_grid .MuiTable-root .MuiTableBody-root .MuiTableRow-root:nth-child(even){
    background-color: #eaeaea;
}


.pending_product_grid {
 .MuiTableBody-root {
        .MuiTableRow-root {
          border-bottom: 2px solid #ffffff;
          &:nth-child(odd) {
            background-color: #f5f5f5;
          }
          &:nth-child(even) {
            background-color: #eaeaea;
          }

        }
    }
}