.updateproduct__bgform {
  .autocomplete_input {
    min-width: 18%;
  }
  .updateproduct_info_form {
    width: 100%;
    .validation_error{
      color: red !important;
      font-size: 14px !important;
      font-weight: 400 !important;
      margin-top: 0em !important;
    }
    .asterisk {
      color: red;
    }
    .MuiInputLabel-root {
      font-size: 18px;
      font-weight: 600;
      color: #272727;
      margin-top: 0.5em;
    }
    .MuiAutocomplete-root {
      .MuiFormControl-root {
        .MuiOutlinedInput-root {
          padding: 4px;
        }
      }
    }
    .MuiFormControl-root {
      & ::placeholder {
        text-transform: capitalize;
        font-size: 20px;
        color: #cdd5dd;
        opacity: 1;
      }
      .MuiOutlinedInput-root {
        background-color: #ffffff;
        input {
          // padding: 12.5px 14px;
          font: unset;
        }
        fieldset {
          legend {
            font-size: 1em;
          }
        }
      }

      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 1px solid #ddb363;
      }
    }
    .price_customize {
      display: flex;
      position: relative;
      .MuiAutocomplete-root {
        position: absolute;
        top: 6px;
        z-index: 1;
        left: 1px;
        .MuiFormControl-root .MuiOutlinedInput-root {
          padding-right: 22px;
          input {
            padding: 0;
            min-width: 38px;
          }
          fieldset {
            border: none;
          }
          .MuiAutocomplete-endAdornment {
            right: 0px;
            .MuiButtonBase-root.MuiAutocomplete-clearIndicator {
              display: none;
            }
          }
        }
      }
      .price_textbox {
        .MuiOutlinedInput-root {
          padding-left: 60px;
        }
      }
    }
  }
}
@media (max-width: 1660px) {
  .updateproduct__bgform .updateproduct_info_form .MuiInputLabel-root {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .updateproduct .updateproduct__addmore p .addmore__text {
    font-size: 14px;
  }
  .updateproduct .updateproduct__gst .updateproduct_info_form .MuiInputLabel-root, .updateproduct .updateproduct__specifications .updateproduct__form .updateproduct_inputfields .MuiInputLabel-root {
    font-size: 16px;
}
}
@media (max-width: 767px) {
  .updateproduct .updateproduct__bgform {
    flex-direction: column;
  }
}
