.successpagemain{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
.successpage {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto 3em;

  & > * {
    margin: 0;
    margin-bottom: 1em;
  }

  h3 {
    color: #5c6369;
    font-size: 34px;
    font-style: italic;
  }
  h4 {
    color: #5c6369;
    font-size: 28px;
    font-style: italic;
  }
  h5 {
    color: #333c42;
    font-size: 20px;
    width: 62%;
    letter-spacing: .54px;
  }

  p {
    color: #002d56;
    font-size: 22px;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
  }
}
}

@media (max-width: 1660px) {
  .successpage h3 {
    font-size: 24px;
  }
  .successpage h4 {
    font-size: 20px;
  }
  .successpage h5 {
    font-size: 18px;
  }
  .successpage p {
    font-size: 16px;
  }
  .successpagemain .successpage h5{
    width: 100%;
  }
}
