.minicart_list_main {
  //   width: 600px;
  .minicart_header {
    height: 72px;
    background: #000000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .clear_btn {
      top: 22px;
      color: #ffffff;
      cursor: pointer;
      left: 17px;
      position: absolute;
      background: #ddb363;
      border-radius: 3px;
      width: 30px !important;
      height: 30px !important;
    }
    h6 {
      font-size: 30px;
      margin: 0;
      color: #ffffff;
    }
  }
  .minicart_list_content {
    padding: 20px;
    .minicart_section_container {
      display: flex;
      background-color: #f5f5f5;
      margin-bottom: 20px;
      .section_left {
        width: 53px;
        height: 126px;
        display: flex;
        align-items: center;
        margin-left: 35px;
        img {
          width: 100%;
        }
      }
      .section_right {
        padding: 20px;
        width: calc(100% - 88px);
        .seller_id {
          margin: 0;
          background: #f8f0e0;
          width: max-content;
          padding: 4px 8px;
          font-size: 14px;
          border-radius: 3px;
          color: #002d56;
          span {
            font-weight: 600;
          }
        }

        .modal__hub {
          display: flex;
          gap: 72px;
          align-items: center;
          .modal_name {
            text-transform: uppercase;
            margin: 0;
            color: #333c42;
            padding: 14px 0;
            font-size: 18px;
            letter-spacing: 0.54px;
          }
          .hub {
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: baseline;
            color: #333c42;
            letter-spacing: 0.54px;
            span {
              color: #ddb363;
              font-size: 12px;
            }
          }
        }
        .rating_main {
          display: flex;
          align-items: center;
          gap: 10px;
          .ratings {
            font-size: 16px;
            label {
              color: #ddb363;
            }
          }
          .reviews {
            color: #ddb363;
            font-size: 14px;
            margin: 0;
            text-decoration: underline;
          }
        }
        .detail_link {
          font-size: 18px;
          font-weight: 600;
          color: #002d56;
          margin: 0;
          padding: 9px 0;
          width: max-content;
          text-decoration: underline;
        }
        .price_block {
          display: flex;
          flex-direction: row;
          gap: 31px;
          .price {
            margin: 0;
            width: max-content;
            font-size: 28px;
            font-weight: 600;
            color: #5c6369;
            span {
              font-size: 18px;
              padding-right: 5px;
            }
          }
          .quantity {
            .qty_change {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid #d6d8d9;
              background: #ffffff;
              width: 100%;
              padding: 2px;
              border-radius: 25px;

              .item_decrease {
                width: 30px;
                height: 30px;
                background-color: #002d56;
                border: none;
                fill: #ffffff !important;
                border-radius: 50%;
                font-weight: bolder;
                font-size: 0;
                cursor: pointer;
              }
              .item_increase {
                width: 30px;
                height: 30px;
                background-color: #002d56;
                border: none;
                fill: #ffffff !important;
                border-radius: 50%;
                font-weight: bolder;
                font-size: 0;
                cursor: pointer;
              }
              .input_text {
                width: 84px;
                text-align: center;
                font-size: 24px;
                color: #333c42;
                font-weight: 600;
              }
            }
          }
        }
        .total_block {
          display: flex;
          align-items: center;
          justify-content: space-around;
          border: 1px solid #d6d8d9;
          background: #ffffff;
          width: 100%;
          margin-top: 17px;
          padding: 8px;
          border-radius: 25px;
          span {
            font-size: 18px;
            color: #333c42;
            letter-spacing: 0.54px;
          }
          p {
            margin: 0;
            color: #5c6369;
            font-size: 28px;
            font-weight: 600;
            span {
              color: #5c6369;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .minicart_footer {
    background: #ffffff;
    width: auto;
    padding: 0 9%;
    .minicart_total {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title_total {
        margin: 0;
        color: #333c42;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.72px;
      }
      .total_price {
        font-size: 38px;
        margin: 0;
        color: #333c42;
        font-weight: 600;
        span {
          font-size: 24px;
        }
      }
    }
    .minicart_btn {
      padding: 2% 3%;
      .minicart_bottom_button_cart {
        text-decoration: none;
        width: 100% !important;
        font-size: 18px;
        margin: 20px 0 10px 0;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
        color: #ffffff !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029 !important;
        font-weight: 600 !important;
        letter-spacing: 1px !important;
        text-transform: capitalize !important;
        gap: 8px;
      }
      .minicart_bottom_button_pending_invoice {
        text-decoration: none !important;
        margin: 10px 0 20px 0;
        width: 100% !important;
        font-size: 18px;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        font-weight: 600 !important;
        letter-spacing: 1px;
        text-transform: capitalize !important;
        gap: 8px;
      }
    }
  }
}

@media (max-width: 1440px) and (min-width: 768px) {
  .minicart_list_main {
    .minicart_header {
      h6 {
        font-size: 26px;
      }
    }
    .minicart_list_content {
      .minicart_section_container {
        .section_right {
          .modal__hub {
            .modal_name {
              font-size: 16px;
            }
          }
          .rating_main {
            .reviews {
              font-size: 16px;
              font-size: 12px;
            }
          }
          .detail_link {
            font-size: 14px;
          }
          .price_block {
            .price {
              font-size: 26px;
              span {
                font-size: 16px;
              }
            }
            .quantity {
              .qty_change {
                .input_text {
                  font-size: 22px;
                }
              }
            }
          }
          .total_block {
            span {
              font-size: 16px;
            }
            p {
              font-size: 26px;
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .minicart_footer {
      .minicart_total {
        .title_total {
          font-size: 20px;
        }
        .total_price {
          font-size: 28px;
          span {
            font-size: 20px;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .minicart_list_main {
    .minicart_header {
      h6 {
        font-size: 22px;
      }
      .clear_btn {
        width: 26px !important;
        height: 26px !important;
      }
    }
    .minicart_list_content {
      .minicart_section_container {
        .section_right {
          .modal__hub {
            .modal_name {
              font-size: 15px;
            }
          }
          .rating_main {
            .reviews {
              font-size: 16px;
              font-size: 12px;
            }
          }
          .detail_link {
            font-size: 13px;
          }
          .price_block {
            .price {
              font-size: 22px;
              span {
                font-size: 14px;
              }
            }
            .quantity {
              .qty_change {
                .input_text {
                  font-size: 20px;
                }
              }
            }
          }
          .total_block {
            span {
              font-size: 14px;
            }
            p {
              font-size: 22px;
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .minicart_footer {
      .minicart_total {
        .title_total {
          font-size: 18px;
        }
        .total_price {
          font-size: 26px;
          span {
            font-size: 18px;
            padding-right: 5px;
          }
        }
      }
    }
    .minicart_footer .minicart_btn {
      .minicart_bottom_button_cart,
      .minicart_bottom_button_pending_invoice {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  .minicart_list_main {
    .minicart_header {
      height: 57px;
      .clear_btn {
        top: 15px;
      }
    }
    .minicart_list_content .minicart_section_container {
      flex-direction: column;
      .section_left {
        margin-left: 0;
        margin: auto;
        height: 69px;
      }
      .section_right {
        width: 100%;
        .modal__hub {
          flex-direction: column;
          gap: 0;
          padding-bottom: 13px;
          align-items: initial;
        }
        .price_block {
          flex-direction: column;
          gap: 0;
          .quantity {
            padding-top: 13px;
          }
        }
      }
    }
  }
}
