.minicart_list_main {
  width: 615px;
  .minicart_header {
    height: 72px;
    background: #000000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    position: sticky;
    top: 0;
    z-index: 1;

    .clear_btn {
      top: 22px;
      color: #ffffff;
      cursor: pointer;
      left: 17px;
      position: absolute;
      background: #ddb363;
      border-radius: 3px;
      width: 30px !important;
      height: 30px !important;
    }
    h6 {
      font-size: 30px;
      margin: 0;
      color: #ffffff;
    }
  }
  .minicart_list_content {
    padding: 1em 1em 0 1em;
    .minicart_section_container {
      display: flex;
      background-color: #f5f5f5;
      margin-bottom: 12px;
      position: relative;
      .minicart_icon {
        position: absolute;
        left: 0;
      }
      .section_left {
        position: relative;
        width: 65px;
        height: 126px;
        display: flex;
        align-items: center;
        margin-left: 9px;
        img {
          width: 100%;
        }
        .minicart_new {
          position: absolute;
          right: 8px;
          top: 18px;
          left: 25px;
          img {
            width: 30px;
          }
        }
      }
      .section_right {
        padding: 10px 15px;
        width: calc(100% - 62px);
        .seller_id {
          margin: 0;
          background: #f8f0e0;
          width: max-content;
          padding: 4px 8px;
          font-size: 14px;
          border-radius: 3px;
          color: #002d56;
          span {
            font-weight: 600;
          }
        }

        .modal__hub {
          display: flex;
          gap: 40px;
          justify-content: space-between;
          align-items: center;
          .modal_name {
            text-transform: uppercase;
            margin: 0;
            color: #333c42;
            padding: 4px 0;
            font-size: 18px;
            letter-spacing: 0.54px;
          }
          .hub {
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: baseline;
            color: #333c42;
            letter-spacing: 0.54px;
            span {
              color: #ddb363;
              font-size: 12px;
            }
            .hub_name {
              text-transform: uppercase;
            }
          }
        }
        .rating_main {
          display: flex;
          align-items: center;
          gap: 10px;
          .ratings {
            font-size: 16px;
            label {
              color: #ddb363;
            }
          }
          .reviews {
            color: #ddb363;
            font-size: 14px;
            margin: 0;
            text-decoration: underline;
          }
        }
        .detail_link {
          font-size: 18px;
          font-weight: 600;
          color: #002d56;
          margin: 0;
          padding: 4px 0;
          cursor: pointer;
          width: max-content;
          text-decoration: underline;
        }
        .price_block {
          display: flex;
          flex-direction: row;
          gap: 15px;
          .price {
            margin: 0;
            width: max-content;
            font-size: 24px;
            font-weight: 600;
            color: #5c6369;
            span {
              font-size: 18px;
              padding-right: 5px;
            }
          }
          .quantity {
            position: relative;
            .update {
              cursor: pointer;
              position: absolute;
              right: -27px;
              background: #ddb363;
              top: -44px;
              color: #ffffff;
              border-radius: 5%;
              padding: 3px 5px;
            }
            .qty_change {
              display: flex;
              align-items: center;
              justify-content: space-between;
              border: 1px solid #d6d8d9;
              background: #ffffff;
              width: 100%;
              padding: 2px;
              border-radius: 25px;

              .item_decrease {
                width: 24px;
                height: 25px;
                background-color: #cdd5dd;
                border: none;
                fill: #ffffff !important;
                border-radius: 50%;
                font-weight: bolder;
                font-size: 0;
                cursor: pointer;
              }
              .item_increase {
                width: 24px;
                height: 25px;
                background-color: #002d56;
                border: none;
                fill: #ffffff !important;
                border-radius: 50%;
                font-weight: bolder;
                font-size: 0;
                cursor: pointer;
              }
              .input_text {
                width: 60px;
                text-align: center;
                font-size: 24px;
                color: #333c42;
                font-weight: 600;
              }
            }
          }
        }
        .total_block {
          display: flex;
          align-items: center;
          justify-content: space-around;
          border: 1px solid #d6d8d9;
          background: #ffffff;
          width: 100%;
          margin-top: 7px;
          padding: 8px;
          border-radius: 25px;
          span {
            font-size: 18px;
            color: #333c42;
            letter-spacing: 0.54px;
          }
          p {
            margin: 0;
            color: #5c6369;
            font-size: 24px;
            font-weight: 600;
            span {
              color: #5c6369;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .minicart_footer {
    background: #ffffff;
    width: auto;
    padding: 0 9% 1.5em;
    position: sticky;
    bottom: 0;
    .minicart_total {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title_total {
        margin: 0;
        color: #333c42;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0.72px;
      }
      .total_price {
        font-size: 26px;
        margin: 0;
        color: #333c42;
        font-weight: 800;
        span {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .minicart_btn {
      margin: 25px 0 0;
      display: flex;
      flex-direction: column;
      gap: 24px;
      a {
        text-decoration: none;
      }
      .minicart_bottom_button_cart {
        text-decoration: none;
        width: 100% !important;
        font-size: 18px;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
        color: #ffffff !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029 !important;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        padding: 12px !important;
      }
      .minicart_bottom_button_pending_invoice {
        text-decoration: none !important;
        width: 100% !important;
        font-size: 18px;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        font-weight: 600 !important;
        text-transform: capitalize !important;
        padding: 12px !important;
      }
    }
  }
}

@media (max-width: 1660px) {
  .minicart_list_main {
    width: 425px;
    .minicart_header {
      height: 52px;
      h6 {
        font-size: 24px;
      }
      .clear_btn {
        top: 14px;
        width: 24px !important;
        height: 24px !important;
      }
    }
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_left {
    width: 53px;
  }

  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right {
    .modal__hub {
      .modal_name {
        font-size: 16px;
      }
    }
    .detail_link {
      font-size: 16px;
    }
    .price_block .price {
      span {
        font-size: 16px;
      }
      font-size: 20px;
    }
    .price_block .quantity .qty_change {
      .input_text {
        font-size: 20px;
      }
      .item_decrease,
      .item_increase {
        width: 32px;
        height: 32px;
      }
    }
    .total_block p {
      span {
        font-size: 12px;
      }
      font-size: 18px;
    }
  }
  .minicart_list_main .minicart_footer .minicart_total {
    .title_total {
      font-size: 18px;
    }
    .total_price {
      span {
        font-size: 14px;
      }
      font-size: 24px;
    }
  }
  .minicart_list_main
    .minicart_footer
    .minicart_btn
    .minicart_bottom_button_cart {
    padding: 8px !important;
    font-size: 16px !important;
  }
  .minicart_list_main .minicart_footer .minicart_btn {
    .minicart_bottom_button_cart,
    .minicart_bottom_button_pending_invoice {
      padding: 8px !important;
      font-size: 16px !important;
    }
  }
}
@media (max-width: 1440px) {
  .minicart_list_main {
    .minicart_list_content {
      .minicart_section_container {
        .section_right {
          .modal__hub {
            .modal_name {
              font-size: 14px;
            }
          }
          .rating_main {
            .reviews {
              font-size: 12px;
            }
          }
          .detail_link {
            font-size: 14px;
          }
          .price_block {
            .quantity {
              .qty_change {
                .input_text {
                  width: 60px;
                  font-size: 18px;
                }
              }
            }
          }
          .price_block .price {
            span {
              font-size: 12px;
            }
            font-size: 16px;
          }
          .total_block {
            span {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .minicart_list_main .minicart_footer .minicart_total {
    .title_total {
      font-size: 18px;
    }
    .total_price {
      span {
        font-size: 14px;
      }
      font-size: 18px;
    }
  }
}
@media (max-width: 1366px) {
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right {
    padding: 5px 8px;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right {
    .detail_link {
      font-size: 14px;
    }
    .price_block .quantity .qty_change {
      .item_decrease,
      .item_increase {
        width: 28px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 1085px) {
  .minicart_list_main .minicart_list_content .minicart_section_container {
    flex-direction: column;
    align-items: center;
    .section_left {
      min-height: 80px;
      max-height: 126px;
      height: min-content;
      margin-left: 0;
    }
    .section_right {
      width: 100%;
      .modal__hub {
        gap: 23px;
      }
    }
  }
  .minicart_list_main
    .minicart_footer
    .minicart_btn
    .minicart_bottom_button_cart,
  .minicart_list_main
    .minicart_footer
    .minicart_btn
    .minicart_bottom_button_pending_invoice {
    padding: 4px !important;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .total_block
    span {
    font-size: 14px;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .total_block
    p {
    font-size: 22px;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .price_block
    .price {
    font-size: 22px;
  }
}
@media (max-width: 780px) {
  .minicart_list_main
    .minicart_footer
    .minicart_btn
    .minicart_bottom_button_cart,
  .minicart_list_main
    .minicart_footer
    .minicart_btn
    .minicart_bottom_button_pending_invoice {
    padding: 4px !important;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .modal__hub {
    .modal_name {
      font-size: 14px;
    }
  }
  .total_block span {
    font-size: 14px;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .total_block
    p {
    font-size: 18px;
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .price_block
    .price {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .minicart_list_main {
    .minicart_list_content .minicart_section_container {
      flex-direction: column;
      .section_left {
        margin-left: 0;
        margin: auto;
        height: 69px;
      }
      .section_right {
        width: 100%;
        .modal__hub {
          flex-direction: column;
          gap: 0;
          padding-bottom: 13px;
          align-items: initial;
        }
        .price_block {
          flex-direction: column;
          gap: 0;
          .quantity {
            padding-top: 13px;
          }
        }
      }
    }
  }
  .minicart_list_main
    .minicart_list_content
    .minicart_section_container
    .section_right
    .price_block
    .quantity
    .qty_change {
    width: fit-content;
  }
}
