.Legal_main{
    background-color: #FBFBFB;
    .Legal_heading{
        display: flex;
        background-color: #FFFFFF;
        padding:20px 40px 20px 40px;
        flex-direction: column;
        gap: 30px;
        margin: 1% 3%;
        .Legal_heading_list{
            list-style: none;
            justify-content: center;
            display: flex;
            gap: 20px;
            .Legal_img{
                height: 81px;
            }
            .heading{
                font-size: 50px;
                color: #DDB363;
                margin-top: 18px;
                font-weight: 600;
                letter-spacing: 1.5px;
            }
        }
    
    
    .Legal_description{
        .description1,
        .description{
        text-align: center;
        color: #333333;
        opacity: 1;
        font-size: 20px;
        letter-spacing: 0.45px;
     }
     .description::first-letter{
        font-size: 200%;
        color: #333333;
        font-weight: bold;
     }
    }
    
   
}
}

@media only screen and (max-width:580px) {
    .Legal_main .Legal_heading .Legal_heading_list .heading{
        font-size: 28px;
        margin-top: 24px;
    }
    .Legal_main .Legal_heading .Legal_heading_list .Legal_description .description{
        font-size: 15px !important;
    }
    
}

@media only screen and (max-width:375px){
    .Legal_main .Legal_heading .Legal_heading_list{
        gap: 18px;
    }
}

@media only screen and (max-width:320px){
    .Legal_main{
        padding: 2% 5px 2% 5px;
    }
    .Legal_main .Legal_heading {
        padding: 20px 7px 20px 7px;
    }
    .Legal_main .Legal_heading .Legal_heading_list{
        gap: 13px;
    }
    .Legal_main .Legal_heading .Legal_heading_list .heading{
        font-size: 25px;
    }
    .Legal_main .Legal_heading .Legal_heading_list .Legal_img{
        height: 64px;
    }
}