.products {
  position: relative;
  .clear-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 3%;
    padding-top: 1%;
    .clear {
      padding: 3px 30px;
    }
  }
  .products_want_to_buy {
    position: fixed;
    top: 45%;
    right: 0;
    z-index: 9;
    cursor: pointer;
    p {
      &::before {
        content: "";
        width: 0px;
        height: 0px;
        border-top: 14px solid transparent;
        border-right: 14px solid #ddb363;
        border-bottom: 14px solid transparent;
        position: absolute;
        left: -13px;
      }
      span {
        color: #ffffff;
        background: #ddb363;
        padding: 14px 30px;
        font-size: 22px;
        font-weight: 600;
        &::before {
          content: "";
          width: 0px;
          height: 0px;
          border-top: 14px solid transparent;
          border-right: 14px solid #ddb363;
          border-bottom: 14px solid transparent;
          position: absolute;
          transform: rotate(90deg);
          bottom: -5px;
          left: -7px;
        }
        &::after {
          content: "";
          width: 0px;
          height: 0px;
          border-top: 14px solid transparent;
          border-right: 14px solid #ddb363;
          border-bottom: 14px solid transparent;
          top: -5px;
          /* right: 0; */
          position: absolute;
          left: -7px;
          transform: rotate(270deg);
        }
      }
    }
  }
}
@media (max-width: 1399px) {
  .products .products_want_to_buy p span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .products .products_want_to_buy {
    top: 18.5em;
  }
  .products .clear-btn .clear{
    padding: 10px 20px;
    width: 100%;
    margin-top: 10px;
        min-width: 120px;
  }
}
