.bulk_upload {
  .bulkUpload_container {
    .title {
      color: #ddb363;
      font-size: 22px;
    }
    // .table_container {
    //   width: 100%;
    //   overflow: auto;
    //   .ExcelTable2007 {
    //     min-width: 300px;
    //     max-width: 100%;
    //     border-collapse: collapse;
    //     tbody {
    //       tr {
    //         .heading,
    //         th {
    //           display: none;
    //         }
    //       }
    //     }
    //   }
    //   .ExcelTable2007 tr:nth-child(2) {
    //     border-top: none;
    //     background-color: #002d56;
    //     color: white;
    //     text-align: center;
    //     font-weight: 600;
    //     font-size: 16px;
    //     letter-spacing: 0.6px;
    //   }

    //   .ExcelTable2007 tr {
    //     border-bottom: 2px solid #ffffff;
    //     background-color: #f5f5f5;
    //     display: flex;
    //   }

    //   .ExcelTable2007 tr:nth-child(odd):not(:nth-child(2)) {
    //     background-color: #eaeaea;
    //     display: flex;
    //   }

    //   .ExcelTable2007 th {
    //     display: none;
    //   }

    //   .ExcelTable2007 td {
    //     display: block;
    //     min-width: 150px;
    //     max-width: 200px;
    //   }

    //   .ExcelTable2007 td:nth-child(2) {
    //     margin-top: 0.5em;
    //   }

    //   .ExcelTable2007 td:last-child {
    //     margin-bottom: 0.5em;
    //   }
    //   .ExcelTable2007 th,
    //   .ExcelTable2007 td {
    //     text-align: left;
    //   }

    //   .ExcelTable2007 {
    //     color: #333;
    //     border-radius: 0.4em;
    //     overflow: hidden;
    //   }

    //   .ExcelTable2007 tr {
    //     border-color: #ffffff;
    //   }

    //   .ExcelTable2007 th,
    //   .ExcelTable2007 td {
    //     padding: 0.5em 1em;
    //   }
    // }
  }
  .direction {
    display: flex;
    flex-direction: column;
    align-items: baseline !important;
    .input_image_name {
      max-width: 60%;
      width: 100%;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      background: #e8e8e8;
      align-items: center;
      border-radius: 4px;
      flex-direction: row;
      justify-content: center;
      padding: 13px;
      text-align: center;
      height: 48px;
      margin-top: 12px;

      p {
        margin: 0;
        color: #4e4e4e;
        font-weight: 600;
      }
      .input_image_name_clear_btn {
        position: absolute;
        top: -6px;
        font-size: 17px !important;
        right: -6px;
        background: #ddb363;
        color: #ffffff;
        border-radius: 14px;
        cursor: pointer;
      }
    }
    .sub_media_upload_label {
      margin-left: 1em;
      width: 100%;
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
  .first_container {
    box-shadow: 0px 3px 18px #0000001d;
    display: flex;
    align-items: center;
    margin-top: 3em;
    .bulk_download {
      margin: 2em 2em 1em 2em;
      color: #272727;
      font-size: 14px;
      font-weight: 600;
    }
    .bulk_xlsx_sample {
      display: flex;
      align-items: center;
    }
    .download_content {
      display: flex;
      // align-items: center;
      flex-direction: column;
    }
    .inputfields {
      margin: 2em 0em 2em 3.2em;
      display: flex;
      gap: 2em;
      width: 100%;
      flex-direction: column;
      .MuiAutocomplete-root {
        width: 100%;
        max-width: 60%;
      }
      .validate_btn {
        max-width: 60%;
      }
    }

    .image {
      width: 20px;
      height: 20px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bulk_download_example {
      letter-spacing: 0.6px;
      margin: 2em 1em 2em 2em;
      color: #002d56;
      font-size: 14px;
      font-weight: 600;
      text-decoration: underline;
      cursor: pointer;
    }
    .link {
      display: flex;
      gap: 1em;
    }
    .bulk_xlsx_example {
      color: #272727;
      font-size: 14px;
      margin: 2em 1em 2em 2em;
    }
  }
  .upload_file_container {
    display: flex;
    white-space: nowrap;
    width: 100%;
    gap: 5em;
    p {
      display: flex;
      flex-direction: column;
      color: #272727;
      margin: 2em;
      label {
        font-size: 16px;
      }
      span {
        font-size: 12px;
      }
    }
    .file_upload {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: baseline;
      gap: 2em;
      margin-bottom: 2em;
      .btn {
        width: 100%;
        max-width: 60%;
      }
    }
  }
  .success {
    color: green;
  }
  .error {
    color: red;
  }
  .validation_message {
    width: 100%;
    height: 100%;
    padding: 0 3em;
    margin: 1.5em 0;
    max-height: 350px;
    overflow-y: auto;
    .check_scroll {
      max-height: 500px;
      overflow: auto;
      // height: 250px;
    }
  }
}

@media (max-width: "580px") {
  .bulk_upload {
    .first_container {
      flex-wrap: wrap;
    }
    .upload_file_container {
      flex-direction: column;
      gap: 0;
      .file_upload {
        align-items: center;
      }
      .inputfields {
        width: auto;
        margin: 2em 0em;
        justify-content: center;
        align-items: center;
        .validate_btn {
          max-width: 60%;
          width: 100%;
        }
        .MuiAutocomplete-root {
          max-width: 60%;
          width: 100%;
        }
      }
    }
  }

  // .bulk_upload .upload_file_container{
  //   flex-direction: column;
  //   gap: 0;
  // }
  // .bulk_upload .upload_file_container .file_upload{
  //   align-items: center;
  // }
  // .bulk_upload .first_container .inputfields{
  //   width: auto;
  //  margin: 2em 0em;
  //   justify-content: center;
  //     align-items: center;
  // }
  // .bulk_upload .first_container .inputfields .validate_btn{
  //  max-width: 60%;
  //  width: 100%;
  // }

  // .bulk_upload .first_container .inputfields .MuiAutocomplete-root{
  //   max-width: 60%;
  //    width: 100%;

  // }
}
