.App {
  background: #fbfbfb;
}

//common scss for all required components
// Buttons
.button-box-container {
  display: flex;
  width: 100%;
  gap: 20px;
}
.swal2-container {
  z-index: 1201 !important;
}
.MuiModal-root {
  z-index: 1200 !important;
}
.button-text {
  border-radius: 45px !important;
  border: none !important;
  cursor: pointer;
  box-shadow: 0px 3px 6px #00000029 !important;
  font-weight: 600 !important;
  letter-spacing: 1px !important;
  text-transform: capitalize !important;
  transition: transform 0.2s !important;
  font-size: 18px !important;
}
.btn-primary {
  background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
  color: #ffffff !important;
  max-width: calc(100% / 4);
}
.btn-secondary {
  background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
  color: #ffffff !important;
  min-width: calc(100% / 3) !important;
}
.btn-ternary {
  // background: linear-gradient(180deg, #f0f0f0 0%, #f0f0f0 100%);
  text-shadow: 0px 3px 6px #00000029;
  color: #002d56 !important;
  border: 1px solid #002d56 !important;
}

.swal2-container {
  .swal2-styled.swal2-confirm {
    background: linear-gradient(180deg, #20639b 0%, #002d56 100%) !important;
  }
  .swal2-styled.swal2-cancel {
    background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%) !important;
  }
}

// material ui textbox
.inputfield-box {
  & ::placeholder {
    text-transform: capitalize !important;
    font-size: 20px !important;
    color: #cdd5dd !important;
    opacity: 1 !important;
  }
  .MuiInputLabel-root {
    font-weight: 600 !important;
    font-size: 18px !important;
    color: #3e3e3e !important;
  }
  .MuiOutlinedInput-root {
    input {
      padding: 12px;
      font: unset !important;
      // font-weight: 600 !important;
    }
    &:hover fieldset {
      border-color: #ddb363;
    }
    fieldset {
      legend {
        font-size: 1em !important;
      }
    }
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #ddb363;
  }
  .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: #ddb363;
      color: #ddb363;
    }
  }
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #ddb363;
  }
}

.MuiFormControl-root {
  .MuiOutlinedInput-root {
    &:hover fieldset {
      border-color: #ddb363;
    }
    input {
      padding: 12px;
    }
  }
}
.check_country {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

///* dropdown selection background change*/
.MuiAutocomplete-option[aria-selected="true"] {
  color: #fff;
  background-image: linear-gradient(#ffd788, #cc9b3e) !important;
  margin-bottom: 3px;
}
.MuiAutocomplete-option.Mui-focused {
  color: #fff;
  background-image: linear-gradient(#ffd788, #cc9b3e) !important;
}
.MuiAutocomplete-option[aria-selected="true"].Mui-focused {
  color: #fff;
  background-image: linear-gradient(#ffd788, #cc9b3e) !important;
}
.MuiAutocomplete-option[aria-selected="true"].Mui-focused:hover {
  color: #fff;
  background-image: linear-gradient(#ffd788, #cc9b3e) !important;
}

// Nodata found image
.no_data_found {
  width: 280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }
  p {
    font-size: 16px;
    font-weight: 600;
    color: #002d56;
  }
}
//data picker

.calendar_info {
  .MuiOutlinedInput-root {
    padding-right: 0;
    input {
      cursor: pointer;
    }
    svg {
      position: absolute;
      right: 7px;
      opacity: 0.8;
      color: #3e3e3e;
      z-index: -1;
    }
  }
}
.MuiPaper-root {
  .MuiDialogContent-root {
    .PrivatePickersToolbar-root {
      background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
      color: #ffffff;
      .MuiTypography-root {
        color: #ffffff;
      }
      .MuiGrid-root {
        .MuiButtonBase-root {
          svg {
            display: none;
          }
        }
      }
    }
    // .MuiClockPicker-root {
    //   .MuiButtonBase-root{
    //     background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
    //     color: #ffffff;
    //   }
    // }
    .MuiCalendarPicker-root {
      .PrivatePickersYear-yearButton.Mui-selected,
      .MuiButtonBase-root.MuiPickersDay-root.Mui-selected {
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff;
      }
    }
  }
}
@-moz-document url-prefix() {
  .drop_mobile_input_required .special-label::before {
    left: 104px !important;
  }
}
@media (max-width: 1660px) {
  .button-text {
    font-size: 16px !important;
  }
  .inputfield-box {
    & ::placeholder {
      font-size: 14px !important;
    }
  }
}
@media (max-width: 820px) {
  .button-text {
    font-size: 12px !important;
  }
}
