$black: #333333;
$yellow: #DDB363;

@mixin subtitle {
  font-size: 34px;
  color: $black;
  font-weight: 600;
  text-align: center;
}

@mixin headings {
  h2, h5 {
    margin: 0;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
  }

  h5 {
    color: $black;
    font-size: 24px;
  }

  h2 {
    color: #DDB363;
    font-size: 30px;
  }
}
.aboutus {
  .aboutus__banner {
    max-width: 1920px;
    margin: 0 3%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .bottom {
    margin: 0;
  }

  .map {
    margin: 0 3%;
  }

  .aboutus__content {
    ul {
      display: flex;
      list-style-type: none;

      li {
        width: calc(100% / 3 - 20px);
        position: relative;

        img {
          width: 100%;
          object-fit: contain;
        }

        p {
          position: absolute;
          top: 1.25em;
          left: 5em;
          font-size: 34px;
          font-weight: bold;
        }
      }
    }
  }

  .aboutus__info {
    background: linear-gradient(to right, $yellow, #ffffff);
    padding: 1em 3em;

    h2 {
      font-size: 34px;
      color: $black;
    }

    p {
      color: #707070;
      font-size: 24px;
    }
  }

  .aboutus__businessmodel {
    .businessmodel__header {
      background-color: #f5f5f5;
      padding: 3em 3%;
      margin-bottom: -2em;

      h2 {
        font-size: 34px;
        color: $black;
        margin: 0;
        padding: 10px;
      }

      h5 {
        color: #878787;
        font-size: 24px;
        margin: 0;
        padding: 10px;
      }
    }

    .businessmodel__footer {
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      gap: 10%;
      padding: 3em 0;
      margin-top: -2em;

      p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        span {
          color: #0d2d53;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .businessmodel__content {
      display: flex;

      .content__left, .content__right {
        width: calc(100% / 2 - 20px);

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .content__left {
        position: relative;
        margin-top: 8em;

        .left__content1 {
          position: absolute;
          top: 11em;
          left: 14em;
        }

        .left__content2 {
          position: absolute;
          width: 34%;
          left: 13em;
          bottom: 5em;
        }

        p {
          color: #0D2D53;
          font-size: 24px;
          text-align: center;
          font-weight: 600;
  
          span {
            color: $yellow;
            display: block;
          }
        }
      }
    }
  }

  .aboutus__highlights {
    max-width: 70%;
    margin: 0 auto;

    h2 {
      @include subtitle
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      align-items: center;

      .highlights__image {
        width: calc(100% / 4 - 20px);
        position: relative;

        &::before {
          content: unset;
        }
        &::after {
          content: unset;
        }

        p {
          font-size: 18px;
          position: absolute;
          bottom: 3em;
          left: 2em;
          right: 2em;
          text-align: center;
        }
      }
    }
  }

  .aboutus__members {
    background-color: #f5f5f5;
    padding: 3em 0;
    h2 {
      margin: 0 3%;
      @include subtitle
    }
    .members__content {
      margin: 0 3%;
      display: flex;
      justify-content: center;

      h4 {
        text-align: center;
      }

      & > p {
        width: calc(100% / 3 - 3em);
      }
    }
  }

  .aboutus__advisary, .aboutus__mgmt {
    h2 {
      @include subtitle
    }
    .advisory__content, .mgmt__content {
      ul {
        list-style: none;
        display: flex;
        width: 65%;
        margin: 0 auto;
        gap: 8em;

        li {
          width: calc(100% / 2 - 20px);

          .advisory__top, .mgmt__top {
            min-height: 20em;
            div {
              width: 10em;
              margin: 0 auto;
  
              img {
                width: 100%;
                object-fit: contain;
              }
            }
  
            @include headings
          }
          p {
            background-color: #f3f3f3;
            padding: 1em;
            color: #878787;
            font-size: 1em;
          }
        }
      }
    }
  }

  .aboutus__mgmt {
    h2 {
      background-color: #f3f3f3;
      margin: 0;
      padding: 1em 0;
    }

    .mgmt__content {
      background-color: #f3f3f3;

      li {
        p {
          background-color: white !important;
        }
      }
  
      
    }
  }
  
  .aboutus__core {
    background-color: white;
    h2 {
      @include subtitle()
    }

    .core__content {
      max-width: 80%;
      margin: 0 auto;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 2em;

        li {
          width: calc(100% / 4 - 2em);
          text-align: center;

          @include headings
        }
      }
    }
  }
}

@media (max-width: 1660px) {
  .aboutus .aboutus__highlights {
    max-width: 80%;
  }

  .aboutus .aboutus__content ul li p {
    top: 0.75em;
    left: 4em;
  }

  .aboutus .aboutus__businessmodel .businessmodel__content .content__left {
    margin-top: 3em;

    .left__content1 {
      top: 9em;
      left: 11em;
    }

    .left__content2 {
      left: 11em;
      bottom: 7em;
    }
  }
}

@media (max-width: 1660px) {
  .aboutus .aboutus__highlights {
    max-width: 90%;
  }
}

@media (max-width: 1550px) {
  .aboutus .aboutus__businessmodel .businessmodel__content .content__left .left__content2 {
    bottom: 5em;
  }
}

@media (max-width: 1440px) {
  .aboutus .aboutus__content ul li p {
    top: 0.5em;
    left: 3em;
  }

  .aboutus .aboutus__businessmodel .businessmodel__content .content__left {
    margin-top: 1em;
    .left__content1 {
      left: 9em;
    }
    .left__content2 {
      bottom: 4em;
      left: 9em;
      width: 36%;
    }
  } 
}

@media (max-width: 1375px) {
  .aboutus .aboutus__highlights {
    max-width: 100%;
  }
  .aboutus .aboutus__content ul li p {
    top: 0.35em;
  }

  .aboutus .aboutus__businessmodel .businessmodel__content .content__left {
    .left__content1 {
      left: 8.25em;
    }
    .left__content2 {
      bottom: 2em;
      width: 38%;
    }
  } 
}

@media (max-width: 1240px) {
  .aboutus .aboutus__highlights ul {
    margin-right: 0 !important;

    .highlights__image {
      width: calc(25% - 1px);
    }
  }
}

@media (max-width: 1200px) {
  .aboutus .aboutus__content ul li p {
    top: .15em;
  }
}


@media (max-width: 1080px) {
  .aboutus .aboutus__content ul li p {
    top: -.05em;
  }
}

