/* modal popup design here */
.thankyou_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  .thankyou_popup_main {
    background: #fff;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    height: 60vh;
    max-width: 800px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;
    .thank_popup {
      height: 60vh;
      min-height: 55vh;
      overflow-y: auto;
      text-align: center;
      padding: 2em 3em;
      .title {
        color: #5c6369;
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        letter-spacing: 2px;
      }
    }
    .thankyou_popup_clear_btn {
      float: right;
      background-color: #05152a;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 4px;
      color: #fff;
      font-weight: 800;
      top: 25px;
      right: 25px;
      width: 1em !important;
      height: 1em !important;
      position: absolute;
    }
  }
}

.thank_popup {
  background-color: #fff;

  .ordersuccess_btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 0 1em;
    button {
      width: 48%;
      max-width: 48%;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 25px;
      font-weight: 600;
    }
  }
}
.dashboard_center {
  padding: 10px 15px;
  float: none;
  margin: auto;
  max-width: 700px;
  width: auto;
  text-align: center;
  background-color: #fff;
  .report_image img {
    width: 80px;
    height: 80px;
  }
  .common-block {
    padding: 8px 0;
  }
  .order_msg {
    .msg {
      color: #5c6369;
      font-size: 24px;
      font-style: italic;
      font-weight: 800;
      letter-spacing: 2px;
    }
  }
  .logged_user {
    .msg {
      color: #5c6369;
      font-size: 20px;
      font-weight: 600;
      letter-spacing: 2px;
      font-style: italic;
    }
  }
  .custom_msg {
    .msg {
      color: #5c6369;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 1.2px;
    }
  }
  .backto_home_btn {
    width: 70%;
    text-align: center;
    margin: auto;
    .home_to_home {
      width: 100%;
      letter-spacing: 0.66px;
      color: #002d56;
      text-transform: capitalize;
      text-align: center;
      text-decoration: underline;
      font-size: 18px;
      font-weight: 600;
    }
  }

  .dashboard_bottom {
    padding: 15px 0 0;
    .transaction_section {
      background-color: #f8f0e0;
      padding: 1em 1.5em;
      text-align: start;
      .transaction_title_section {
        padding: 10px 0 15px;
        .transaction_title {
          letter-spacing: 0.9px;
          color: #5c6369;
          text-transform: capitalize;
          font-size: 22px;
          font-weight: 600;
        }
      }
      .transaction_block {
        gap: 2em;
        display: flex;
        padding-bottom: 3%;
        .transaction_info_section {
          width: 100%;
          .MuiInputLabel-root {
            font-weight: 400;
            letter-spacing: 0.54px;
            color: #272727;
            margin-top: 0em;
            margin-bottom: 10px;
            line-height: 1.4375em;
            padding: 0;
            position: relative;
            display: block;
            transform-origin: top left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
              transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
              max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
          }
          .MuiFormControl-root {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            min-width: 0px;
            padding: 0px;
            margin: 0px;
            border: 0px;
            vertical-align: top;
            width: 100%;
            background-color: #fff;
          }
          textarea {
            display: inline-flex;
            flex-direction: column;
            position: relative;
            min-width: 0px;
            padding: 0px;
            margin: 0px;
            border: 0px;
            vertical-align: top;
            width: 100%;
            padding: 10px 15px;
          }
        }
      }
    }
    .ordersuccess_btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 2em 0 1em;
      button {
        width: 48%;
        max-width: 48%;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 25px;
        font-weight: 600;
      }
    }
  }
}
@media (max-width: 900px) {
  .thankyou_popup {
    margin: 3em;
  }
}
@media (max-width: 580px) {
  .thankyou_popup {
    margin: 2em;
    .transaction_popup_main {
      height: 90vh;
      .transaction_popup_clear_btn {
        top: -25px;
        right: -25px;
      }
      .thank_popup {
        padding: 10px 15px;
        height: 90vh;
        min-height: 85vh;
        overflow-y: auto;
        .transaction_section {
          padding: 10px 15px;
          .transaction_block {
            gap: 1em;
            display: flex;
            padding-bottom: 2%;
            flex-direction: column;
          }
        }
        .ordersuccess_btns {
          padding-top: 15px;
          flex-direction: column;
          gap: 20px;
          button {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}
