.Aboutus_main{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* gap:20px; */
    background-color: #FBFBFB;
}
.Aboutus_Marketing{
   display: flex; 
   flex-direction: column;
   background-image: url('../../Assets/Aboutus/Group\ 765@2x.png');
   background-repeat: no-repeat;
   background-size:cover;
   height: 300px; 
   width: auto; 
   margin:0px 30px 0px 30px;
}
.Aboutus_Mission{
    background-image: linear-gradient(to  right, rgb(250, 240, 226) , white);
     height: 200px; 
    display: flex;
    /* width: 100%; */
    padding: 19px 0px 0 40px;
    gap: 60px;

}
.Aboutus_Mission_Heading{
    color: #333333;
    /* font-weight: bold !important;
    font-family: 'Source Sans Pro'; */
    margin-bottom: 0;
}
.Aboutus_Mission_Heading_tag{
    margin-top: 10px;
    opacity: .6;
    font-weight: 500;
    font-size: 13px;
}
.Aboutus_Mission_img1{
    height: 169px;
   /* width: 100%; */
   position: relative;
}
.Aboutus_Mission_img1_Heading_tag,
.Aboutus_Mission_img1_Heading{
    position: absolute;
}
.Aboutus_Mission_img1_Heading{
    padding-top: 10px;
    opacity: .8;
    letter-spacing: .9px;
    font-size: 27px;
}
.Aboutus_Mission_img1_Heading_tag{
    padding-top: 66px;
    font-size: 14px;
    opacity: .6;
}
.Aboutus_Marketing_tag1{
    color: #20639B;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    letter-spacing: .8px;
    padding: 140px 0px 0px 170px;
    font-size: 20px;
    margin-bottom: 5px;
    opacity: 1;
}
.Aboutus_Marketing_tag2{
    color: #DDB363;
    font-family: 'Source Sans Pro';
    padding: 0px 0px 0px 170px;
    font-size: 45px;
    margin-top: 0px;
    letter-spacing: .8px;
    opacity: 1;
}
 .Aboutus_Mission_img{
    display: flex;
    justify-content: center;
    /* background-image: url('../../Assets/Aboutus/Group\ 924.svg'); */
}  
.Aboutus_Hightlits{
    padding-bottom: 30px;
}
.Aboutus_Headings,
.Valued_Assets_Heading_Section,
.Aboutus_Hightlits_Heading{
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.Aboutus_Valued_img{
    height: 58px;
}
.Aboutus_Hightlits_Section2,
.Aboutus_Hightlits_Section1{
    display: flex;
    gap: 35px;
    color: #20639B;
}
.Aboutus_Hightlits_Section1{
    padding-left: 340px;
}
.Aboutus_Hightlits_Section2{
    padding-left: 596px;
}
.Aboutus_Hightlits_dots{
    padding-left: 596px;
    color: #aaa;
    height: 60px;
}
.Aboutus_Hightlits_img{
    height: 53px;
    position: relative;
}
.Valued_Assets_1,
.Valued_Assets_2,
.Valued_Assets_3,
.Valued_Assets_4,
.Valued_Assets_5{
    position: absolute;
    z-index: 9;
    margin-top: 6px;
    margin-left: 11px;
    font-size: 23px;
    opacity: 1;
    font-weight: 600;
    letter-spacing: 1px;
}
.Valued_Assets_1{
    color: #EE254B;
}
.Valued_Assets_2{
   color: #4BB1B3;
}
.Valued_Assets_3{
   color:#1F2E58;
}
.Valued_Assets_4{
   color:#F14C1C;
}
.Valued_Assets_5{
  color: #1C55F1;
}
.Valued_Assets_tag{
    position: absolute;
    z-index: 9;
    color: white;
    margin: 19px 0 0 64px;
}
.Aboutus_Hightlits_Arrow{
    margin-top: -2px;
}
.Aboutus_Hightlits_Heading_number{
    margin: 12px 0 0 0;
}
.Valued_Assets{
    background-color: #F4F9FF;
    gap: 300px;
    padding-bottom: 20px;
}
.Aboutus_Hightlits_Heading{
    font-weight: bold !important;
    opacity: 1;
    color: #333333;
}
/* .Valued_Assets_img{
    background-image: url('../../Assets/Aboutus/Group 925.svg');
    background-repeat: no-repeat;
    background-size:cover;
    height:600px; 
    width: auto;
}  */
.Valued_Assets_Tags_Section{
    display: flex;
    justify-content: space-evenly;
}
.Aboutus_Worldwide{
    background-image: url('../../Assets/Aboutus/Group\ 794.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 97%; 
    margin: 20px 50px 0px 50px;
}
.Aboutus_Worldwide_Section{
    padding-top: 70px;
}
.Aboutus_Worldwide_list{
    list-style: none;
    padding-left: 0;
    gap: 10px;
    /* padding-top: 98px; */
}
.Aboutus_Worldwide_list1,
.Aboutus_Worldwide_list2,
.Aboutus_Worldwide_list3,
.Aboutus_Worldwide_list4,
.Aboutus_Worldwide_list5,
.Aboutus_Worldwide_list6{
    border: 1px solid;
    padding: 3px; 
    border-radius: 0px 13px 13px 0px;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro';
    margin-bottom: 3px;
}
.Aboutus_Worldwide_list1{
    width: 5%;
    background-color:orange;
}
.Aboutus_Worldwide_list2{
    background-color: #EE254B;
    width: 6%;
}
.Aboutus_Worldwide_list3{
    background-color:#4BB1B3;
    width: 8%;
}
.Aboutus_Worldwide_list4{
    background-color: rgba(4, 4, 95, 0.651);
    width: 9%;
}
.Aboutus_Worldwide_list5{
    background-color: blueviolet;
    width: 10%;
}
.Aboutus_Worldwide_list6{
    background-color: #1F2E58;
    width: 11%;
}
 /* .Aboutus_Worldwide_Logo1,
.Aboutus_Worldwide_Logo2,
.Aboutus_Worldwide_Logo3,
.Aboutus_Worldwide_Logo4,
.Aboutus_Worldwide_Logo5,
.Aboutus_Worldwide_Logo6{
    height: 50px;
    
}  */
.Aboutus_Worldwide_Logo1{
    padding: 14px 0 0 586px;
}
.Aboutus_Worldwide_Logo2{
    padding: 0px 0 0 297px;
}
.Aboutus_Worldwide_Logo3{
    padding: 43px 0 0 491px;
}
.Aboutus_Worldwide_Logo4{
    margin: 49px 0 0 182px;
}
.Aboutus_Worldwide_Logo5{
    padding: 0px 0 0 783px;
}
.Aboutus_Worldwide_Logo6{
    padding: 18px 0 0 986px;
}
.Downarrow{
    visibility: hidden;
}