@mixin h1tag {
  font-size: 50px;
  color: #333333;
  font-weight: 700;
  margin: 8px 0;
}

.aboutus {
  .aboutus__topbanner,
  .aboutus__mission {
    max-width: 1920px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: contain;
    }

    p {
      margin: 0;
    }

    .aboutus__topbanner__floatingtext {
      position: absolute;
      left: 5em;
      bottom: 10.5em;
      .topbanner__text1 {
        color: #20639b;
        font-size: 43px;
        letter-spacing: 1.29px;
      }

      .topbanner__text2 {
        color: #ddb363;
        font-size: 102px;
        letter-spacing: 3.06px;
      }
    }
  }
  .aboutus__mission__content {
    .aboutus__mission__left {
      position: absolute;
      top: 3.5em;
      max-width: 45%;
      left: 5em;

      h1 {
        @include h1tag;
      }

      p {
        font-size: 26px;
        color: #707070;
        letter-spacing: 0.78px;
      }
    }
    .aboutus__mission__right {
      position: absolute;
      top: 5em;
      max-width: 45%;
      right: 5em;

      .aboutus__righttext {
        position: absolute;
        top: 2.5em;
        width: 90%;
        left: 10%;

        h1 {
          @include h1tag;
        }

        p {
          font-size: 22px;
          color: #707070;
          letter-spacing: 0.66px;
        }
      }
    }
  }

  .aboutus__highlights {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;

    h1 {
      font-size: 50px;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-right: 3em;

      p {
        margin: 0;
        position: relative;
        color: #20639b;
        font-size: 50px;
        font-weight: bold;
      }

      li {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dimagecontent {
          display: flex;
          align-items: center;
          width: max-content;
          top: -2.5em;
          gap: 1em;

          span {
            color: #20639b;
            font-size: 30px;
          }
        }

        &:nth-child(odd) .dimagecontent {
          position: absolute;
          right: 11em;
        }

        &:nth-child(even) .dimagecontent {
          position: absolute;
          left: 11em;
          flex-direction: row-reverse;
        }

        &:nth-child(odd)::before {
          content: "";
          position: absolute;
          border-right: 3px solid #20639b;
          border-top: 3px solid #20639b;
          transform: rotate(225deg);
          width: 16px;
          height: 16px;
          left: -3em;
          top: 24px;
        }

        &:nth-child(odd)::after {
          content: "";
          position: absolute;
          border-right: 3px solid #20639b;
          border-top: 3px solid #20639b;
          transform: rotate(225deg);
          width: 16px;
          height: 16px;
          left: -2em;
          top: 24px;
        }

        &:nth-child(even)::before {
          content: "";
          position: absolute;
          border-right: 3px solid #20639b;
          border-top: 3px solid #20639b;
          transform: rotate(45deg);
          width: 16px;
          height: 16px;
          right: -3em;
          top: 24px;
        }

        &:nth-child(even)::after {
          content: "";
          position: absolute;
          border-right: 3px solid #20639b;
          border-top: 3px solid #20639b;
          transform: rotate(45deg);
          width: 16px;
          height: 16px;
          right: -2em;
          top: 24px;
        }

        &:last-child .dot {
          display: none;
        }
      }
    }
  }

  .aboutus__assets {
    background-color: #f4f9ff;
    max-width: 1920px;
    min-height: 331px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 50px;
      font-weight: bold;
      opacity: 1;
    }
    .assets__images {
      display: flex;
      align-items: center;
      gap: 1em;
      margin: 0 3%;
      flex-wrap: wrap;
      justify-content: center;

      .assets__imageItem {
        position: relative;
        span {
          position: absolute;
        }

        .no {
          font-size: 40px;
          left: 26px;
          top: 10px;
        }

        .content {
          font-size: 32px;
          color: white;
          left: 3em;
          top: 0.9em;
        }
      }
    }
  }

  .aboutus__worldwide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .tag1,
    .tag2,
    .tag3,
    .tag4,
    .tag5,
    .tag6 {
      position: absolute;
    }

    .tag1 {
      left: 29.75em;
      top: 13em;
    }

    .tag2 {
      top: 21em;
      left: 49em;
    }

    .tag3 {
      top: 10em;
      right: 54em;
    }

    .tag4 {
      top: 21.5em;
      right: 42.5em;
    }

    .tag5 {
      top: 24.75em;
      right: 34.5em;
    }

    .tag6 {
      top: 30em;
      right: 14.35em;
    }

    h1 {
      color: #333333;
      font-size: 50px;
    }

    .aboutus__worldwide__content {
      max-width: 1920px;
      width: 100%;
      text-align: center;
      position: relative;

      img {
        width: 100%;
      }

      .aboutus__ww__country > .list > img {
        width: 100%;
        height: auto;
      }

      .aboutus__ww__country {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .list {
          position: relative;

          span {
            position: absolute;
            color: white;
            font-size: 30px;
            left: 18px;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (max-width: 1920px){
  .aboutus .aboutus__worldwide .tag1 {
    left: 30.9em;
    top: 13.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 21.6em;
    left: 50.99em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9.5em;
    right: 56.35em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 22.2em;
    right: 44.3em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 25.5em;
    right: 36.2em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 31em;
    right: 15.35em;
  }
}

@media (max-width: 1850px){
  .aboutus .aboutus__worldwide .tag1 {
    left: 29.9em;
    top: 13.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 20.9em;
    left: 48.99em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9.5em;
    right: 54.35em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 22.1em;
    right: 42.9em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 24.9em;
    right: 34.7em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 30.2em;
    right: 14.5em;
  }
}

@media (max-width: 1600px) {
  .aboutus__topbanner__floatingtext {
    bottom: 7.5em !important;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left {
    top: 1.5em;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    top: 3em;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 25.75em;
    top: 12.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 19em;
    left: 42.5em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9.5em;
    right: 46.75em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 19.75em;
    right: 36.75em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 22.5em;
    right: 29.75em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 27em;
    right: 12.35em;
  }
}

@media (max-width: 1533px){
  .aboutus .aboutus__worldwide .tag1 {
    left: 24.5em;
    top: 12.1em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 18.8em;
    left: 40.5em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9em;
    right: 44.75em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 19.2em;
    right: 35.2em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 21.9em;
    right: 28.5em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 26.2em;
    right: 11.9em;
    width: 2.5em;
  }
}

@media (max-width: 1440px) {
  .aboutus .aboutus__mission__content .aboutus__mission__left h1 {
    font-size: 42px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left p {
    font-size: 22px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    top: 1em;
    right: 3em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent {
    right: 10em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    left: 10em;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 23em;
    top: 12em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 18em;
    left: 38em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9.15em;
    right: 42em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 18.5em;
    right: 33em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 21em;
    right: 26.75em;
    width: 2.5em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 25em;
    right: 11em;
    width: 2.5em;
  }
}

@media (max-width: 1366px) {
  .aboutus__topbanner__floatingtext {
    bottom: 6.5em !important;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    top: 1.5em;
    right: 2.5em;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent span {
    font-size: 24px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 22em;
    width: 2em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 17.75em;
    left: 36.25em;
    width: 2em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9.5em;
    right: 40em;
    width: 2em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    right: 31.5em;
    width: 2em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 20.5em;
    right: 25.5em;
    width: 2em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 24.5em;
    right: 10.75em;
    width: 2em;
  }
}

@media (max-width: 1330px){
  .aboutus .aboutus__worldwide .tag1 {
    left: 21.4em;
    width: 2em;
  }
  .aboutus .aboutus__worldwide .tag2 {
    top: 17.3em;
    left: 35.25em;
    width: 2em;
  }
  .aboutus .aboutus__worldwide .tag3 {
    top: 9.5em;
    right: 39em;
    width: 2em;
  }
  .aboutus .aboutus__worldwide .tag4 {
    right: 30.6em;
    width: 2em;
    top: 18em;
  }
  .aboutus .aboutus__worldwide .tag5 {
    top: 20em;
    right: 25em;
    width: 2em;
  }
  .aboutus .aboutus__worldwide .tag6 {
    top: 24em;
    right: 10.4em;
    width: 2em;
  }
}

@media (max-width: 1200px) {
  .aboutus__topbanner__floatingtext {
    bottom: 5.5em !important;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left h1 {
    font-size: 32px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left p {
    font-size: 18px;
  }

  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    h1 {
    font-size: 36px;
  }

  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    p {
    font-size: 20px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    right: 1.5em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent {
    right: 8em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    left: 8em;
  }

  .dimage {
    width: 7em;
    object-fit: contain;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent {
    top: -1.5em;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 19.25em;
    top: 11.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 16.5em;
    left: 31.75em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 9em;
    right: 35em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 17em;
    right: 27.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 19em;
    right: 22.35em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 22.5em;
    right: 9.25em;
  }
}

@media (max-width: 1024px) {
  .topbanner__text1 {
    font-size: 32px !important;
  }
  .topbanner__text2 {
    font-size: 64px !important;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left {
    top: 0;

    p {
      font-size: 16px;
    }
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right,
  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext {
    top: 1em;
  }

  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    h1 {
    font-size: 32px;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent span {
    font-size: 20px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 16.35em;
    top: 10.85em;
    width: 1.75em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 15.25em;
    left: 27.05em;
    width: 1.75em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.9em;
    right: 29.8em;
    width: 1.75em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 15.5em;
    right: 23.5em;
    width: 1.75em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 17.25em;
    right: 19em;
    width: 1.75em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 20.25em;
    right: 7.95em;
    width: 1.75em;
  }
}

@media (max-width: 926px) {
  .aboutus__mission__content {
    position: absolute;
    top: 0;
  }
  .aboutus .aboutus__mission__content .aboutus__mission__left,
  .aboutus .aboutus__mission__content .aboutus__mission__right {
    position: unset;
    max-width: 92%;
    margin: 0 auto;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    position: relative;
    top: 5em;

    .aboutus__righttext {
      top: 5em;
    }
  }

  .aboutus__highlights {
    margin-top: 20em;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent span {
    font-size: 18px;
  }

  .dimage {
    width: 5em;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 14.85em;
    top: 10.55em;
    width: 1.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 14.5em;
    left: 24.5em;
    width: 1.5em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.9em;
    right: 27em;
    width: 1.5em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 15em;
    right: 21.25em;
    width: 1.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 16.5em;
    right: 17.25em;
    width: 1.5em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 19.15em;
    right: 7.15em;
    width: 1.5em;
  }
  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list {
    display: flex;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 70%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 22px;
  }
}

@media (max-width: 820px) {
  .aboutus__topbanner__floatingtext {
    bottom: 4em !important;

    .topbanner__text1 {
      font-size: 24px !important;
    }
    .topbanner__text2 {
      font-size: 48px !important;
    }
  }

  .aboutus .aboutus__highlights ul li .dimagecontent {
    top: -1.25em;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent {
    gap: 2px;
  }

  .aboutus .aboutus__highlights ul p {
    font-size: 32px;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd)::before,
  .aboutus .aboutus__highlights ul li:nth-child(odd)::after {
    width: 12px;
    height: 12px;
    top: 14px;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd)::before {
    left: -2.75em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even)::before,
  .aboutus .aboutus__highlights ul li:nth-child(even)::after {
    width: 12px;
    height: 12px;
    top: 14px;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even)::before {
    right: -2.75em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    left: 6em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent {
    right: 6em;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 13.15em;
    top: 10.35em;
    width: 1.35em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 13.85em;
    left: 21.7em;
    width: 1.35em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.8em;
    right: 24em;
    width: 1.35em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 14.15em;
    right: 18.85em;
    width: 1.35em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 15.5em;
    right: 15.25em;
    width: 1.35em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 17.85em;
    right: 6.35em;
    width: 1.35em;
  }
}

@media (max-width: 768px) {
  .aboutus .aboutus__highlights ul li .dimagecontent span{
    font-size: 16px;
  }
  .aboutus
  .aboutus__worldwide{
    padding-bottom: 5px;
  }
  .aboutus .aboutus__worldwide .tag1 {
    left: 12.35em;
    top: 10.35em;
    width: 1.15em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 13.45em;
    left: 20.35em;
    width: 1.15em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.8em;
    right: 22.5em;
    width: 1.15em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 13.85em;
    right: 17.75em;
    width: 1.15em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 15.15em;
    right: 14.35em;
    width: 1.15em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 17.35em;
    right: 6em;
    width: 1.15em;
  }
  .aboutus .aboutus__worldwide .aboutus__worldwide__content .aboutus__ww__country{
    gap: 3px;
  }
}
@media (max-width: 580px){
  .aboutus__topbanner__floatingtext {
    .topbanner__text1 {
      font-size: 16px !important;
    }
    .topbanner__text2 {
      font-size: 32px !important;
    }
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left h1 {
    font-size: 24px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left p {
    font-size: 12px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    right: 0;
    top: 2em;
    .aboutus__righttext {
      top: 2em;
    }
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent,
  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      max-width: 36vw;
    }
  }

  .aboutus .aboutus__highlights ul {
    margin: 0;
  }
  .aboutus
  .aboutus__worldwide{
    padding-bottom: 5px;
  }
  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 50%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 15px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 9.3em;
    top: 9.6em;
    width: 0.85em;
  }
  .aboutus .aboutus__worldwide .tag2 {
    top: 12.1em;
    left: 15.4em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.6em;
    right: 16.99em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 12.4em;
    right: 13.4em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 13.3em;
    right: 10.9em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 15em;
    right: 4.5em;
    width: 0.85em;
  }
}

@media (max-width: 540px) {
  .aboutus__topbanner__floatingtext {
    .topbanner__text1 {
      font-size: 16px !important;
    }
    .topbanner__text2 {
      font-size: 32px !important;
    }
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left h1 {
    font-size: 24px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__left p {
    font-size: 12px;
  }

  .aboutus .aboutus__mission__content .aboutus__mission__right {
    right: 0;
    top: 2em;
    .aboutus__righttext {
      top: 2em;
    }
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent,
  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
      max-width: 36vw;
    }
  }

  .aboutus .aboutus__highlights ul {
    margin: 0;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 50%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 15px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 8.7em;
    top: 9.6em;
    width: 0.85em;
  }
  .aboutus .aboutus__worldwide .tag2 {
    top: 11.85em;
    left: 14.3em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.6em;
    right: 15.8em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 12.05em;
    right: 12.45em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 13em;
    right: 10.1em;
    width: 0.85em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 14.55em;
    right: 4.2em;
    width: 0.85em;
  }
}

@media (max-width: 480px) {
  .aboutus__topbanner__floatingtext {
    left: 2em !important;
    bottom: 2em !important;
  }

  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext {
    top: 1em;
  }
  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    h1 {
    font-size: 24px;
  }

  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    p {
    font-size: 16px;
  }

  .aboutus .aboutus__highlights ul li:nth-child(even) .dimagecontent {
    left: 4em;
  }

  .aboutus .aboutus__highlights ul li:nth-child(odd) .dimagecontent {
    right: 4em;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent span {
    font-size: 16px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 7.6em;
    top: 9.35em;
    width: 0.75em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 11.35em;
    left: 12.7em;
    width: 0.75em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 8.5em;
    right: 13.99em;
    width: 0.75em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 11.55em;
    right: 10.99em;
    width: 0.75em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 12.35em;
    right: 8.99em;
    width: 0.75em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 13.75em;
    right: 3.75em;
    width: 0.75em;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 40%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 12px;
  }
  .aboutus .aboutus__worldwide .aboutus__worldwide__content .aboutus__ww__country{
    gap: 3px;
  }
}

@media (max-width: 375px) {
  .aboutus .aboutus__worldwide h1 {
    font-size: 36px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 6em !important;
    top: 6.85em !important;
    width: 0.6em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 8.45em !important;
    left: 9.95em !important;
    width: 0.6em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 6.15em !important;
    right: 10.95em !important;
    width: 0.6em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 8.58em !important;
    right: 8.65em !important;
    width: 0.6em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 9.2em !important;
    right: 7em !important;
    width: 0.6em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 10.3em !important;
    right: 2.9em !important;
    width: 0.6em;
  }
}

@media (max-width: 320px) {
  .aboutus__topbanner__floatingtext .topbanner__text2 {
    font-size: 26px !important;
}
  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    h1 {
    font-size: 20px;
  }
  .aboutus
    .aboutus__mission__content
    .aboutus__mission__right
    .aboutus__righttext
    p {
    font-size: 12px;
  }

  .aboutus .aboutus__highlights ul li .dimagecontent span {
    font-size: 14px;
  }

  .aboutus .aboutus__worldwide .tag1 {
    left: 5.1em !important;
    top: 6.7em !important;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 8.05em !important;
    left: 8.5em !important;
    width: 0.5em !important;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 6.15em !important;
    right: 9.35em !important;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 8.15em !important;
    right: 7.35em !important;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 8.7em !important;
    right: 6em !important;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 9.65em !important;
    right: 2.5em !important;
    width: 0.5em;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 32%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 8px;
  }
}
@media (max-width: 425px) {
  .aboutus .aboutus__worldwide h1 {
    font-size: 36px;
  }
  .aboutus .aboutus__worldwide .tag1 {
    left: 6.9em;
    top: 7.1em;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag2 {
    top: 8.9em;
    left: 11.3em;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag3 {
    top: 6.15em;
    right: 12.5em;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag4 {
    top: 8.99em;
    right: 9.9em;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag5 {
    top: 9.7em;
    right: 8em;
    width: 0.5em;
  }

  .aboutus .aboutus__worldwide .tag6 {
    top: 10.99em;
    right: 3.4em;
    width: 0.5em;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    > .list
    > img {
    width: 32%;
  }

  .aboutus
    .aboutus__worldwide
    .aboutus__worldwide__content
    .aboutus__ww__country
    .list
    span {
    font-size: 8px;
  }
}

