.Gratitude{
    display: flex;
    /* position: absolute; */
    top: 0;
    left:0; 
    background-image: url('../../../Assets/Productlist/Register_icon.png');
    background-repeat: no-repeat;
    background-size:cover;
    height: fit-content;
     z-index: 99;
     width: 100%;
     /* height: 100%; */
     justify-content: center;
     /* background-color:#dddddd; */
      /* padding-top:50px ; */
     padding-bottom: 50px;  
     margin-bottom: 50px;
     /* margin-top: 20px; */

}
.Gratitude_block{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
     width: 600px;
    /*height: 400px; */
    box-shadow: 1px solid black;
    margin: 50px 0px 0px 50px;
    border-radius: 1px;

}
.Gratitude_block_icon{
    display: flex;
    justify-content: center;
}
.Gratitude_thank_you,
.Gratitude_dear,
.Gratitude_request,
.Gratitude_kyc_signin,
.Gratitude_to_homepage{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.Gratitude_thank_you_tag{
    font-family:"Source Sans Pro";
    font-weight: bold;
    color: #5C6369;
    margin: 0;
}
.Gratitude_dear_tag{
    font-family:"Source Sans Pro";
    font-weight: bold;
    color: #5C6369;
    margin: 0;
    
}


.Gratitude_request_tag{
    margin: 0;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #333C42;
    opacity: .8;
    text-align: center;
}
.Gratitude_kyc_signin{
    display: flex;
    margin-top: 15px;
}
.Gratitude_kyc_signin_btn{
    padding: 10px 50px;
    margin: 13px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
   color: white; 
    cursor: pointer;
  font-family:  'Source Sans Pro';
  box-shadow: 0px 3px 6px #00000029;
  font-weight: bold;
}
.Gratitude_to_homepage_tag{
    margin: 0;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    color: #002D56;
}