.updateproduct {
  h1 {
    color: #ddb363;
    font-size: 30px;
  }

  .updateproduct__topform {
    display: grid;
  }

  .topform__details {
    display: grid;
    grid-template-columns: 95% 5%;
    gap: 10px;
    margin-bottom: 1em;
    flex-direction: column;
    position: relative;
  }
  .updateproduct__bgform {
    display: flex;
    flex: 1;
    background-color: #f8f0e0;
    gap: 24px;
    padding: 16px;
  }

  .updateproduct__addmore,
  .updateproduct__delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-items: center;
      cursor: pointer;
      gap: 8px;

      .addmore__plus {
        background-color: #cdd5dd;
        border-radius: 100%;
        font-size: 39px;
        font-weight: 600;
        padding: 2px;
        text-align: center;
        width: 32px;
        height: 32px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          border-left: 3px solid #002d56;
          width: 16px;
          height: 16px;
          top: 8px;
          left: 15px;
        }

        &::before {
          content: "";
          position: absolute;
          border-top: 3px solid #002d56;
          width: 16px;
          height: 16px;
          top: 14.5px;
          left: 9px;
        }
      }

      .addmore__text {
        color: #20639b;
        font-size: 16px;
        text-decoration: underline;

        svg {
          color: red;
        }
      }
    }
  }

  .updateproduct__gst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 16px;
    & > * {
      width: calc(100% / 6 - 20px);
    }
  }
  .info {
    width: 100%;
  }
  .updateproduct__gst .updateproduct_info_form,
  .updateproduct__specifications
    .updateproduct__form
    .updateproduct_inputfields {
    .MuiInputLabel-root {
      font-size: 18px;
      font-weight: 600;
      color: #272727;
      margin-top: 1.5em;
    }
    .MuiFormControl-root {
      & ::placeholder {
        text-transform: capitalize;
        font-size: 20px;
        color: #cdd5dd;
        opacity: 1;
      }
      .MuiOutlinedInput-root {
        input {
          // padding: 12.5px 14px;
          font: unset;
        }
        fieldset {
          legend {
            font-size: 1em;
          }
        }
      }

      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 1px solid #ddb363;
      }
    }
  }
  .updateproduct__specifications {
    .updateproduct__form {
      padding: 16px;
      .input_separator {
        display: flex;
        gap: 2em;
      }
    }
  }

  .updateproduct__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    & > * {
      cursor: pointer;
    }
    .updateproduct__back {
      position: relative;
      font-size: 20px;
      color: #002d56;
      text-decoration: none;

      margin-left: 1em;
      &::before {
        content: "";
        border-left: 1px solid black;
        border-top: 1px solid black;
        transform: rotate(315deg);
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        left: -1em;
        top: 6px;
        color: #002d56;
      }
    }

    .updateproduct__submit {
      font-size: 18px;
      padding: 0.6em 7.2em;
      background: linear-gradient(#20639b, #002d56);
      color: white;
      border-radius: 24px;
    }
  }
}
