.directenquiries_container {
  .directenquiries__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 2em;
    flex-wrap: wrap;

    .directenquiries__btton_content {
      p {
        width: calc(90% / 4);
        text-align: center;
        margin: 0;
        min-width: 200px;
        white-space: nowrap;
        padding: 0.7em 1.2em;
        background-color: #f0f0f0;
        color: #333c42;
        font-size: 16px;
        font-weight: 600;
        border-radius: 25px;
        cursor: pointer;
      }
      .directenquiries__selected {
        background: linear-gradient(#ffd788, #cc9b3e);
        color: white;
      }
    }
  }

  .directenquiries__table {
    margin-top: 3em;
    box-shadow: unset;
    .MuiTypography-root {
      font-size: 16px;
      letter-spacing: 0.75px;
    }
    .MuiTableHead-root {
      .MuiTableCell-root {
        font-size: 16px;
        color: #959595;
        text-align: center;
        font-weight: 600;
         border-top: 1px solid rgba(224, 224, 224, 1);
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        z-index: 9;
      }
    }
    .MuiTable-root {
      .MuiTableFooter-root {
        display: none;
      }
    }
    .MuiTableBody-root {
      .MuiTableCell-root {
        font-size: 14px;
        text-align: center;
        color: #333c42;
      }
      .directenquiries__order_id {
        font-weight: 600;
      }
      .return_quantity {
        border: 1px solid #cecece;
        border-radius: 24px;
        padding: 0.3em 0.9em;
        .value {
          font-weight: 600;
        }
      }
      .directenquiries_products {
        .directenquiries_product_warranty {
          font-size: 14px;
          font-weight: 600;
          color: #002d56;
          background: #f8f0e0;
          width: max-content;
          padding: 5px 8px;
          margin-left: auto;
        }
        .directenquiries_product_name {
          font-size: 14px;
          font-weight: 500 !important;
          color: #333c42;
          padding-top: 5px;
        }
      }
      .directenquiries__pending {
        color: #FF0000;
        font-size: 16px;
        font-weight: 600;
        background-color: #FFE2E2;
        padding: 0.4em 0.9em;
        border-radius: 28px;
      }
      .directenquiries__accepted {
        color: #20639b !important;
        font-weight: 600;
        font-size: 16px;
        background-color: #d5ecff !important;
        padding: 0.4em 0.9em;
        border-radius: 28px;
      }
      .directenquiries__closed {
        color: #00b91c;
        font-weight: 600;
        font-size: 16px;
        background-color: #e6ffea;
        padding: 0.4em 0.9em;
        border-radius: 28px;
      }
      .actions {
        text-decoration: underline;
        color: #002d56;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
      }
      .directenquiries__open {
        color: #d9ad59;
        font-weight: 600;
        font-size: 16px;
        background-color: #fff6e5;
        padding: 0.4em 0.9em;
        border-radius: 28px;
      }
    }
  }
  .directenquiries__footer {
    cursor: pointer;
    // position: absolute;
    align-items: center;
    margin-top: 20px;

    //   width: 100%;
    padding: 0 2em;
    .directenquiries__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        .MuiSvgIcon-root {
          color: #002d56;
        }
        span {
          font-size: 20px;
          color: #002d56;
          font-weight: 600;
          margin-left: 0.6em;
        }
      }
      .directenquiries_btn {
        width: 30% !important;
        text-decoration: none !important;
        font-size: 18px !important;
        letter-spacing: 0.54px !important;
        min-width: 245px !important;
        border-radius: 45px !important;
        border: none !important;
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff !important;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        font-weight: 600 !important;
        padding: 10px !important;
        text-transform: capitalize !important;
      }
    }
  }
}

@media (max-width: 1660px) {
  .directenquiries__table {
    .MuiTable-root {
      .MuiTableHead-root {
        .MuiTableCell-root {
          font-size: 16px;
        }
      }

      .MuiTableBody-root {
        .MuiTableCell-root {
          font-size: 14px;
        }

        .directenquiries_products .directenquiries_product_name {
          font-size: 14px;
        }
      }
    }
  }

  .directenquiries_container .directenquiries__table .MuiTableBody-root {
    .directenquiries__accepted,
    .directenquiries__closed,
    .directenquiries__open,
    .actions {
      font-size: 14px;
    }
  }
  .directenquiries_container
    .directenquiries__footer
    .directenquiries__container
    a
    span {
    font-size: 16px;
  }
  .directenquiries_container
    .directenquiries__footer
    .directenquiries__container
    a
    .MuiSvgIcon-root {
    width: 0.6em;
    height: 0.6em;
  }
  .directenquiries_container
    .directenquiries__buttons
    .directenquiries__btton_content
    p {
    padding: 0.5em 1.2em;
    font-size: 16px;
  }
}

@media (max-width: 926px) {
  .directenquiries__table {
    .MuiTable-root {
      .MuiTableHead-root {
        display: none;
      }

      .MuiTableBody-root {
        .MuiTableCell-root {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
  // .directenquiries_container .directenquiries__buttons .directenquiries__btton_content {
  //   width: 100%;
  // }
  .directenquiries_container .directenquiries__buttons {
    flex-direction: column;
    gap: 30px;
  }
  .directenquiries_container
    .directenquiries__buttons
    .directenquiries__btton_content {
    width: 56%;
  }
}

@media (max-width: 768px) {
  .directenquiries_container
    .directenquiries__buttons
    .directenquiries__btton_content {
    width: 100% !important;
  }
  .directenquiries__table .MuiTable-root .MuiTableBody-root .MuiTableCell-root {
    justify-content: flex-end;
  }
  .directenquiries_container .MUIDataTableBodyCell-stackedCommon-70 {
    width: 100%;
    font-size: 28px;
  }
  .directenquiries_container .MUIDataTableBodyCell-stackedCommon-72 {
    width: 100%;
    font-size: 28px;
  }
  .directenquiries__table {
    .MuiTable-root {
      .MuiTableHead-root {
        display: none;
      }

      .MuiTableBody-root {
        .MuiTableCell-root {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
