.Productslists{
    display: flex;
    background-color: #002D56;
    justify-content:space-around;
    height: 83px;

    
}
.Product_List_Icons{
    display: flex;
    justify-content: flex-start; 
    gap: 30px;
    
}
.Product_icon_Section{
    display: flex;
    flex-direction: row;
    gap: 10px;
     margin-left: -148px; 
}
.Product_Head_Icons1{
    height:25px ;
}
.Productslist_Head_Icon,
.Product_Head_Icons{
    height: 25px;
    padding-top: 30px;
}
.Productlist_icon2_section{
    display: flex;
    gap: 20px;
}
.Product_Icon2{
    height: 30px;
    margin-left: 20px;
    padding-top: 20px;
}
 .Products_icon_Section{
    display: flex;
    gap: 10px;
} 


.Products_Icon_Heading{
    color: #FFFFFF;
    margin-top:0px ;
    /* position: absolute; */
}
.Products_Search{
    display: flex;
    padding-top: 23px;
    height: 30px;
    color: white;
   
   
    
}
 .Products_Search_bar{
    background-color:#002D56 ;
    border: 1px solid #BFBFBF;
    color: #FFFFFF;
    width: 400px;
    padding-top: 0px;
    height: 34px;
    margin-left: 10px;
    text-align: left;
    padding-left: 37px;
    border-radius: 5px;
} 
.Products_Search_bar:focus{
    border: none;
}
.Productslists_HubsConditions_1st{
    /* border: 1px solid white; */
}
.Productlists_Pricesdownload,
.Productslists_HubsConditions{
    display: flex;
    gap: 25px;
    padding-top: 12px;
}
.Product_fa_Icon{
    margin-left: 10px;
    position: absolute;
    padding: 9px;
    color: #FFFFFF;
    
}
.Products_Menu{
    display: flex;
    padding-top: 1px;
    
}
 .Products_Menu_list{
    list-style: none;
    display:flex;
    color: #BFBFBF;
    justify-content: space-around;
    gap: 10px;
    opacity: 1;
    padding:9px;
    margin-top: 13px;
} 
/* .Products_Menu_list:hover{

} */
.Products_Menu_list_Content{
    display: flex;
    list-style:none;
    border: 1px solid #BFBFBF;
    height: 20px;
    gap: 30px;
    padding: 7px;
    border-radius: 5px;
    
}
 .Product_Download_icon{
    margin-top: 4px;
    padding-left: 10px;
} 
.Product_Download_img{
    display: flex;
    padding-top: 16px;
    height: 30px;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;   
}
.Mobile_View,
.Products_Downloadangle{
    display: none;
}
.Productslists_HubsConditions_text{
    color: white;
    border: 1px solid white;
    margin: 11px 0px 0px 0px;
    height: 25px;
    padding: 5px;
    border-radius: 3px;
    opacity: .6;
}



