.vieworders_main {
  padding-top: 20px;
  .vieworders_heading_section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    .id_heading {
      color: #858a8e;
      font-size: 18px;
      letter-spacing: 0.9px;
      margin-right: 5px;
      margin: 0;
    }
    .attach_invoice_btn {
      min-width: 25% !important;
    }
    .id {
      color: #ddb363;
      font-size: 18px;
      font-weight: 600;
      margin-top: 6px;
      margin: 0;
      letter-spacing: 1px;
      margin-left: 5px;
    }
    .status {
      box-shadow: 0px 3px 6px #00000029;
      font-size: 14px;
      font-weight: 600;
      color: #20639b;
      background-color: #d5ecff;
      border-radius: 25px;
      padding: 7px 25px;
      text-align: center;
      margin: 0 10px;
    }
  }
  .vieworders__table {
    margin-top: 1em;
    box-shadow: unset;
    .MuiTypography-root {
      font-size: 20px;
      letter-spacing: 0.75px;
    }
    .MuiTableHead-root {
      .MuiTableCell-root {
        font-size: 18px;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.54px;
        font-weight: 600;
        z-index: 9;
        background-color: #002d56;
      }
    }
    .MuiTable-root {
      .MuiTableFooter-root {
        display: none;
      }
    }
    .MuiTableBody-root {
      .MuiTableRow-root:last-child .MuiTableCell-root {
        // border-bottom: 0;
      }
      .MuiTableRow-root {
        vertical-align: top;
      }
      //  .MuiTableRow-root:first-child{
      //    .MuiTableCell-root {
      //      padding-top: 15px;
      //   }
      //  }
      .MuiTableCell-root {
        font-size: 16px;
        text-align: center;
        color: #333c42;
        letter-spacing: 0.54px;
        padding: 5px 8px;
        // vertical-align: baseline;
      }
      .productname {
        display: flex;
        gap: 10px;
        .product {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .modal_name {
            color: #333c42;
            font-size: 16px;
            letter-spacing: 0.6px;
            font-weight: 600;
            text-align: left;
          }
          .modal_content {
            color: #333c42;
            font-size: 16px;
            letter-spacing: 0.54px;
            text-align: left;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .serial_number {
            text-align: start;
            padding: 10px 0;
            cursor: pointer;
            span {
              color: #002d56;
              font-size: 16px;
              font-weight: 600;
              text-decoration: underline;
              align-items: center;
              display: flex;
            }
          }
        }
      }
      .vieworders_price {
        width: auto;
        .inr {
          font-size: 14px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 24px;
          letter-spacing: 0.84px;
          font-weight: 600;
        }
      }
      .vieworers_sky {
        width: auto;
      }
      .vieworders_total {
        gap: 5px;
        width: auto;

        .inr {
          font-size: 14px;
          font-weight: 700;
        }
        .price {
          color: #5c6369;
          font-size: 24px;
          letter-spacing: 0.84px;
          font-weight: 600;
        }
      }
    }
  }
  .vieworders_detail_section {
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .heading {
      color: #002d56;
      font-size: 24px;
      font-weight: 600;
      margin: 0;
    }
    .details {
      display: flex;
      justify-content: flex-start;
      gap: 20px;
      flex-direction: column;
      .hr_line {
        width: 56%;
        opacity: 0.8;
        hr {
          border: 1px solid #ddb363;
        }
      }
      .vieworder_address {
        display: grid;
        grid-template-columns: 64% 34%;
        grid-gap: 2%;
        .address_section {
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        .vieworders_shippingaddress_section {
          display: flex;
          gap: 40px;
          width: 80%;
          .vieworders_shippingaddress {
            .vieworders_list {
              list-style: none;
              display: flex;
              flex-direction: column;
              gap: 10px;
              .heading {
                font-size: 20px;
                color: #20639b;
                font-weight: 600;
                opacity: 1;
              }
              .address_heading {
                color: #e9be6c;
              }
              .name {
                color: #858a8e;
                font-size: 22px;
                letter-spacing: 0.72px;
                font-style: italic;
                font-weight: 600;
                opacity: 1;
              }
              .address {
                color: #959595;
                font-size: 16px;
                letter-spacing: 0.6px;
                white-space: wrap;
              }
            }
          }
          .vieworders_payment_section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            .payment_heading {
              margin: 0;
              font-size: 20px;
              color: #20639b;
              font-weight: 600;
              opacity: 1;
            }
            .payment_type {
              margin: 0;
              color: #959595;
              font-size: 20px;
              letter-spacing: 0.6px;
              font-style: italic;
              font-weight: 600;
            }
          }
          .payment_block {
            width: 35%;
          }
          .transaction_block {
            .vieworders_list {
              background-color: #fff;
              padding: 10px 15px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              .block_title {
                color: #333c42;
                font-size: 16px;
                font-weight: 600;
                .value {
                  color: #333c42;
                  font-size: 18px;
                  font-weight: 400;
                  margin: 0 10px;
                }
                .symbol_value {
                  color: #333c42;
                  font-size: 12px;
                  font-weight: 400;
                  margin: 0 0px 0 10px;
                }
                .price_value {
                  font-size: 18px;
                  font-weight: 400;
                  color: #333c42;
                }
                .MuiDivider-root {
                  min-height: 10px;
                }
                .value_price {
                  margin-left: 10px;
                  font-size: 18px;
                  font-weight: 400;
                  margin-left: 10px;
                }
              }
              .date_time {
                display: flex;
                align-items: center;
              }
            }
            .update_transaction_block {
              color: #002d56;
              font-size: 16px;
              font-weight: 600;
              text-decoration: underline;
            }
          }
        }
        .vieworders_total {
          background-color: #ffffff;
          padding: 30px;
          height: max-content;
          display: flex;
          flex-direction: column;
          gap: 20px;
          .hr {
            border: 0.5px dashed #20639b;
            width: 100%;
          }
          .vieworders_list {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            .taxes {
              display: flex;
              flex-direction: column;
              width: fit-content;
              gap: 10px;
              .total_amount_heading {
                font-size: 26px;
                color: #002d56;
                font-weight: 600;
              }
              .gst {
                font-size: 14px;
                color: #5c6369;
                text-align: center;
              }
            }
            .total_heading {
              color: #878787;
              font-size: 20px;
              letter-spacing: 0.66px;
              font-weight: 600;
              border: 1px #00000000;
              text-align: left;
            }
            .total_amount1 {
              color: #333c42;
              font-size: 22px;
              letter-spacing: 0.78px;
              margin-left: 4%;
              font-weight: bold;
              .currency {
                font-size: 12px;
                letter-spacing: 0.51px;
                font-weight: 400;
              }
            }
          }
        }
      }

      .download_document {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .vieworders_emtpy {
          width: 80%;
        }
        .remart_block {
          width: 40%;
          background-color: #f8f0e0;
          box-shadow: 0px 3px 6px #00000029;
          padding: 1em 2em;
          .handover_document_section {
            text-align: center;
            display: flex;
            align-items: center;
            padding: 10px 0;
          }
          .remkark_section {
            display: flex;
            flex-direction: column;
            .remark_title {
              padding: 5px 0;
              color: #002d56;
              text-transform: capitalize;
              font-size: 14px;
              font-weight: 600;
            }
            .remark_content {
              letter-spacing: 0.42px;
              color: #333333;
              font-size: 12px;
              font-weight: 400;
            }
          }
        }
        .document_text {
          margin-left: 5px;
          color: #002d56;
          font-size: 16px;
          font-weight: 600;
          text-decoration: underline;
          cursor: pointer;
        }
        img {
          cursor: pointer;
        }
      }
    }
  }

  .vieworders__bg {
    margin: 0;
    height: 8px;
    background-color: lightgrey;
  }
  .order_info_section1 {
    width: 30%;
    .username {
      padding: 5px 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
  .order_info_section2 {
    width: 70%;
    .order_track_info {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      justify-content: flex-end;
      gap: 2em;
      .common-btn {
        width: calc(100% / 3);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 15px;
        border-radius: 25px;
        max-width: 100%;
        cursor: pointer;
        .download_text {
          color: #002d56;
          text-decoration: underline;
          font-size: 16px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
      .invoice-btn {
        padding: 0;
        width: fit-content;
        // max-width: 25%;
        cursor: pointer;
      }
    }
    .order_user_info {
      display: flex;
      justify-content: flex-end;
      padding: 10px 0;
      .username {
        padding: 5px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40%;
      }
    }
  }
  .my_orders_info__footer {
    .my_orders_info__container {
      p {
        align-items: center;
        display: flex;
        color: #002d56;
        svg {
          cursor: pointer;
          width: 0.6em;
          height: 0.6em;
        }
        span {
          cursor: pointer;
          font-weight: 600;
          margin-left: 0.6em;
        }
      }
    }
  }
}
/* modal popup design here */
.serial_number_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  .serial_popup_main {
    background: #f8f0e0;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    height: 45vh;
    cursor: pointer;
    max-width: 700px;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;

    // position: absolute;
    // display: flex;
    // flex-direction: column;
    // max-width: 700px;
    // width: 100%;
    // box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;
    // background-color: #FFFFFF;
    // z-index: 9;
    // padding: 1em;
    // gap: 30px;
    // height: 87vh;
    // z-index: 1;
    // min-height: 70vh;
    // border-radius: 3px;
    // overflow-x: auto;
    // box-shadow: 0 0 12px 2px rgb(0 0 0 / 35%);
    // background: #F8F0E0;
    .serial_popup_block {
      height: 45vh;
      min-height: 45vh;
      overflow-y: auto;
      padding: 1em 2em;

      .address_title {
        padding: 10px 0;
        letter-spacing: 0.9px;
        color: #ddb363;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
    .serial_popup_clear_btn {
      float: right;
      background-color: #ffff;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 4px;

      color: black;
      font-weight: 800;
      top: -28px;
      right: -33px;

      width: 1em !important;
      height: 1em !important;
      position: absolute;
    }
  }

  .serial_number_block {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    .serial_number_block {
      border: 1px solid #cecece;
      border-radius: 24px;
      background-color: #fff;
      text-align: center;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 1660px) {
  .vieworders_main .vieworders_heading_section .id_heading,
  .vieworders_main .vieworders_heading_section .id {
    font-size: 16px;
  }
  .vieworders_main .vieworders_heading_section .status {
    padding: 2px 20px;
    margin: 0 10px 5px;
  }
  .vieworders_main
    .vieworders__table
    .MuiTableBody-root
    .productname
    .product
    .modal_name {
    font-size: 16px;
  }
  .vieworders_main
    .vieworders__table
    .MuiTableBody-root
    .productname
    .product
    .modal_content {
    font-size: 14px;
  }
  .vieworders_main .vieworders__table .MuiTableBody-root .vieworders_price,
  .vieworders_main .vieworders__table .MuiTableBody-root .vieworders_total {
    .inr {
      font-size: 14px;
    }
    .price {
      font-size: 18px;
    }
  }
  .vieworders_main .vieworders_detail_section .heading {
    font-size: 22px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    .vieworders_payment_section .payment_heading,
    .vieworders_shippingaddress .vieworders_list {
      .address,
      .heading,
      .name {
        font-size: 18px;
      }
    }
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section
    .vieworders_payment_section
    .payment_heading {
    font-size: 18px;
  }
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    .vieworders_shippingaddress_section
      .vieworders_payment_section
      .payment_type,
    .vieworders_total .vieworders_list .total_heading {
      font-size: 18px;
    }
  }

  .vieworders_main .vieworders_detail_section {
    gap: unset;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .total_amount {
    .currency {
      font-size: 12px;
    }
    font-size: 20px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .taxes
    .total_amount_heading {
    font-size: 20px;
  }
  .vieworders_main .order_info_section1 {
    width: 55%;
  }
  .vieworders_main .order_info_section2 .order_user_info .username {
    width: 100%;
  }
}
@media (max-width: 1366px) {
  .vieworders_main {
    .vieworders_detail_section .details .vieworder_address {
      grid-template-columns: 53% 45%;
    }
  }
}

@media (max-width: 1200px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 960px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .address_section {
    width: 100%;
  }
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    justify-content: center;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .hr {
    border: 1px dashed #20639b;
  }
  .vieworders_main .vieworders__table .MuiTableBody-root .vieworders_total {
    .inr {
      font-size: 12px;
    }
    .price {
      font-size: 18px;
    }
  }
  .vieworders_main .vieworders__table .MuiTableBody-root .productname {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .vieworders_main .vieworders_detail_section .details .vieworder_address {
    grid-template-columns: 100%;
    .vieworders_total .vieworders_list .taxes .gst {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 580px) {
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_shippingaddress_section {
    flex-direction: column;
  }
  .vieworders_main .vieworders_detail_section {
    padding: 20px 10px;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total {
    padding: 10px;
    margin: 0 10px;
  }
}

@media only screen and (max-width: 480px) {
  .vieworders_main .vieworders_heading_section {
    flex-direction: column;
    align-items: center;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list {
    flex-direction: column;
  }
  .vieworders_main
    .vieworders_detail_section
    .details
    .vieworder_address
    .vieworders_total
    .vieworders_list
    .taxes
    .gst {
    text-align: left;
  }
}

@media (max-width: 1100px) {
  .vieworders_main {
    .vieworders_heading_section {
      // flex-direction: column;
      .order_info_section1 {
        width: 100%;
      }
      .order_info_section2 {
        width: 100%;
      }
    }
    .vieworders_detail_section {
      .details {
        .vieworder_address {
          grid-template-columns: 100%;
          .vieworders_total {
            padding: 10px 15px;
            gap: 15px;
            .vieworders_list {
              .taxes {
                span {
                  text-align: center !important;
                }
              }
            }
          }
        }
        .download_document {
          padding: 10px 0;
          .vieworders_emtpy {
            width: 0%;
          }
          .remart_block {
            width: 100%;
          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .vieworders_main {
    .vieworders_heading_section {
      flex-direction: column;
    }
  }
  .serial_number_popup {
    margin: 2.5em;
    .serial_popup_main {
      height: 45vh;
      .serial_popup_block {
        height: 45vh;
        min-height: 45vh;
        padding: 10px 15px;
      }

      .serial_popup_clear_btn {
        top: -25px;
        right: -25px;
      }

      .serial_popup_block {
        .serial_number_block {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .vieworders_main {
    .vieworders_heading_section {
      flex-direction: column;
      .id_heading {
        font-size: 12px;
      }
      .id {
        font-size: 12px;
      }
    }
    .order_info_section2 {
      .order_track_info {
        flex-direction: column;
        gap: 15px;
        .common-btn {
          width: 100%;
          max-width: 100%;
        }
      }
      .order_user_info {
        justify-content: center;
        .username {
          margin-right: 10px;
          width: 100%;
        }
      }
    }
    .vieworders__table {
      .MuiTableBody-root {
        .productname {
          flex-direction: column;
          img {
            width: 50px;
          }
          .product {
            .modal_name {
              font-size: 16px;
            }
            .modal_content {
              -webkit-line-clamp: 2;
            }
            .serial_number {
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .vieworders__detailscontainer {
      .vieworders_detail_section {
        .details {
          .vieworder_address {
            .address_section {
              .vieworders_shippingaddress_section {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .serial_number_popup {
    margin: 2em;
  }
  .serial_number_popup
    .serial_popup_main
    .serial_popup_block
    .serial_number_block {
    grid-template-columns: repeat(2, 1fr);
  }
  .vieworders_main .vieworders_heading_section .attach_invoice_btn {
    min-width: 100% !important;
  }
}
