.wishlist_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .MuiBackdrop-root {
    background-color: none !important;
    opacity: 0.4;
  }
  left: 0;
  bottom: 0;
  .wishlist_main {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;
    background-color: #ffffff;
    z-index: 9;
    gap: 30px;
    max-height: 80vh;
    .wishlist_main_block {
      padding: 1em 3em;
      height: 50vh;
      min-height: 43vh;
      overflow: auto;
    }

    .clear_btn {
      position: absolute;
      top: -28px;
      right: -28px;
      cursor: pointer;
      background: #ffffff;
      color: #002d56;
      border-radius: 3px;
      width: 1em;
      height: 1em;
    }
    .wishlist_product {
      display: flex;
      gap: 20px;
      padding: 10px 0;
      align-items: center;
      .wishlist_img {
        height: 80px;
      }
      .description {
        font-size: 16px;
        color: #333c42;
        border: 1px #00000000;
        letter-spacing: 0.6px;
        text-transform: capitalize;
        opacity: 1;
        font-weight: 600;
      }
    }
    .wishlist_product_section {
      p {
        font-size: 18px;
        color: #5c6369;
        opacity: 1;
        margin-top: 0;
      }
      .MuiTypography-root {
        font-size: 18px;
        color: #4e4e4e;
      }
      .MuiFormGroup-root {
        width: fit-content;
      }
      .pdpwishlisthceckbox {
        padding: 9px 9px 9px 9px;
      }
    }
    .wishlist_bts {
      display: flex;
      justify-content: space-between;
      padding: 1.5em 0;
      width: 100%;
      .wishlist_create_btn {
        min-width: 45%;
        border-radius: 25px;
        border: none;
        background: linear-gradient(180deg, #ffd788 0%, #ad7c20 100%);
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%) !important;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: capitalize;
        gap: 5px;
        font-size: 14px;
      }
      .wishlist_add_btn {
        min-width: 45%;
        border-radius: 25px;
        border: none;
        background: linear-gradient(180deg, #20639b 0%, #002d56 100%);
        color: #ffffff;
        cursor: pointer;
        box-shadow: 0px 3px 6px rgb(0 0 0 / 16%);
        font-weight: 600;
        letter-spacing: 1px;
        gap: 5px;
        text-transform: capitalize;
        font-size: 14px;
      }
    }
    .inputplace {
      display: flex;
      gap: 15px;
      padding: 10px 0;
      .inputfield {
        position: relative;
        width: 80%;
        .MuiFormControl-root.wishlistsave_input {
          width: 100%;
          .MuiOutlinedInput-root {
            border: 1px solid #d6d8d9;
            border-radius: 4px;
            input {
              height: 48px;
              //padding: 0 10px;
              padding: 0 114px 0 10px;
              outline: 0;
            }
          }
        }
        .wishlist_save_btn {
          position: absolute;
          right: 10px;
          top: 10px;
          bottom: 10px;
          background-color: #002d56;
          color: #ffffff;
          border-radius: 4px;
          border: none;
          width: 100px;
          font-size: 18px;
        }
      }
      p {
        font-size: 18px;
        color: #002d56;
        font-weight: 600;
        text-decoration: underline;
        margin: 12px;
      }
    }
    .back_to_pdp {
      display: flex;
      padding: 15px 0;
      align-items: center;
      .MuiSvgIcon-root {
        height: 0.6em;
        width: 0.6em;
        color: #002d56;
      }
      .back {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        text-decoration: underline;
        color: #002d56;
      }
    }
  }
}
@media (max-width: 1440px) {
  .wishlist_modal .wishlist_main {
    max-width: 700px;
    width: 100%;
    // padding: 10px 15px;
    .clear_btn {
      width: 1em !important;
      height: 1em !important;
      top: -28px;
      right: -33px;
    }
    .wishlist_main_block {
      padding: 10px 15px;
    }
    .wishlist_product {
      .description {
        font-size: 14px;
      }
      .wishlist_img {
        width: 60px;
        height: 60px;
      }
    }
    .wishlist_product_section {
      p {
        font-size: 16px;
      }
      .MuiFormGroup-root .pdpwishlist_label {
        margin-left: 0;
      }
    }
    .wishlist_bts {
      button {
        font-size: 14px !important;
      }
    }
    .back_to_pdp .back {
      font-size: 14px;
    }
  }
}
@media (max-width: 900px) {
  .wishlist_modal .wishlist_main {
    max-width: 600px;
    width: 100%;
    .clear_btn {
      width: 1em !important;
      height: 1em !important;
      top: -28px;
      right: -33px;
    }
    .wishlist_main_block {
      padding: 10px 15px;
    }
    .wishlist_product {
      .wishlist_img {
        width: 60px;
        height: 60px;
      }
    }
    .inputplace {
      justify-content: space-between;
    }
  }
}

@media (max-width: 599px) {
  .wishlist_modal .wishlist_main {
    // padding: 10px 15px;
    max-width: 300px;
    width: 100%;
    .clear_btn {
      width: 1em !important;
      height: 1em !important;
      top: -25px;
      right: -25px;
    }
    .wishlist_main_block {
      //  margin: 10px 20px;
    }
    .wishlist_product {
      .wishlist_img {
        width: 60px;
        height: 60px;
      }
    }
    .inputplace {
      justify-content: space-between;
      flex-direction: column;
      .inputfield {
        width: 100%;
      }
    }
    .wishlist_bts {
      flex-direction: column;
      gap: 15px;
      button {
        min-width: 100%;
        font-size: 14px;
      }
    }
  }
}
@media (max-width: 320px) {
  .wishlist_modal .wishlist_main {
    padding: 10px 10px;
    max-width: 250px;
    width: 100%;
    .wishlist_main_block {
      margin: 0px;
    }
  }
}
